/*** Login form styling ***/
#login,
#lost_password,
#registration_form{
padding: 20px;
}

#login form,
#lost_password form,
#registration_form form{
padding: 20px 30px;
border: 1px solid #cccccc;
background: #ffffff;
}

#login .row,
#lost_password .row,
#registration_form .row{
clear: left;
height: 30px;
min-height: 30px;
}

html>body #login .row,
html>body #lost_password .row,
html>body #registration_form .row{
height: auto;
}

#login label,
#lost_password label,
#registration_form label{
display: block;
float: left;
width: 100px;
}

#login input,
#lost_password input,
#registration_form input{
float: left;
margin-right: 10px;
}

#login .lostpasssword,
#login .register{
padding: 5px 0px;
clear: left;
}

#registration_form #req,
#lost_password #pass_desc,
#lost_password #pass_multiple{
padding: 10px 0px;
}