<?php
$date = strtotime($entry['created']);
			$date_display = ltrim(strftime("%d %b %Y ", $date), "0");
			$time_display = ltrim(strftime("%I:%M %p", $date), "0");
			$date_display = i8n_date($date_display);
		?>

<div class="entryContent">
    <div class="entry">
    	<table class="entryTitle"  cellspacing="0" cellpadding="0">
			<tr>
				
				<td class="categoryCell">
					<?php echo $entry['categories']; ?>
				</td>
				<td class="my-dateCell">
					<?php echo $date_display; ?>
				</td>
				<?php
					if ($entry['avatar'] != "")
					{
				?>
				<td class="my-avatarCell" rowspan="2" width="<?php echo $entry['avatarWidth'];?>"">
					<div class="userAvatar">
					<?php echo $entry['avatar']; ?>
					</div>
				</td>
				<?php
					}
				?>	
			</tr>
			<tr>
				<td class="my-titleCell">
					<a href="<?php echo $entry['permalink']; ?>"><?php echo $entry['title']; ?></a>
					<span style="color:#999999">by </span><?php echo $entry['author']; ?>
				</td>
				<td class="my-titleCell">
				<div id="usersLink" style="float:right;clear:both;">
<?php
							if($enablePrintLink){
                          		echo myGetPrintLink($entry['id'],myGetItemId());
							}
							echo '&nbsp;';
					        if($enablePdfLink){
       							echo myGetPDFLink($entry['id'],myGetItemId());
						    }
?>
				</div>
				</td>
			</tr>
		</table>
		<?php 
		if ($entry['beforeContent'])
		{ ?>
		<div class="onBeforePrepareContent">
			<?php echo $entry['beforeContent'];?>
		</div>
		<?php
		}
	    ?>
        <div class="entry-body"> 
			<?php echo $entry['text']; ?> 
			<div class="clear"></div>
		</div>
        <?php if ($entry['afterContent'])
		{ ?>
		<div class="onAfterPrepareContent">
			<?php echo $entry['afterContent'];?>
		</div>
		<?php
		}
	    ?>
		<div class="entry-footer">
			
			<!--<a href="<?php echo $entry['titleLink']; ?>">Read More...</a></div>-->
		</div>
		<div>
        	<?php echo $entry['comments']; ?>
        </div>
    </div>
</div>
