/* css for help.files of components
 * last_edit: 2007.05.05
 */
body {
	font-family		: arial, verdana, sans-serif;
	color			: #333333;
}

img {
	border			: none;
}

h1 {
	color			: #30559C;
	font-size		: 112%;
	border-left		: 25px solid #30559C;
	border-bottom	: 1px solid #30559C;
	padding			: 0 0 2px 5px;
}

.header {
	font-size		: 108%;
	font-weight     : bold;
}

.docinfo {
	float           : left;
	text-align		: left;
	font-size		: 93%;
	color			: #30559C;
}
.close {
	width			: 100%;
	float           : right;
	text-align		: right;
	clear			: both;
}

.warningHeader {
	color			: #CC0000;
	font-weight     : bold;
}
.warning {
	margin			: 2px;
	padding			: 3px;
	border			: 1px solid #999999;
	background  	: #FFDDDD;
}
.warning:hover {
	border			: 1px solid #FF0000;
	margin			: 2px;
	padding			: 3px;
}

li {
	font-weight     : normal;
}

