/**
* "Minted One-Point-Five" Administrator Template for Joomla 1.0.x - Version 1.0 (template_css.css)
* License: http://www.gnu.org/copyleft/gpl.html
* Author: Fotis Evangelou
* Date Created: October 12th, 2006
* Copyright (c) 2006 JoomlaWorks.gr - http://www.joomlaworks.gr
* Project page at http://www.joomlaworks.gr - Demos at http://demo.joomlaworks.gr

* Joomla! is free software and parts of it may contain or be derived from works
* licensed under the GNU General Public License or other free or open source
* software licenses. See COPYRIGHT.php for copyright notices and details.
*/

/* ---Admin Stylesheet--- */

body {
font-family:Arial, Helvetica, sans-serif; /* this value controls font-families globally for this template */
font-size:11px;
color:#555;
padding:0px;
margin:0px;
text-align:left;
background:#ffffff;
}
table {}
td {font-size:11px;}
hr {border:0;border-bottom:1px dotted #ccc;background:#fff;height:1px;}
hr#system-readmore{border: 0px; border-top: 1px dashed red}
img {border:none;}
form {margin:0px;padding:0px;}
.clr {clear:both;}
.spacer {clear:both;margin-bottom:4px;}
.red {color:#c63434;}


/* ------ Layout ------ */
#minted {width:779px;margin:8px auto;text-align:left;}
#content_wrapper {background:#fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;
margin:0px;padding:0px;}
#inner {padding:4px; text-align: left;}


/* ---Header--- */
#header {width:100%;border-bottom:4px solid #bce27f; height: 45px; background: #000000;}
#hl {background:url(../images/header_bg_l.png) no-repeat left top;}
#hr {background:url(../images/header_bg_r.png) no-repeat right top;}
#hc {background:url(../images/header_bg.png) repeat-x top;}
#home {margin:0px 0px 0px 12px;padding:0px;background:url(../images/header_text.png) no-repeat top left;width:340px;height:45px;}
#home a {display:block;width:300px;height:45px;}

.topMenu{
border-bottom:1px solid #cdcdcd;
padding: 10px 0px;
}
.topMenu ul{
margin: 10px 0px;
padding: 0px;
list-style: none;
}

.topMenu li{
float: left;
}

.topMenu a{
display: block;
padding: 0px 10px;
}

.menutablerright{
border-bottom:1px solid #cdcdcd;
padding: 10px 5px;
}

.clear{
clear: both;
}


/* ---Top modules: Menubar, header, logout, pathway, toolbar--- */
.menubar {border-bottom:1px solid #cdcdcd;padding:0px;margin:0px;background:#fbfbfb;}

.mod_fullmenu {float:left;}
.logout {float:right;margin:5px 8px 0px 0px;text-align:right;font-weight:bold;}
.logout a {color:#c63434;font-weight:bold;padding-right:4px;}
.logout a:hover {color:#3c9b4a;}
.mod_header {float:right;text-align:right;width:150px;margin:2px 50px 0px 0px;}
.mod_header div {border:0px;margin:0px;padding:0px 5px;display:inline;}
#loading {float:right;margin:4px 30px 0px 8px;background:url(../images/activity.gif) no-repeat left;padding:1px 0px 1px 22px;color:#c63434;font-weight:bold;}
.pathway_toolbar {width:100%;padding:0px;margin:0px;}
.pathway_toolbar tr td {padding:0px;margin:0px;}
.mod_pathway {width:30%;}
.mod_toolbar {width:70%;}
span.pathway {margin:4px 0px 4px 0px;padding:2px 0px 2px 25px;background:url(../images/home.png) no-repeat 5px 0px;white-space:nowrap; display: block;
border-bottom:1px solid #CDCDCD;}
.white {border-top:1px solid #ffffff;}


/* ------ Typography ------ */
a {color:#3c9b4a;text-decoration:none;}
a:hover {color:#c63434;text-decoration:underline;}
a:active {color:#c63434;text-decoration:underline;}
h1 {

font-size:1.8em;
color:#7b9f53;
padding:0px;
margin:0px;
font-weight:normal;
text-decoration:none;
}
h2 {

font-size:1.6em;
color:#c63434;

font-weight:normal;
text-decoration:none;
}
h3 {

font-size:1.2em;
color:#c63434;
padding:0px;
margin:0px;
font-weight:bold;
text-decoration:none;
}


.pagenav {font-size:10px;}
a.pagenav {color:#808080;font-size:10px;text-decoration:underline;}
a.pagenav:hover {color:#FFF;font-size:10px;}
a.pagenav:active {color:#333;font-size:10px;}
.sectionname {color:#27552E;font-size:18px;font-weight:bold;}
.button {border-top:solid 1px #d5d5d5;border-right:solid 1px #808080;border-bottom:solid 1px #808080;border-left:solid 1px #d5d5d5;color:#333;font-weight:bold;}
.inputbox {z-index:-3;font-size:11px;border:1px solid #ccc;}
.text_area {border:1px solid #d5d5d5;z-index:-3;font-size:11px;}

.small {color:#FF9900;text-decoration:none;}
.smallgrey {color:#999;margin:8px 0px 0px 0px;}
.error {color:#C40000;font-weight:bold;}
.contentheading,
.componentheading,
.moduleheading {font-weight:bold;}


/* Tooltips */
a.tooltip, a.tooltip:hover{color:black;text-decoration:none;border-bottom:1px dotted #aaa;}
a.tooltiplink {display:block;width:100%;}
a.tooltiplink:hover {text-decoration:none;}


/* Fieldsets */
fieldset {margin-bottom:10px;border:1px solid #d5d5d5;padding:5px;text-align:left;}
fieldset p {margin:10px 0px;}
legend {color:#555;font-size:1.1em;font-weight:bold;}


/* ---Login CSS--- */
#login #content_wrapper {background:#fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;
margin:0px;padding:0px;}
#login h1 {font-size:20px;margin-bottom:8px;}
.login_credentials {width:220px;margin:60px auto 90px auto;padding:16px 16px 16px 220px;border:1px solid #ccc;background:#fbfbfb url(../images/locked_area_m15.jpg) no-repeat;background-position:32px center;}
.login_credentials label {display:block;font-weight:bold;margin-top:4px;}
.enter {background:url(../images/login_l.png) no-repeat left;margin:8px 0px;width:90px; text-align: right}
.enter_inner {background:url(../images/login_r.png) no-repeat right; border: 0px;}
.enter_inner {padding:0px 15px 2px 0px;margin:0px;cursor:pointer;font-family:Tahoma;font-size:12px; height: 26px; width: 100px;}


/* ---End of Stylesheet--- */