  <div class="instructions">
        <h2>
        	<a href="index2.php?option=com_sm2emailmarketing&amp;task=showbounce">Bounce Manager</a></h2>
        <p>
          The SM2 Email Marketing Bounce Manager will process bounced emails and unsubscribe any Subscribers whose email has bounced too many times.
          <br />
          This option may not be available if the Bounce Processing configuration options are not set correctly.
        </p>
  </div>
