  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/config.gif" width="70" height="70" border="0" alt="Config" title="Config" />
        	<a href="index2.php?option=com_sm2emailmarketing&amp;task=showconfiguration">SM2 Email Marketing Configuration</a></h2>
        <p>
          The SM2 Email Marketing Configuration allows for the overall setting of SM2 Email Marketing Configuration options.
          <br />
          Each configuration option has its own its own popup help accessable by passing the mouse
          over the option title.
        </p>
        <h3>SM2 Email Marketing Configuration Toolbar</h3>
        <p>
          The SM2 Email Marketing Configuration toolbar contains the following options
          <dl>
            <dt>Save</dt>
            <dd>Saves the current changes to the Configuration and redirects to the Help.</dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Configuration and returns to the Configuration page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Configuration and redirects to the Help.</dd>
          </dl>
        </p>
  </div>
