  <div class="instructions">
        <h2>
          General Help
        </h2>
        <p>The following is a list of definitions used throughout this system:</p>
        <dl>
        	<dt>Template</dt>
        	<dd>A Template is used to to define the Presentation of a Message.</dd>

        	<dt>List</dt>
        	<dd>A List is used to group subscriptions. Both Client Management subscribers and List-Only subscribers can be join a list.</dd>

        	<dt>Message</dt>
        	<dd>Messages contain the content, HTML and Text, that will be sent to the Subscribers.</dd>

        	<dt>Plugins</dt>
        	<dd>A Plugin extends the functionality of SM2 Email Marketing.
          		<br />
          		Plugins are used to determine who SM2 Email Marketing Messages are sent to and can include content in the message.
          		<br />
          		SM2 Email Marketing comes standard with 2 Plugins: SM2 Email Marketing User and SM2 Email Marketing List.</dd>

          	<dt>Queue</dt>
          	<dd>A Queue is the list of unsent emails for a Message.</dd>

          	<dt>Client Management Subscribers</dt>
          	<dd>Client Management Subscribers are users who have subscribed to receive email newsletters from this website and have left more details than just their email-address.</dd>

          	<dt>List Only Subscribers</dt>
          	<dd>List Only Subscribers are users who have left just their email-address and/or selected to receive emails from one or more of your lists.</dd>

          	<dt>Stats (Statistics)</dt>
          	<dd>A collection, organization, and interpretation regarding messages and lists previously sent.</dd>

            <dt>Bounces</dt>
            <dd>Bounce are messages that have been returned because the email address was not valid. Bounce processing is only available if the correct configuration options are set and the PHP Imap extension is loaded.</dd>
        </dl>
  </div>
