<div class="instructions">
<h2>SM2 Email Marketing Licence</h2>
<p>THIS LICENSE Agreement (THIS "Agreement") IS MADE EFFECTIVE AS OF THURSDAY, 24 AUGUST 2006 (THE "EFFECTIVE DATE") BETWEEN SM2  (a division of An Integral Vision Pty Ltd) - SUITE 4 29/25 JAMES STREET, FORTITUDE VALLEY QLD AUSTRALIA 4006 ("LICENSOR") AND YOU (EITHER AN INDIVIDUAL, COMPANY OR A SINGLE ENTITY) ("LICENSEE") FOR THE PURCHASED SOFTWARE Product, INCLUDING ANY SOFTWARE, MEDIA AND ACCOMPANYING ON-LINE OR PRINTED DOCUMENTATION (HEREAFTER KNOWN AS THE "Product").</p>
<p>By downloading, installing, copying, or otherwise using the Product, you acknowledge that you have read and understand this Agreement and agree to be bound by its terms and conditions.</p>
<h4>Notification of Copyright</h4>
<p>All title and copyright in and to the Product is owned by SM2 and/or its licensors and is protected by Australian copyright laws and international treaty provisions. SM2 retains all ownership rights in the Product. The copyright notice must be reproduced and included on any copy that is expressly permitted under this Agreement.</p>
<h4>GRANT OF LICENSE</h4>
<p>If you comply with all terms and conditions of this agreement, SM2 grants you a nonexclusive license including the following rights:
<ul>
<li>You may install and use one copy of the Product within ONE (1) installation of Joomla limited to a single Domain and IP address.</li>
<li>You agree to take any reasonable steps to prevent any use of the Product that has not been specifically authorised by this Agreement.</li>
<li>Incorporation of the Product into your website, modification of the Product's source-code and incorporation of the modified source-code into your website, with exception of the licensing code.</li>
<li>You may make copies of the Product for backup and archival purposes.</li>
<li>A copy of the   Product is "in use" in a computer when it is loaded into the temporary memory (i.e., RAM) or is installed into the permanent memory (e.g., hard disk, CD-ROM, or other storage device) of that computer.</li>
<li>SM2 further grants to you the right to:
<ol>
<li>make one copy of the Product in an electronic media solely for backup or archival purposes, or</li>
<li>transfer the Product in an electronic media to a single hard disk; provided, that you keep the originals solely for backup or archival purposes. You may not copy any printed materials that are included with the Product. Copyright laws prohibit the making of additional copies of the Product for any other reason.</li>
</ol></li>
<li>You may not sublicense, rent, lease or transfer the Product. You may not alter, modify, translate, decompile, disassemble, reverse engineer, copy transfer, electronically transfer, or otherwise use the Product except as stated in this Agreement.</li>
<li>SM2 reserves all rights not expressly granted to you in this agreement.</li>
</ul></p>
<h4>RESTRICTIONS</h4>
<p>Unless you have been granted prior, written consent from SM2, you may not:
<ul>
<li>Attempt to circumvent or otherwise modify the licence.php file used for Licensing.</li>
<li>Reproduce, distribute, or transfer the Product, or portions thereof, to any third party.</li>
<li>Sell, rent, lease, assign, or sublet the software, portions thereof, or add-on modules.</li>
<li>The Product is labelled "Not for Resale" or "Demo? then, notwithstanding other sections of this Agreement, you may not use the Product for commercial purposes nor sell, or otherwise transfer it for value. If you have been provided the Product for evaluation purposes only, SM2 grants to you the right to use the Product on the same terms and conditions as stated above but only for the length of time so authorised by SM2 for your evaluation. This license and your right to use the Product thereafter is terminated, unless you obtain a separate license from SM2 and you pay to SM2 the applicable license fee.</li>
<li>Grant rights to any other person.</li>
</ul></p>
<h4>DISCLAIMER OF WARRANTY</h4>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF QUALITY, PERFORMANCE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. FURTHER, SM2 DOES NOT WARRANT THAT THE SOFTWARE OR ANY RELATED SERVICE WILL ALWAYS BE AVAILABLE.</p>
<h4>TECHNICAL SUPPORT</h4>
<p>Technical support is available only through email at support@sm2.com.au. All support requests will be acknowledged. SM2 does not provide direct phone support for this Product.</p>
<h4>REFUNDS</h4>
<p>SM2 does not give refunds under any circumstance. Before purchasing a license, you are advised to evaluate the Demo Product at <a href="http://demo.sm2joomla.com/">http://demo.sm2joomla.com/</a> , download a Demo version from <a href="http://www.sm2joomla.com">http://www.sm2joomla.com</a>, or send an e-mail to info@sm2.com.au.</p>
<h4>LIMITATION OF LIABILITY</h4>
<p>Under no circumstances and under no legal theory, offense, contract, or otherwise, shall SM2 be liable to you or any other person for any indirect, special, incidental, or consequential damages of any character including, without limitation, damages for loss of goodwill, work stoppage, computer failure or malfunction, or any and all other commercial damages or losses. In no event will SM2 be liable for any damages in excess of the amount SM2 received from you for a license to the Product, even if SM2 shall have been informed of the possibility of such damages, or for any claim by any other party.</o>
<h4>SUITABILITY</h4>
<p>The persons or company using this Product are solely responsible for thoroughly testing it to make sure it works to their satisfaction before purchasing a license and/or incorporating it into their website. By obtaining a license, the licensee indicates that the Product has met his/her expectations and runs to his/her satisfaction.</p>
<h4>TERMINATION</h4>
<p>This license and your right to use the Product
<ol>
<li>automatically terminate if you fail to comply with any provision of this Agreement, and</li>
<li>terminate upon expiration of the length of time so designated for your evaluation of the Product if you are a Demo User. Upon termination, you must destroy the Product and any copies that you have made.</li>
</ol></p>
<p>SM2 retains all rights not expressly granted, and nothing in this Agreement constitutes a waiver of SM2?s rights under copyright laws or any other federal or state law or treaty.</p>
</div>
