  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/listManager.gif" width="70" height="70" border="0" alt="List" title="List" />
          <a href="index2.php?option=com_sm2emailmarketing&amp;task=showlists">List Manager</a>
        </h2>
        <p>
          The List manager allows for the overall management of the Lists.
          <br />
          Entering text in the Keyword search will filter the List Manager based on the List Name field.
          <br />
          You can used the Page Navigation links to move between pages of List items,
          and the Display option is used to limit the number of List items displayed per page.
          <br />
          Selecting the checkboxes allows selection of List items for processing by some of the buttons on the Toolbar.
          <br />
          The # Client Subscribers and # List Subscribers field indicate the number of Confirmed and Subscribed recipients in the list.
          <br />
          Clicking on the <img src="images/expandall.png" title="+" alt="+"> icon will add all Client and List Subscribers to the List.
          <br />
          Clicking on the <img src="images/collapseall.png" title="-" alt="-"> icon will remove all Client and List Subscribers from the List.
          <br />
          Clicking on the name of the List item allows for editing of the List item.
          <br />
          Clicking on the Access value will switch between Public, Registered and Special access modes.
          <br />
          Clicking on the icon in the Published column will switch between Published and Unpublished status.
        </p>
        <p>
          <strong>List Manager Toolbar</strong>
          <br />
          The List Manager toolbar contains the following options
          <dl>
            <dt>Publish</dt>
            <dd>Allows for the Publishing of any selected List items.
              <br />
              Publishing is also possible for individual List items by clicking on the
              Unpublished status icon in the Published column.
            </dd>
            <dt>Unpublish</dt>
            <dd>Allows for the Unpublishing of any selected List items.
              <br />
              Unpublishing is also possible for individual List items by clicking on the
              Published status icon in the Published column.
            </dd>
            <dt>New</dt>
            <dd>Allows for the creation of New List items</dd>
            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected List Item.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the List Name
            </dd>
            <dt>Delete</dt>
            <dd>Allows for the Deletion of the selected List Items.
              <br />
              Deletion may not be possible if there are unsent messages that are using the selected List.
            </dd>
          </dl>
        </p>
        <p>
          <strong>Add / Edit List</strong>
          <br />
          This form allows for the creation / editing of a list item.
          <br />
          The following fields appear on the List form.
          <dl>
            <dt>List Name</dt>
            <dd>A name to identify the List.</dd>
            <dt>Description</dt>
            <dd>A description of the list that is displayed to users from the front-end when registering for the list.</dd>
            <dt>Access Level</dt>
            <dd>The access level that the list is available to.
              <dl>
                <dt>Public</dt>
                <dd>Public lists are available to everyone.</dd>
                <dt>Registered</dt>
                <dd>Registered lists are only available to Joomla user accounts</dd>
                <dt>Special</dt>
                <dd>Special lists are only available to Joomla Special users (Authors, Editors, Publishers, Managers, Administrators and Super Administrators)</dd>
              </dl>
            </dd>
            <dt>Publishing</dt>
            <dd>Determines whether the List is available to subscription. Only Published lists can be subscribed to.</dd>
          </dl>
          If the list is being edited it also includes information about the Subscribers<br />
          The Subscribers summary contains the number of both List and Client Subscribers as well as the total number of Subscribers. These totals do not include Unconfirmed or Unsubscribed users.
          <br />
          There is also a paginated list of all of the Client Management and List Only subscribers available.
        </p>
        <p>
          <strong>Add / Edit List Toolbar</strong>
          <br />
          The Add / Edit List toolbar contains the following options
          <dl>
            <dt>Save</dt>
            <dd>Saves the current changes to the List and returns to the List Manager.</dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the List and returns to the Add / Edit List page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the List and returns to the List Manager.</dd>
          </dl>
        </p>
  </div>