  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/messageManager.gif" width="70" height="70" border="0" alt="Message" title="Message" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showmessages">Message Manager</a>
        </h2>
        <p>
          The Message manager allows for the overall management of the Messages that are sent to Subscribers.
          <br />
          Entering text in the Keyword search will filter the Message Manager based on the Message Subject field.
          <br />
          You can use the Page Navigation links to move between pages of Messages,
          and the Display option is used to limit the number of Messages displayed per page.
          <br />
          Selecting the checkboxes allows selection of Messages for processing by some of the buttons on the Toolbar.
          <br />
          Clicking on the Subject of the Message allows for editing of the Mesage.
          <br />
          A Message cannot be sent more than once, but it can be Copied so it can be sent as a new Message.
        </p>
        <p>
          <h3>Message Manager Toolbar</h3>
          <br />
          The Message Manager toolbar contains the following options
          <dl>
            <dt>Preview</dt>
            <dd>Goes to the Preview screen.</dd>
            <dt>Copy</dt>
            <dd>Opens an Edit form containing the data from the first of the selected Messages.<br />
            This can then be saved as a New Message.<br />
            The Subject of the Copied message defaults to "Copy (x) of [original message subject]"
            </dd>
            <dt>New</dt>
            <dd>Allows for the creation of a New Message</dd>
            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected Message.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the Message Subject.
            </dd>
            <dt>Delete</dt>
            <dd>Deletes the selected message.<br />
              Also removed any unprocessed emails from the Queue and removes the Statistics.
            </dd>
          </dl>
        </p>
        <h3>Add / Edit Message</h3>
        <p>
          This form allows for the creation / editing of a Message.
          <br />
          The following fields appear on the Message form.
          <dl>
            <dt>Section 1</dt>
            <dd>This section contains the details about the main content of the Message.<br /></dd>
            <dt>Subject</dt>
            <dd>The subject line of the SM2 Email Marketing Message.</dd>
            <dt>Sender name</dt>
            <dd>The Name of the Person (or Entity) that the Message should come from. This defaults to
              the SM2 Email Marketing default value.
            </dd>
            <dt>Sender Email</dt>
            <dd>The Email address that the Message should come from. This defaults to the SM2 Email Marketing default value.</dd>
            <dt>Bounce Email</dt>
            <dd>The Email address that will receive bounce Emails. This defaults to the SM2 Email Marketing default value.</dd>
            <dt>Template</dt>
            <dd>The Template that will be used for the overall layout of the Message.</dd>
            <dt>HTML</dt>
            <dd>The HTML content of the Message.
              <br />
              This field contains a HTML editor so the HTML of the message can be designed quickly and easily.
              <br />
              The HTML Content will only be sent to those subscribers who have accepted HTML messages.
            </dd>
            <dt>Text</dt>
            <dd>The Text content of the Message
              <br />
              The Text layout will be sent to all subscribers. If the subscriber is receiving HTML the Text
              is also included in such a way that the HTML will be displayed if possible and if not the Text will
              be displayed instead.
            </dd>
            <dt>Variables</dt>
            <dd>You can add variables into your message and these will be replaced automatically for you with the appropriate information.<br />
            	<code>[NAME]</code> will insert the name of the person that the email is going to <br />
            	<code>[UNSUBSCRIBE]</code> will display an unsubscribe link <br />
            	<code>[DATE]</code> will display todays date <br />
            	<code>[TIME]</code> will display the time the message is sent<br />
                <code>[ARCHIVE_URL]</code> will display the url of the front end message display. This should be used in a link.<br />
                <code>[FORWARD]</code> will create the forwarding link allowing the message to be forwarded to someone else. Note: Forwarding must be enabled in the config and the link is only created in final send not in Preview or Test Message.
                <p>Include either an <code>[ITEMS]</code> tags, which places all of the selected content items, or use the <code>[ARTICLE]...[/ARTICLE]</code> block as detailed below.<p>
                <p>
                <code>[ARTICLE_TITLE]</code> - Title of the Article. Contains a named anchor (in HTML messages only) so that internal links will work.<br />
                <code>[ARTICLE_SECTION]</code> - Joomla! Section that the article belongs to</br />
                <code>[ARTICLE_CATEGORY]</code> - Joomla! Category that the article belongs to<br />
                <code>[ARTICLE_INTRO]</code> - Intro Text of the Content Item.<br />
                <code>[ARTICLE_FULL]</code> - Full Text of the Content Item. This does NOT include the Intro text. Static Content Items do not have Full Text. Do NOT include this if you want Intro Only option.<br />
                <code>[ARTICLE_URL]</code> - URL to the Content Item on the Website. For use in a link.<br />
                <code>[ARTICLE_READMORE]</code> - Fully formatted anchor that uses the Joomla! standard Read More text to create a link to the Content Item on the website.<br />
                </p>
                <p>
                These tags must be inside an <code>[ARTICLE] ... [/ARTICLE]</code> block.<br />
                i.e.<br />
                <code>[ARTICLE]<br />
                &lt;h1&gt;[ARTICLE_TITLE]&lt;/h1&gt;<br />
                [ARTICLE_INTRO]<br />
                [ARTICLE_READMORE]<br />
                [/ARTICLE]
                </code>
                </p>
                <p>Only use one such <code>[ARTICLE]</code> block in the message content as it will be replace for each event found.</p>
                <p>You can also create a Table of Contents using the <code>[ARTICLE_TOC]...[/ARTICLE_TOC]</code> block.</p>
                <p>
                <code>[ARTICLE_TOC_TITLE]</code> - Title of the Article.<br />
                <code>[ARTICLE_TOC_LINK]</code> - URL to the named anchor of the Article. Used to go to the article in the message.<br />
                <code>[ARTICLE_TOC_ITEM]</code> - Combines the [ARTICLE_TOC_LINK] and [ARTICLE_TOC_TITLE] into a single linked Article title.
                </p>
                <p>These tags must be inside an <code>[ARTICLE_TOC] ... [/ARTICLE_TOC]</code> block.<br />
                i.e.<br />
                <code>
                &lt;ul&gt;<br />
                [ARTICLE_TOC]<br />
                &lt;li&gt;[ARTICLE_TOC_ITEM]&lt;/li&gt;<br />
                [/ARTICLE_TOC]<br />
                &lt;/ul&gt;<br />
                </code>
                </p>
            </dd>
          </dl>
          <dl>
            <dt>Section 2</dt>
            <dd>This section contains some extra content that can be included in the Message
              <br />
            </dd>
            <dt>Attachments</dt>
            <dd>Allows the attachment of Images to be included in the Message.</dd>
            <dt>Content Items</dt>
            <dd>Allows for the inclusing of Joomla Content Items in the Message.
              <br />
              Select the Content Items in the Available Content section and use the
              >> button to move them to the Selected Content.
              <br />
              Items can be removed from the Selected Content with the << button.<br>
              Use the Up and Down buttons to change the order that the
              Content Items will be displayed in.
            </dd>
            <dt>Intro Only</dt>
            <dd>For included Content Items do we display the whole message or just the Intro.
              <br />
              If only displaying the Introduction then the Title of the Content Item will be a link
              to read the full version of the Content Item from the site.
              <br />
              For Static content items which have no Introduction text only the Title of the Content
              Item is displayed as a link to the Content Item on the site.
              <br />
              If the Content Item is not in a Joomla Menu it might not be able to be displayed via the link
              in the Message.
            </dd>
            <dt>Other Content</dt>
            <dd>
              Some SM2 Email Marketing Plugins can include content into the Message.
              The options to determine what content will be listed here.
            </dd>
          </dl>
          <dl>
            <dt>Section 3</dt>
            <dd>The Sections below contain filters to allow the selection of the Subscribers who will
              receive the Message.
              <br/>
              SM2 Email Marketing comes with 2 default Plugins that are used to determine the Subscribers.
              <dl>
                <dt>Joomla Users</dt>
                <dd>This Plugin allows for sending the Message to Joomla users based on their User Group,
                  Blocked Status and Last Login date.
                </dd>
                <dt>List Recipients</dt>
                <dd>This Plugin allows for sending the Message to List Subscribers</dd>
              </dl>
              If the filtering of Message Recipients results in an Email address being selected more
              than once it will only recieve a single Message.
            </dd>
          </dl>
        </p>
        <h3>Add / Edit Message Toolbar</h3>
        <p>
          The Add / Edit Message toolbar contains the following options
          <dl>
            <dt>Send</dt>
            <dd>Saves the current changes to the Message and then sends the Message to the Queue.</dd>
            <dt>Preview</dt>
            <dd>Saves the current changes to the Message and goes to the Preview screen.</dd>
            <dt>Save</dt>
            <dd>Saves the current changes to the Message and returns to the Message Manager.</dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Message and returns to the Add / Edit Message page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Message and returns to the Message Manager</dd>
          </dl>
        </p>
        <h3>Preview Message</h3>
        <p>
          The Preview Message allows you to see what the HTML and Text version of the Message
          will look like, and can be used to send a Test version of the Message to a supplied
          name and email address.
        </p>
        <p>Also included in the Preview is a paginated list of the Message Recipients.
          It is recommended that you preview before sending any message so that you
          can be sure that it is being sent to the desired recipients.
        </p>
        <p>If the Preview results in 0 Recipients check the filters
          selected in Section 3 and ensure they are correct.
        </p>
        <h3>Preview Message Toolbar</h3>
        <p>
          The Preview Message toolbar contains the following options
          <dl>
            <dt>Send</dt>
            <dd>Saves the current changes to the Message and then sends the Message to the Queue.</dd>
            <dt>Send Test</dt>
            <dd>Sends a Test Message to the specified name and email address.</dd>
            <dt>Cancel</dt>
            <dd>Cancels and returns to the Message Editor</dd>
          </dl>
        </p>
  </div>
