  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/tools.gif" width="70" height="70" border="0" alt="Plugins" title="Plugins" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showplugins">Plugin Manager</a>
        </h2>
        <p>
          The Plugin manager allows for the overall management of the Plugins.
          <br />
          You can used the Page Navigation links to move between pages of Plugins,
          and the Display option is used to limit the number of Plugins displayed per page.
          <br />
          Selecting the checkboxes allows selection of Plugins for processing by some of the buttons on the Toolbar.
          <br />
          Clicking on the name of the Plugin allows for editing of the Plugin Parameters.
          <br />
          Clicking on the Reorder Buttons allows the change of the ordering of the individual Plugin.
          <br />
          The Order fields can be used to Change the order of all Plugins. Use the Save Order icon to save the new order.
          <br />
          Clicking on the icon in the Enabled column will switch between Enabled and Disabled status.
          <br />
          Some plugins may have a Disabled status if the Plugin requires another component that is not available.
        </p>
        <h3>Plugin Manager Toolbar</h3>
        <p>
          The Plugin Manager toolbar contains the following options
          <dl>
            <dt>Enable</dt>
            <dd>Allows for the Enabling of any selected Plugins.
              <br />
              Enabling is also possible for individual Plugins by clicking on the
              Disbaled status icon in the Enabled column.
            </dd>
            <dt>Disable</dt>
            <dd>Allows for the Disabling of any selected Plugins.
              <br />
              Disabling is also possible for individual Plugins by clicking on the
              Enabled status icon in the Enabled column.
            </dd>
            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected Plugin's Parameters.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the Plugin Name
            </dd>
          </dl>
        </p>
        <h3>Edit Plugin</h3>
        <p>
          This form allows for the editing of a Plugin's Parameters.
          <br />
          The following fields appear on the Plugin form.
          <dl>
            <dt>Plugin Name</dt>
            <dd>The name of the Plugin. This is display only and not editable.</dd>
            <dt>Description</dt>
            <dd>A simple description of the Plugin. This is display only and not editable.</dd>
            <dt>Enabled</dt>
            <dd>Determines whether the Plugin is available to be used in Messages.
              <br />
              Only Enabled Plugins can be used to filter Message recipients.
              <br />
              Some plugins may have a Disabled status if the Plugin requires another component that is not available.
            </dd>
          </dl>
          Plugins will generally have one or more Parameters that can be used to determine how the Plugin will work.
          <br />
          Plugin Parameters will generally have rollover help tips to explain what the Parameter is used for.
          <br />
          Some Plugins may have Language Elements that allow for the Customisation of Text that will be displayed
          when the Plugin is displayed.
        </p>
        <h3>Edit Plugin Toolbar</h3>
        <p>
          The Edit Plugin toolbar contains the following options
          <dl>
            <dt>Save</dt>
            <dd>Saves the current changes to the Plugin and returns to the Plugin Manager.</dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Plugin and returns to the Edit Plugin page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Plugin and returns to the Plugin Manager.</dd>
          </dl>
        </p>
  </div>