  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/queueManager.gif" width="70" height="70" border="0" alt="Queue" title="Queue" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showqueue">Queue Manager</a>
        </h2>
        <p>
          The Queue Manager allows for the overall management of the unprocessed Message emails.
          <br />
          The list contains any Messages which have been sent but still have unprocessed emails.
          <br />
          You can used the Page Navigation links to move between pages of Queued Messages,
          and the Display option is used to limit the number of Queued Messages displayed per page.
          <br />
          Selecting the checkboxes allows selection of Queued Message for processing by some of the buttons on the Toolbar.
          <br />
          Clicking on the name of the Queued Message allows for processing of the Message.
        </p>
        <h3>Queue Manager Toolbar</h3>
        <p>
          The Queue Manager toolbar contains the following options
          <dl>
            <dt>Process</dt>
            <dd>Continues processing any unsent Messages. Messages are processed in Batches of emails with
              a pause in between each batch.  If the Processing takes too long it will be stopped and can be
              resumed again later.
              <br />
              These options can be set in the SM2 Email Marketing Configuration.
            </dd>
            <dt>Delete</dt>
            <dd>Deleted the unprocessed Messages from the Queue.</dd>
          </dl>
        </p>
  </div>

