  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/registeredSubscribers.gif" width="70" height="70" border="0" alt="Registered" title="Registered" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showregistered">Client Management Subscribers</a>
        </h2>
        <p>
          The Client Management Subscribers allows for the management of the Users (Joomla users) in SM2 Email Marketing Lists.
          <br />
          Entering text in the Keyword search will filter the Client Management Subscribers based on the Joomla User's
          Name field.
          <br />
          Use the Receive Options, Confirmed Options, Subscriptions and Lists filters to
          help find Subscribers.
          <br />
          You can used the Page Navigation links to move between pages of Client Management Subscribers,
          and the Display option is used to limit the number of Client Management Subscribers displayed per page.
          <br />
          Selecting the checkboxes allows selection of Client Management Subscribers for processing by some of the
          buttons on the Toolbar.
          <br />
          Clicking on the Icon in the Receive HTML column allows for changing the Registered Subscriber between
          receiving HTML messages or receiving Text messages.
          <br />
          Clicking on the Icon in the Confirmed column allows for changing the Registered Subscriber between being Confirmed
          or Unconfirmed.  Only Confirmed Subscribers will receive messages.
          <br />
          All Joomla Users are automatically entered as Confirmed Client Management Subscribers.
        </p>
        <h3>Client Management Subscribers Toolbar</h3>
        <p>
          The Client Management Subscribers toolbar contains the following options
          <dl>
            <dt>Unsubscribe</dt>
            <dd>Allows for the Unsubscribing of any selected Client Management Subscribers.
              Unsubscribed Subscribers will no longer receive any messages.
            </dd>
            <dt>Confirm</dt>
            <dd>Allows for the Confirming of any selected Client Management Subscribers.
              <br />
              Confirming is also possible for individual Client Management Subscribers by clicking on the
              Unconfirmed status icon in the Confirmed column.
            </dd>
            <dt>Unconfirm</dt>
            <dd>Allows for the Unconfirming of any selected Client Management Subscribers.
              <br />
              Unconfirming is also possible for individual Client Management Subscribers by clicking on the
              Confirmed status icon in the Confirmed column.
            </dd>

            <dt>HTML</dt>
            <dd>Set the selected Client Management Subscribers as receiving HTML messages.
              <br />
              Receiving HTML is also possible for individual Client Management Subscribers by clicking on the
              Receive HTML status icon in the Receive HTML column.
            </dd>
            <dt>Text</dt>
            <dd>Set the selected Client Management Subscribers as receiving Text messages.
              <br />
              Receiving Text is also possible for individual Client Management Subscribers by clicking on the
              Receive Text status icon in the Receive HTML column.
            </dd>

            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected Registered Subscriber's Subscription details.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the Name
            </dd>
          </dl>
        </p>
        <h3>Edit Client Management Subscribers</h3>
        <p>
          This form allows for the editing of a Registered Subscriber's subscription details.
          <br />
          The following fields appear on the Registered Subscriber form.
          <dl>
            <dt>Name</dt>
            <dd>The Registered Subscriber's Name. This is display only and not editable.</dd>
            <dt>Email</dt>
            <dd>The Registered Subscriber's Email. This is display only and not editable.</dd>
            <dt>Receive HTML</dt>
            <dd>Status for the Registered Subscriber indicating whether they will Receive HTML messages.
              <br />
              No will be sent only Text Messages.
              <br />
              Yes will be sent only HTML Messages.
            </dd>
            <dt>Confirmed</dt>
            <dd>Indicates whether the Registered Subscriber is confirmed.
              <br />
              Only Confirmed Subscribers will be sent messages.
            </dd>
            <dt>Subscribe Date</dt>
            <dd>The Date that the user subscribed. This will date that the Joomla user Registered on the site.
              <br />
              This is displa only and not editable.
            </dd>
            <dt>Status</dt>
            <dd>
              Indicates if the user is subscribed or unsubscribed.
              <br />
              If the user is Unsubscribed then this will indicate why they were unsubscribed.
              <br />
              Reasons for unsubscribing are:
              <dl>
                <dt>User Unsubscribed</dt>
                <dd>User has requested unsubscription via the front end of the website or via a link in the message.</dd>
                <dt>Error Email</dt>
                <dd>User was unsubscribed because their email address has repeatedly reported as an error.</dd>
                <dt>Blacklisted</dt>
                <dd>User was unsubscribed because their email matched a blacklist condition.</dd>
                <dt>Bounce Unsubscribed</dt>
                <dd>User was unsubscribed because their email address has repeatedly bounced.</dd>
                <dt>Admin Unsubscribed</dt>
                <dd>User was unsubscribed by an Administrator via this interface.</dd>
              </dl>
              There is also an option to Subscribe the user. A warning will appear informing that re-subscribing a user can be considered spamming.
            </dd>
            <dt>Subscription</dt>
            <dd>A list of the available SM2 Email Marketing Lists that the Subscriber can subscriber to.
              <br />
              Check the checkbox for any Lists that the Subscriber should receive Messages for.
            </dd>
          </dl>
        </p>
        <h3>Add / Edit Client Management Subscribers Toolbar</h3>
        <p>
          The Add / Edit Client Management Subscribers toolbar contains the following options
          <dl>
            <dt>Save</dt>
            <dd>Saves the current changes to the Registered Subscriber and returns to the Registered
              Subscribers Manager.
            </dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Registered Subscriber and returns to the Add / Edit
              Client Management Subscribers page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Client Management Subscriber and returns to the Client Management Subscribers Manager.</dd>
          </dl>
        </p>
  </div>
