  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/statistics.gif" width="70" height="70" border="0" alt="Statistics" title="Statistics" />
          <a href="index2.php?option=com_sm2emailmarketing&task=showstatistics">Statistics</a></h2>
        </h2>
        <p>
			The section will give you some simple statistics on email's that have previously been sent.
            Such statistics include the number of HTML and Text emails sent and the number of HTML emails
            that are likely to have been read.
        </p>
            Also included are the names and email address of each HTML, Text and Read Messages.<br />
            Clicking on the Email address will display an archive of the Message as it would have appeared
            to the recipient.
        </p>
        <p>
            If PHP has the appropriate graphics libaries loaded it will be able to display a pie graph with summary information
        </p>
  </div>
