  <div class="instructions">
		<h2><img src="components/com_sm2emailmarketing/images/templateManager.gif" width="70" height="70" border="0" alt="Template" title="Template" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showtemplates">Template Manager</a>
		</h2>
        <p>
          The Template manager allows for the overall management of the Templates.
          <br />
          Entering text in the Keyword search will filter the Template Manager based on the Template Name field.
          <br />
          You can use the Page Navigation links to move between pages of Templates,
          and the Display option is used to limit the number of Templates displayed per page.
          <br />
          Selecting the checkboxes allows selection of Templates for processing by some of the buttons on the Toolbar.
          <br />
          Clicking on the name of the Template allows for editing of the Template.
          <br />
          Clicking on the icon in the Published column will switch between Published and Unpublished status.
        </p>
        <h3>Template Manager Toolbar</h3>
        <p>
          The Template Manager toolbar contains the following options
          <dl>
            <dt>Preview</dt>
            <dd>Allows for Previewing of the first selected Template. The various replacement markers in
            the Template are replaced with some generic values for the purpose of the Previewing.<br />
            The Cancel Button returns from the Preview back to the Template Manager
            </dd>
            <dt>Publish</dt>
            <dd>Allows for the Publishing of any selected Templates.
              <br />
              Publishing is also possible for individual Templates by clicking on the
              Unpublished status icon in the Published column.
            </dd>
            <dt>Unpublish</dt>
            <dd>Allows for the Unpublishing of any selected Templates.
              <br />
              Unpublishing is also possible for individual Templates by clicking on the
              Published status icon in the Published column.
            </dd>
            <dt>Copy</dt>
            <dd>Opens an Edit form containing the data from the first of the selected Templates.<br />
            This can then be saved as a New Template.<br />
            The name of the Copied template defaults to "Copy of [original template name]"
            </dd>
            <dt>New</dt>
            <dd>Allows for the creation of New Templates</dd>
            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected Template.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the Template Name
            </dd>
            <dt>Delete</dt>
            <dd>Allows for the Deletion of the selected Templates.
              <br />
              Deletion may not be possible if there are unsent or queued messages that use the selected Template.
            </dd>
          </dl>
        </p>
        <h3>Add / Edit Template</h3>
        <p>
          This form allows for the creation / editing of a Template.
          <br />
          The following fields appear on the Template form.
          <dl>
            <dt>Template Name</dt>
            <dd>A name to identify the Template.</dd>
            <dt>HTML Layout</dt>
            <dd>Some HTML that is used to layout the message when it is sent as HTML.
              <br />
              This field is NOT a HTML editor so you will need to design your Template HTML in another
              HTML editor and then paste the HTML Source into the HTML Layout field.
              <br />
              The HTML Layout can contain a replacement marker [CONTENT] that will be replaced
              with the Message HTML Content before the email is sent.
            </dd>
            <dt>Text Layout</dt>
            <dd>Some text that is used to layout the message when it is sent as plain text.
              <br />
              The Text Layout can contain a replacement marker [CONTENT] that will be replaced
              with the Message Text Content before the email is sent.
            </dd>
            <dt>Publishing</dt>
            <dd>Determines whether the Template is available to be used in Messages. Only Published Templates can be assigned to Messages.</dd>
          </dl>
          Note: You can include any of the variable tags details on the Message Edit help in the template.
        </p>
        <h3>Add / Edit Template Toolbar</h3>
        <p>
          The Add / Edit Template toolbar contains the following options
          <dl>
            <dt>Preview</dt>
            <dd>Saves the current changes to the Template and goes to the Preview screen.</dd>
            <dt>Save</dt>
            <dd>Saves the current changes to the Template and returns to the Template Manager.</dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Template and returns to the Add / Edit Template page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Template and returns to the Template Manager.</dd>
          </dl>
        </p>
  </div>
