  <div class="instructions">
        <h2><img src="components/com_sm2emailmarketing/images/unRegisteredSubscribers.gif" width="70" height="70" border="0" alt="Unregistered" title="Unregistered" />
			<a href="index2.php?option=com_sm2emailmarketing&amp;task=showunregistered">List Only Subscribers</a>
        </h2>
        <p>
          The List Only Subscribers allows for the management of the non-Joomla Users in SM2 Email Marketing Lists.
          <br />
          Entering text in the Keyword search will filter the List Only Subscribers based on the Subscriber's
          Name field.
          <br />
          Use the Receive Options, Confirmed Options, Subscriptions and Lists filters to
          help find Subscribers.
          <br />
          You can used the Page Navigation links to move between pages of List Only Subscribers,
          and the Display option is used to limit the number of List Only Subscribers displayed per page.
          <br />
          Selecting the checkboxes allows selection of List Only Subscribers for processing by some of the
          buttons on the Toolbar.
          <br />
          Clicking on the icon of the Receive HTML allows for changing the Unregistered Subscriber between
          receiving HTML messages or receiving Text messages.
          <br />
          Clicking on the Confirmed allows for changing the Unregistered Subscriber between being Confirmed
          or Unconfirmed.  Only Confirmed Subscribers will receive messages.
        </p>
        <h3>List Only Subscribers Toolbar</h3>
        <p>
          The List Only Subscribers toolbar contains the following options
          <dl>
            <dt>Import</dt>
            <dd>Used to import a CSV list of names and email addresses. See below for more information.</dd>
            <dt>Unsubscribe</dt>
            <dd>Allows for the Unsubscribing of any selected Client Management Subscribers.
              Unsubscribed Subscribers will no longer receive any messages.
            </dd>
            <dt>Confirm</dt>
            <dd>Allows for the Confirming of any selected List Only Subscribers.
              <br />
              Confirming is also possible for individual List Only Subscribers by clicking on the
              Unconfirmed status icon in the Confirmed column.
            </dd>
            <dt>Unconfirm</dt>
            <dd>Allows for the Unconfirming of any selected List Only Subscribers.
              <br />
              Unconfirming is also possible for individual List Only Subscribers by clicking on the
              Confirmed status icon in the Confirmed column.
            </dd>

            <dt>HTML</dt>
            <dd>Set the selected List Only Subscribers as receiving HTML messages.
              <br />
              Receiving HTML is also possible for individual List Only Subscribers by clicking on the
              Receive HTML status icon in the Receive HTML column.
            </dd>
            <dt>Text</dt>
            <dd>Set the selected List Only Subscribers as receiving Text messages.
              <br />
              Receiving Text is also possible for individual List Only Subscribers by clicking on the
              Receive Text status icon in the Receive HTML column.
            </dd>
            <dt>New</dt>
            <dd>Allows for the Subscribing of New List Only Subscribers</dd>
            <dt>Edit</dt>
            <dd>Allows for the Editing of the selected Unregistered Subscriber's Subscription details.
              <br />
              Only the first item selected will be edited.
              <br />
              Editing is also available by clicking on the Name
            </dd>
            <dt>Delete</dt>
            <dd>Allows for the Deletion of the selected List Only Subscribers.
              <br />
              Any queued messages for the List Only Subscribers will also be deleted.
            </dd>
          </dl>
        </p>
        <h3>Edit List Only Subscribers</h3>
        <p>
          This form allows for the editing of a Unregistered Subscriber's subscription details.
          <br />
          The following fields appear on the Unregistered Subscriber form.
          <dl>
            <dt>Name</dt>
            <dd>The Unregistered Subscriber's Name.</dd>
            <dt>Email</dt>
            <dd>The Unregistered Subscriber's Email.</dd>
            <dt>Receive HTML</dt>
            <dd>Status for the Unregistered Subscriber indicating whether they will Receive HTML messages.
              <br />
              No will be sent only Text Messages.
              <br />
              Yes will be sent only HTML Messages.
            </dd>
            <dt>Confirmed</dt>
            <dd>Indicates whether the Unregistered Subscriber is confirmed.
              <br />
              Only Confirmed Subscribers will be sent messages.
            </dd>
            <dt>Subscribe Date</dt>
            <dd>The Date that the user subscribed. This will date that the Joomla user Unregistered on the site.
              <br />
              This is displa only and not editable.
            </dd>
            <dt>Status</dt>
            <dd>
              Indicates if the user is subscribed or unsubscribed.
              <br />
              If the user is Unsubscribed then this will indicate why they were unsubscribed.
              <br />
              Reasons for unsubscribing are:
              <dl>
                <dt>User Unsubscribed</dt>
                <dd>User has requested unsubscription via the front end of the website or via a link in the message.</dd>
                <dt>Error Email</dt>
                <dd>User was unsubscribed because their email address has repeatedly reported as an error.</dd>
                <dt>Blacklisted</dt>
                <dd>User was unsubscribed because their email matched a blacklist condition.</dd>
                <dt>Bounce Unsubscribed</dt>
                <dd>User was unsubscribed because their email address has repeatedly bounced.</dd>
                <dt>Admin Unsubscribed</dt>
                <dd>User was unsubscribed by an Administrator via this interface.</dd>
              </dl>
              There is also an option to Subscribe the user. A warning will appear informing that re-subscribing a user can be considered spamming.
            </dd>
            <dt>Subscription</dt>
            <dd>A list of the available SM2 Email Marketing Lists that the Subscriber can subscriber to.
              <br />
              Check the checkbox for any Lists that the Subscriber should receive Messages for.
            </dd>
          </dl>
        </p>
        <h3>Add / Edit List Only Subscribers Toolbar</h3>
        <p>
          The Add / Edit List Only Subscribers toolbar contains the following options
          <dl>
            <dt>Save</dt>
            <dd>Saves the current changes to the Unregistered Subscriber and returns to the Unregistered
              Subscribers Manager.
            </dd>
            <dt>Apply</dt>
            <dd>Saves the current changes to the Unregistered Subscriber and returns to the Add / Edit
              List Only Subscribers page.
              <br />
              Allows for continuing of Editing.
            </dd>
            <dt>Cancel</dt>
            <dd>Cancels any changes to the Unregistered Subscriber and returns to the List Only Subscribers Manager.</dd>
          </dl>
        </p>
        <h3>Import List Only Subscribers</h3>
        <p>
          The Import process comes in 3 stages
          <dl>
            <dt>Stage 1</dt>
            <dd>Use the browse button to select a CSV file to upload.<br />
              CSV Files are files that contain data using commas (,) to seperate the values with
              each record on a new line. They commonly also have the fields surrounded by
              double quotes (").<br />
              You can simply create a CSV file from an Excel document by selecting File > Save As and
              changing the File Type to CSV.
              <br />
              The CSV file should have the first row as the titles of each field
              <br />
              Click the Next button in the toolbar to continue to Stage 2 or Cancel to return to the List Only Subscribers Manager
            </dd>
            <dt>Stage 2</dt>
            <dd>Stage 2 allows you to match up the files required with the data in the CSV file.<br />
              For both the Name and Email field select from the Select List the field from the CSV file.<br />
              For the Receive HTML either select a Default to use, or optionally select a field from the file that contains the Receive HTML option.<br />
              For the List either select the default lists that the user will be subscribed to, or select optional fields from the file that contain the Lists the user should be subscribed to. If the selected Lists from the file do not exist they will be created.
              <br />
              Click the Next button in the toolbar to continue to Stage 3 or Cancel to return to the List Only Subscribers Manager
            </dd>
            <dt>Stage 3</dt>
            <dd>This is a final summary of the Import process.
              <br />
              The Summary indicates how many CSV records were processed and how many errors we found.<br />
              If errors were encountered they will be display in a details section.<br />
              Common causes for errors are incorrect CSV formatting and already existing subscribers.
            </dd>
            Note: Due to PHP memory limits the size of the CSV file should be as small as possible. If you wish to import many thousands of users you should consider breaking the file into several parts, or if possible increase the PHP memory limit and timeout values.
          </dl>
        </p>
  </div>
