/*
// "Simple Image Rotator" Module for Joomla! 1.0.x - Version 1.2
// License: http://www.gnu.org/copyleft/gpl.html
// Authors: Fotis Evangelou - George Chouliaras
// Copyright (c) 2006 - 2007 JoomlaWorks.gr - http://www.joomlaworks.gr
// Project page at http://www.joomlaworks.gr - Demos at http://demo.joomlaworks.gr
// ***Last update: August 30th, 2007***
*/

ul.jw-sir {
	position:relative;
	list-style:none;
	list-style-image:none;
	margin:0px auto;
	padding:0px;
	overflow:hidden;
	border:none;
	background:none;
}

ul.jw-sir li {
	list-style:none;
	margin:0px;
	padding:0px;
	border:none;
	background:none;
}

ul.jw-sir li a {
	margin:0px;
	padding:0px;
	border:none;
	background:none;
}

ul.jw-sir li a img {
	display:none;
	position:absolute;
	top:0;
	left:0;
	border:none;
	background:none;
}

ul.jw-sir li img {
	display:none;
	position:absolute;
	top:0;
	left:0;
	border:none;
	background:none;
}

ul.jw-sir li.jw-sir-loading {
	display: none !important;
	background: url('loading.gif') no-repeat center;
}

ul.jw-sir li.jw-sir-loading-black {
	display: none !important;
	background: url('loading_black.gif') no-repeat center;
}