.tabberlive .tabbertabhide {display:none;}
.tabber {}
.tabberlive {margin:8px 0px;}
ul.tabbernav {margin:0px;padding:3px 0px;border-bottom:1px solid #bbb;font-size:12px;font-weight:bold;}
ul.tabbernav li {list-style:none;margin:0;display:inline;}
ul.tabbernav li a {padding:3px 4px;margin-left:3px;border:1px solid #bbb;border-bottom:none;background:#eee url(tab_bg.png) repeat-x top;text-decoration:none;}
ul.tabbernav li a:link {color:#333}
ul.tabbernav li a:visited {}
ul.tabbernav li a:hover {color:#C64934;background:#f2f2f2;border-color:#aaa;}
ul.tabbernav li.tabberactive a {background:#fff;border-bottom:1px solid #fff;}
ul.tabbernav li.tabberactive a:hover {background:#fff;border-bottom:1px solid #fff;}
li.tabberactive {background-image:none;padding:0px;}
li.tabberinactive {background-image:none;padding:0px;}
.tabberlive .tabbertab {padding:5px;border:1px solid #bbb;border-top:0;}
.tabberlive .tabbertab h2 {display:none;}
.tabberlive .tabbertab h3 {display:none;}
.tabberlive#tab1 {}
.tabberlive#tab2 {}
.tabberlive#tab2 .tabbertab {overflow:auto;}