/**
* "Minted One-Point-Five" Administrator Template for Joomla 1.0.x - Version 1.0 (template_css.css)
* License: http://www.gnu.org/copyleft/gpl.html
* Author: Fotis Evangelou
* Date Created: October 12th, 2006
* Copyright (c) 2006 JoomlaWorks.gr - http://www.joomlaworks.gr
* Project page at http://www.joomlaworks.gr - Demos at http://demo.joomlaworks.gr

* Joomla! is free software and parts of it may contain or be derived from works
* licensed under the GNU General Public License or other free or open source
* software licenses. See COPYRIGHT.php for copyright notices and details.
*/

/* ---Admin Stylesheet--- */

body {
font-family:Arial, Helvetica, sans-serif; /* this value controls font-families globally for this template */
font-size:11px;
color:#555;
padding:0px;
margin:0px;
text-align:left;
background:#ffffff;
}
table {}
td {font-size:11px;}
hr {border:0;border-bottom:1px dotted #ccc;background:#fff;height:1px;}
hr#system-readmore{border: 0px; border-top: 1px dashed red}
img {border:none;}
form {margin:0px;padding:0px;}
.clr {clear:both;}
.spacer {clear:both;margin-bottom:4px;}
.red {color:#c63434;}

/* ------ Layout ------ */
#minted {margin:20px;text-align:left;}
#content_wrapper {}
#left,
#right{
float: left;
width: 30%;
}
#middle{
float: left;
width: 32%;
margin: 0px 3.5%;
}
#top{margin: 10px auto 0px; width: 38%}

/* Rounded corners */
.rounded{margin-bottom: 10px; border: 1px solid #fff}
.rounded .round_t{background: url(../images/border_t.gif) repeat-x #fff}
.rounded .round_r{background: url(../images/border_r.gif) repeat-y right}
.rounded .round_b{background: url(../images/border_b.gif) repeat-x bottom}
.rounded .round_l{background: url(../images/border_l.gif) repeat-y}
.rounded .round_tl{background: url(../images/border_tl.gif) no-repeat}
.rounded .round_tr{background: url(../images/border_tr.gif) no-repeat top right}
.rounded .round_br{background: url(../images/border_br.gif) no-repeat bottom right}
.rounded .round_bl{background: url(../images/border_bl.gif) no-repeat bottom left; padding: 2px}

#header .rounded .round_t{background: url(../images/border_t.gif) repeat-x #fff}
#header .rounded .round_tl{background: url(../images/border_tl.gif) no-repeat}
#header .rounded .round_tr{background: url(../images/border_tr.gif) no-repeat top right}

/* Header styling */
#header .round_t{background: url(../images/header_t.gif) repeat-x #fff}
#header .round_tl{background: url(../images/header_tl.gif) no-repeat}
#header .round_tr{background: url(../images/header_tr.gif) no-repeat top right}
#header_logo{background: url(../images/header_logo.gif) no-repeat 10px 4px; height: 64px}
#sitename{color: #ffffff; font-weight: bold; font-size: 18px; text-align: center; line-height: 64px}
#version{float: right; margin-top: 35px; color:#ffffff; padding: 5px;}

.module_inner{padding: 5px;}
#top .module_inner{padding: 5px; min-height: 60px; height: 60px}
html>body #top .module_inner{height: auto}
#inner {padding: 10px}



/* ---Top modules: Menubar, header, logout, pathway, toolbar--- */
.menubar {border-bottom:1px solid #cdcdcd;padding:0px;margin:0px;background:#fbfbfb;}
.mod_fullmenu {float:left;}
.logout {float:right;margin:5px 8px 0px 0px;text-align:right;font-weight:bold;}
.logout a {color:#c63434;font-weight:bold;padding-right:4px;}
.logout a:hover {}
.mod_header {float:right;text-align:right;margin:4px 50px 0px 0px;}
.mod_header div {border:0px;margin:0px;padding:0px 5px;display:inline;}
#loading {float:right;margin:4px 30px 0px 8px;background:url(../images/activity.gif) no-repeat left;padding:1px 0px 1px 22px;color:#c63434;font-weight:bold;}
.pathway_toolbar {width:100%;padding:0px;margin:0px;}
.pathway_toolbar tr td {padding:0px;margin:0px;}
.mod_pathway {width:30%;}
.mod_toolbar {width:70%;}
.pathway {margin:4px 0px 4px 10px;padding:2px 0px 2px 20px;background:url(../images/home.png) no-repeat;background-position:0px 0px;white-space:nowrap;}
.white {border-top:1px solid #ffffff;}


/* ------ Typography ------ */
a {color:#0B55C4;text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
h1,h2,h3 {
font-family:Arial, Helvetica, sans-serif;
color:#6e842d;
padding:0px;
margin:0px;
font-weight:bold;
text-decoration:none;
}
h1 {
font-size:18px;
}
h2 {
font-size:16px;
}
h3 {
font-size:12px;
}
table#toolbar {margin-right:10px;}
table#toolbar a.toolbar {color:#555;text-decoration:none;display:block;border: 1px solid #fbfbfb;
padding:2px 8px 2px 8px;margin:2px;width:auto !important;width:40px;height:auto !important;height:50px;}
table#toolbar a.toolbar:hover {color:#3c9b4a;border-left:1px solid #eee;border-top:1px solid #eee;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;padding:3px 7px 1px 9px;margin:2px;}
table#toolbar a.toolbar:active {color:#FF9900;}
.pagenav {font-size:10px;}
a.pagenav {color:#808080;font-size:10px;text-decoration:underline;}
a.pagenav:hover {color:#FFF;font-size:10px;}
a.pagenav:active {color:#333;font-size:10px;}
.sectionname {color:#27552E;font-size:18px;font-weight:bold;}
.button {border-top:solid 1px #d5d5d5;border-right:solid 1px #808080;border-bottom:solid 1px #808080;border-left:solid 1px #d5d5d5;color:#333;font-weight:bold;}
.inputbox {z-index:-3;font-size:11px;border:1px solid #ccc;}
.text_area {border:1px solid #d5d5d5;z-index:-3;font-size:11px;}
input, textarea, select {z-index:-3;font-size:11px;}
.small {color:#FF9900;font-size:10px;text-decoration:none;}
.smallgrey {color:#999;font-size:10px;margin:8px 0px 0px 0px;}
.error {color:#C40000;font-size:11px;font-weight:bold;}
.contentheading,
.componentheading,
.moduleheading {font-size:14px;font-weight:bold;}


/* Mainbody - header block */
table.adminheading {background-color:#FFF;margin:0px;padding:0px;width:100%;border:none;border-collapse:collapse;color:546f02;font-size:18px;font-weight:bold;text-align:left;}
table.adminheading th {background:url(../../../images/generic.png) no-repeat left;text-align:left;height:54px;width:99%;padding-left:54px;border-bottom:5px solid #fff;}
table.adminheading th.checkin {background:url(../../../images/checkin.png) no-repeat left;}
table.adminheading th.cpanel {background:url(../../../images/cpanel.png) no-repeat left;}
table.adminheading th.config {background:url(../../../images/config.png) no-repeat left;}
table.adminheading th.modules {background:url(../../../images/module.png) no-repeat left;}
table.adminheading th.mambots {background:url(../../../images/mambot.png) no-repeat left;}
table.adminheading th.menus {background:url(../../../images/menu.png) no-repeat left;}
table.adminheading th.trash {background:url(../../../images/trash.png) no-repeat left;}
table.adminheading th.user {background:url(../../../images/user.png) no-repeat left;}
table.adminheading th.inbox {background:url(../../../images/inbox.png) no-repeat left;}
table.adminheading th.msgconfig {background:url(../../../images/message_config.png) no-repeat left;}
table.adminheading th.langmanager {background:url(../../../images/langmanager.png) no-repeat left;}
table.adminheading th.mediamanager {background:url(../../../images/mediamanager.png) no-repeat left;}
table.adminheading th.impressions {background:url(../../../images/impressions.png) no-repeat left;}
table.adminheading th.browser {background:url(../../../images/browser.png) no-repeat left;}
table.adminheading th.searchtext {background:url(../../../images/searchtext.png) no-repeat left;}
table.adminheading th.templates {background:url(../../../images/templatemanager.png) no-repeat left;}
table.adminheading th.massemail {background:url(../../../images/massemail.png) no-repeat left;}
table.adminheading th.frontpage {background:url(../../../images/frontpage.png) no-repeat left;}
table.adminheading th.sections {background:url(../../../images/sections.png) no-repeat left;}
table.adminheading th.edit {background:url(../../../images/addedit.png) no-repeat left;}
table.adminheading th.categories {background:url(../../../images/categories.png) no-repeat left;}
table.adminheading th.install {background:url(../../../images/installer.png) no-repeat left;}
table.adminheading th.dbbackup {background:url(../../../images/backup.png) no-repeat left;}
table.adminheading th.dbrestore {background:url(../../../images/dbrestore.png) no-repeat left;}
table.adminheading th.dbquery {background:url(../../../images/query.png) no-repeat left;}
table.adminheading th.info {background:url(../../../images/systeminfo.png) no-repeat left;}
table.adminheading td {color:#000;}


/* standard list style table */
table.adminlist {width:100%;margin:0px;padding:0px;border:none;border-color:#fff;border-collapse:collapse;border-spacing:0px;}
table.adminlist th {margin:0px;padding:6px 4px 2px 4px;height:27px;background: url(../images/th_bg.png) repeat-x #ffffff;font-size:11px;color:#000;text-align: center;
border-bottom:2px solid #BCE27F;} /* green line */
table.adminlist th.title {text-align:left;}
table.adminlist th a:link,
table.adminlist th a:visited {color:#3c9b4a;text-decoration:none;}
table.adminlist th a:hover {text-decoration:underline;}
table.adminlist tr.row0 {background-color:#eeeeee;text-align:left;}
table.adminlist tr.row1 {background-color:#FFF;text-align:left;}
table.adminlist td {border-bottom:1px solid #e0e0e0;padding:4px;}
table.adminlist tr.row0:hover {background-color:#e9e9e9;}
table.adminlist tr.row1:hover {background-color:#e9e9e9;}
table.adminlist td.options {background-color:#ffffff;font-size:8px;}
select.options, input.options {font-size:8px;font-weight:normal;border:1px solid #999999;}
table.adminlist td a:hover {}
table.adminlist td ul {border:none;}
table.adminlist tr.row0:hover a {}
table.adminlist tr.row1:hover a {}


/* standard form style table */
table.adminform {width: 100%; margin-bottom: 15px;border-collapse:collapse;} /* check 'tabpane.css' for more */
table.adminform tr.row0 {background-color:#F0F7E2;}
table.adminform tr.row1 {background-color:#fff;}
table.adminform tr.row0:hover {background-color:#BCE27F;}
table.adminform tr.row1:hover {background-color:#BCE27F;}
table.adminform tr.row0:hover a {}
table.adminform tr.row1:hover a {}
table.adminform th {margin:0px;padding:6px 4px 2px 4px;height:25px;background: url(../images/th_bg.png) repeat-x #ffffff;font-size:11px;color:#000;
text-align:left;border-bottom:2px solid #BCE27F;} /* green line */
table.adminform th a {color:#fff;} /* green line */
table.adminform td {padding:4px;text-align:left;}
table.adminform td.editor {font-size:9px;}
table.cpanel td {text-align:center;}
form {margin:0px 0px 0px 0px;}

table.twoCol td{padding: 7px 15px !important;}
		
/* Styles for dhtml tabbed-pages */
.ontab {font-size:12px;background-color:#ffae00;border:1px solid #d5d5d5;width:14%;text-align:center;cursor:pointer;font-weight:bold;color:#FFFFFF;}
.offtab {font-size:12px;background-color:#e5e5e5;border:1px solid #d5d5d5;width:14%;text-align:center;cursor:pointer;font-weight:normal;}
.tabpadding {/*border-bottom:solid 1px #D5D5D5;*/}
.tabheading {background-color:#FFAE00;color:#FFF;font-size:10px;text-align:left;}
.pagetext {visibility:hidden;display:none;position:relative;top:0;}
.adminheader {color:#c63434;font-size:24px;}


/* Text passed with mosmsg url parameter */
.message {
background:#C3D2E5 url(../images/notice-info.png) no-repeat 4px center;
font-size:13px;
font-weight:bold;
border-bottom:3px solid #84A7DB;
border-top:3px solid #84A7DB;
color:#0055BB;
margin-bottom:10px;
padding:10px 10px 10px 40px;

}
.quote {margin:4px;border:1px solid #d5d5d5;background-color:#E9ECEF;padding:10px;font-size:12px;color:#254D78;}


/* mod_quickicon */
#cpanel, #footer_icons {text-align:center;vertical-align:middle;padding:0px 0px 3px 0px;}
#cpanel div.icon, #footer_icons div.icon{margin:3px;}
#cpanel div.icon a, #footer_icons div.icon a {display: block;float: left;padding:2px 5px 1px 5px;background:#fff;border:1px solid #f0f0f0;height:97px !important;height:100px;width:108px;color:#555;vertical-align:middle;text-decoration:none;}
#cpanel div.icon a:hover, #footer_icons div.icon a:hover {padding:3px 4px 0px 6px;border-left:1px solid #eee;border-top:1px solid #eee;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#f9f9f9;color:#0B55C4;}
#cpanel div.icon img, #footer_icons div.icon img { margin-top:13px; }
#cpanel div.icon span, #footer_icons div.icon span { display:block; padding-top:3px;}

/* Footer icons */
#footer_icons a{width: 70px !important; padding-bottom: 5px;margin: 2px}
#footer_icons img{margin-top: 5px}
#footer_intro{padding: 10px;}

/* Tooltips */
a.tooltip, a.tooltip:hover{color:black;text-decoration:none;border-bottom:1px dotted #aaa;}
a.tooltiplink {display:block;width:100%;}
a.tooltiplink:hover {text-decoration:none;}


/* Fieldsets */
fieldset {margin-bottom:10px;border:1px solid #d5d5d5;padding:5px;text-align:left;}
fieldset p {margin:10px 0px;}
legend {color:#555;font-size:1.1em;font-weight:bold;}


/* Two Pane Formatting */
#treecell {width:20%;display:block;position:relative;float:left;margin:0;padding:2px;overflow:hidden;}
.expander { float:right;}
#datacell {width:78%;display:block;float:left;margin:0;padding:2px 0px 0px 0px;}
#datacellfull {width:98%;display:block;float:left;margin:0;padding:2px;}
#treecell fieldset {border:1px solid #eee;}
#datacell fieldset {border:1px solid #eee;}

span.editlinktip {text-decoration:none;}
.editlinktip span {cursor:pointer;background:url(../images/info.png) no-repeat left;padding:0px 0px 0px 20px !important;padding:0px 1px 1px 21px;}
.editlinktip span:hover {cursor:pointer;background:url(../images/info.png) no-repeat left;padding-left:20px !important;padding:0px 1px 1px 21px;}
.editlinktip a {cursor:pointer;background:url(../images/info.png) no-repeat left;padding-left:20px !important;padding:0px 1px 1px 21px;}
table.paramlist td {height:30px;}
.footer {clear:both;margin-top:16px;font-size:11px;text-align:center;}


/* ---Login CSS--- */

#login h1 {font-size:20px;margin-bottom:8px;}
#login #content_wrapper{padding: 75px 25px;}

#login_form{width: 440px; margin: 0px auto 20px}
.login_credentials{position: relative; padding: 5px;}
.login_credentials form{background: url(../images/padlock.png) no-repeat left center; padding-left: 50px; height: 58px}
.login_credentials .column{float: left; width: 32%; padding-top: 5px;}
.login_credentials .inputbox {width: 90%}
.login_credentials label {display:block;font-weight:bold;margin-top:4px;}
.login_inner{}
#login .message{width: auto;}
.login_credentials .enter {background:url(../images/login_l.png) no-repeat left;margin:13px 0px;width:90px; text-align: right}
.login_credentials .enter_inner {background:url(../images/login_r.png) no-repeat right; border: 0px;}
.login_credentials .enter_inner {padding:0px 15px 2px 0px;margin:0px;cursor:pointer;font-family:Tahoma;font-size:12px; height: 26px; width: 100px;}
.clear{clear: both}

#pagerank{float: right; width: 46%;}
#keywords{float: left; width: 46%;}
#keywords #wordtracker-free-keywords{text-align: center}
#keywords #wordtracker-free-keywords input{display: block; margin: 5px auto 0px}

#login h3.title{margin: 5px; padding: 0px 25px; background: url(../images/header_circle.gif) center left no-repeat; height: 20px; line-height: 22px;}
#login #right h3.title{background-position: right center;}
#login #right h3{text-align: right}
#login #footer{text-align: center}
/** Tooltip styling ***/

.overDiv_outer {
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.overDiv_header {
	padding: 0;
	margin: 0;
	color: #000 !important;
	font-size: 100%;
	font-weight: bold;
	margin-top: -16px;
	padding-top: 13px;
	padding-bottom: 0px;
	background: url(../images/selector-arrow.png) no-repeat;
}

.overdiv_body {
	font-size: 100%;
	margin: 0;
}

/*** installer styles ***/
.installform .install_link{
padding:  0px 10px;
font-weight: bold;
}

.installform .active{
color: #000000;
}
/* ---End of Stylesheet--- */