/* ThemeOfficeMenu Style Sheet */

.ThemeOfficeMenu,.ThemeOfficeSubMenuTable {font-size:13px;padding:0px;white-space:nowrap;cursor:default;height:25px;}
.ThemeOfficeSubMenu {position:absolute;visibility:hidden;z-index:100;padding:0;overflow:visible;border:1px solid #cdcdcd;filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=1);}
.ThemeOfficeSubMenuTable {overflow:visible;}
.ThemeOfficeMainItem,
.ThemeOfficeMainItemHover,
.ThemeOfficeMainItemActive,
.ThemeOfficeMenuItem,
.ThemeOfficeMenuItemHover,
.ThemeOfficeMenuItemActive {padding:6px 9px;border:none; border-right: 1px solid #CDCDCD; font-weight: bold;cursor:default;white-space:nowrap;color:#444;}
.ThemeOfficeMainItem {}
.ThemeOfficeMainItemHover,
.ThemeOfficeMainItemActive {background-color:#E7EDDF;}
.ThemeOfficeMenuItem {background-color:#f6f6f6; font-weight: normal}
.ThemeOfficeMenuItemHover,
.ThemeOfficeMenuItemActive {background-color:#E7EDDF; font-weight: normal}

/* horizontal main menu */
.ThemeOfficeMainItem {}
.ThemeOfficeMainItemHover,
.ThemeOfficeMainItemActive {}
.ThemeOfficeMainFolderLeft,
.ThemeOfficeMainItemLeft,
.ThemeOfficeMainFolderText,
.ThemeOfficeMainItemText,
.ThemeOfficeMainFolderRight,
.ThemeOfficeMainItemRight {background-color:inherit;}

/* vertical main menu sub components */
td.ThemeOfficeMainFolderLeft,td.ThemeOfficeMainItemLeft {padding:2px 2px 2px 0px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;border-left:1px solid #6d9d2e;background-color:inherit;}
td.ThemeOfficeMainFolderText,td.ThemeOfficeMainItemText {padding:2px 5px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;background-color:inherit;white-space:nowrap;}
td.ThemeOfficeMainFolderRight,td.ThemeOfficeMainItemRight {padding:2px 0px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;border-right:1px solid #6d9d2e;background-color:inherit;}
tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderLeft,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemLeft {padding:3px 2px 3px 1px;white-space:nowrap;border:none;background-color:inherit;}
tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderText,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemText {padding:3px 5px;border:none;background-color:inherit;}
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemRight,
tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderRight {padding:3px 1px 3px 0px;border:none;background-color:inherit;}

/* sub menu sub components */
.ThemeOfficeMenuFolderLeft,.ThemeOfficeMenuItemLeft {padding:2px 3px 2px 1px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;border-left:1px solid #6d9d2e;background-color:inherit;white-space:nowrap;}
.ThemeOfficeMenuFolderText,.ThemeOfficeMenuItemText {padding:2px 5px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;background-color:inherit;white-space:nowrap;}
.ThemeOfficeMenuFolderRight,.ThemeOfficeMenuItemRight {padding:2px 0px;border-top:1px solid #6d9d2e;border-bottom:1px solid #6d9d2e;border-right:1px solid #6d9d2e;background-color:inherit;white-space:nowrap;}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {padding:3px 3px 3px 2px;white-space:nowrap;border:0px;background-color:#f6f6f6;}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {padding:3px 5px;border:0px;background-color:inherit;}
.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {padding:3px 1px 3px 0px;border:none;background-color:inherit;}
/* menu splits */

.ThemeOfficeMenuSplit {margin:2px;height:1px;overflow:hidden;background-color:inherit;border-top:1px solid #C6C3BD;}
/* image shadow animation */
/*
	seq1:image for normal
	seq2:image for hover and active
	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/
.ThemeOfficeMenuItem img.seq1 {display:inline;}
.ThemeOfficeMenuItemHover seq2,
.ThemeOfficeMenuItemActive seq2 {display:inline;}
.ThemeOfficeMenuItem .seq2,
.ThemeOfficeMenuItemHover .seq1,
.ThemeOfficeMenuItemActive .seq1 {display:none;}

/* inactive settings */
div.inactive td.ThemeOfficeMainItemHover,
div.inactive td.ThemeOfficeMainItemActive {border-top:0px;border-right:1px solid #CDCDCD;border-left:1px solid #f1f3f5;}
div.inactive .ThemeOfficeMainItem {color:#bbb;}
div.inactive span.ThemeOfficeMainItemText {color:#aaa;}
div.inactive .ThemeOfficeMainItemHover, div.inactive .ThemeOfficeMainItemActive {background-color:#fbfbfb;}