/*** Chrono form styling ***/
/*
.chrono_form{
padding-top: 10px;
clear: both;
}
.chrono_form label{
float: left;
display: block;
width: 130px;
margin-top: 3px;
}

.chrono_form input,
.chrono_form select,
.chrono_form textarea,
.chrono_form .imgver img{
display: block;
margin-left: 130px;
margin-top: 3px;
}

.chrono_form th{text-align: left}

.chrono_form td input,
.chrono_form td select,
.chrono_form td textarea{
margin-left: 0px;
}

.validation-advice{
color: #990000;
}
.chronoform{display: none;}
*/