/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

body.orange h1, body.orange h4, body.orange h6 { color: #f06400; }

body.orange a:link, body.orange a:visited { color: #ff3200; }
body.orange a:hover { color: #ff6400; }