<?php
$date  = strtotime($entry['created']);
$date_display = strftime("%d ", $date) . strftime("%b, ", $date) . strftime("%Y", $date) ;
$date_display = i8n_date($date_display);
?>
<br/>
<div class="entryContent entry">
	<div class="entryTitle">
		<h2><a href="<?php echo $entry['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php echo $entry['title']; ?>"><?php echo $entry['title']; ?></a></h2>
	</div>
	<div class="date">
		<?php echo "$date_display"; ?>
		<?php
			if($enablePrintLink){
          		echo myGetPrintLink($entry['id'],myGetItemId());
			}
			echo '&nbsp;';
	        if($enablePdfLink){
				echo myGetPDFLink($entry['id'],myGetItemId());
		    }
		?>
	</div>
	<div class="clear"></div>
	<div class="post">
		<?php 
		if ($entry['beforeContent'])
		{ ?>
		<div class="onBeforePrepareContent">
			<?php echo $entry['beforeContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-body">
	    <span style="float:right;padding-right:5px;"><?php echo $entry['avatar']; ?></span>
	      <?php echo $entry['text']; ?>
		  <div class="clear"></div>
		  <br/>
		</div>
		<?php if ($entry['afterContent'])
		{ ?>
		<div class="onAfterPrepareContent">
			<?php echo $entry['afterContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-footer">
	      _MB_POSTED_BY <?php echo $entry['author']; ?> | <?php echo $entry['categories'];?>
	    </div>
	</div>
	<?php echo $entry['comments'] ?>
</div>
