<div class="blogsContainer"><?php
	
	if ($entry and count($entry) != 0)
	{
		foreach ($entry as $e)
		{
			$date = strtotime($e['created']);
			$date_display = strftime("%d ", $date) . strftime("%b, ", $date) . strftime("%Y", $date) ;
			$date_display = i8n_date($date_display);
		?>

<div class="entryContent entry">
	<div class="entryTitle">
		<h2><a href="<?php echo $e['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php echo $e['title']; ?>"><?php echo $e['title']; ?></a></h2>
	</div>
	<div class="date"><?php echo "$date_display"; ?></div>
	<div class="clear"></div>
	<div class="post">
		<?php 
		if (isset($e['beforeContent']))
		{ ?>
		<div class="onBeforePrepareContent">
			<?php echo $e['beforeContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-body">
	    <span style="float:right;padding-right:5px;"><?php echo $e['avatar']; ?></span>
	      
		  <?php echo $e['text']; ?>
		  <div class="clear"></div>
		  <br/>
<?php
	// IF NEED READMORE
	if ($e['readmore']=="1")
	{
?>
		<div>
			<a href="<?php echo $e['permalink']; ?><?php echo $showAnchor; ?>" class="postSummary-readmore">_MB_READ_MORE...</a>
		</div>
<?php
	}
?>
		</div>
		<?php if (isset($e['afterContent']))
		{ ?>
		<div class="onAfterPrepareContent">
			<?php echo $e['afterContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-footer">
	      _MB_POSTED_BY <a href="<?php echo $e['authorLink']; ?>"><?php echo $e['author']; ?></a> | <?php echo '<a href="'.$e['permalink'].'#comments">'.$e['comments'] .'</a>'; ?><?php if ($e['comments']) echo " | "; echo $e['categories'];?>
	    </div>
	</div>
</div>
<?php
		}
	}
?>
</div>
