/* CSS Document */

/* MyBlog header */
#myBlog-wrap #myBlog-head {
	margin-bottom: 5px;
	margin-top: 5px;
	position: relative;
	height:24px;
}

#myBlog-wrap #myBlog-head h1,
#myBlog-wrap #myBlog-head h2{
	display:none;
}

/* MyBlog Toolbar Start*/
#myBlog-wrap #myBlog-toolbar ul, #myBlog-head ul {
	padding: 0 0 0 5px;
	margin: 0;
}
#myBlog-wrap #myBlog-toolbar li {
	list-style: none;
	display: block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin: 0 5px 0 0;
	height: 18px;
	line-height: 18px;
	text-transform: capitalize;
}
#myBlog-wrap #myBlog-toolbar li.toolbarHome {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 0;
}
#myBlog-wrap #myBlog-toolbar li.toolbarTags {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -19px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarSearch {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -40px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarFeed {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -61px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarBlogger {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -82px;
}
#myBlog-wrap #myBlog-toolbar li a {
	text-decoration: none;
	padding: 2px 10px 2px 10px;
}
#myBlog-wrap li#blogActive a {
	color: #D78102;
}
/* MyBlog Toolbar End*/


.socialBookmark {
	border: 1px solid #999999;
}

.myTopContent{
	padding: 16px;
	display: block;
	border: 1px dotted #DFDFCC;
	text-align: center;
	background-color: #F8F8F3;
	margin-top: 4px;
	margin-bottom: 4px;
}

.smallerPad {
	padding: 4px;
}

.filterLabel {
	color:grey;
	font-weight:bold;
}

.filterData {
	color:grey;
}

div.entrySeperator {
	border-top:1px solid #d4d4d4;
	margin: 2px 0px 2px 0px;
	overflow:hidden;
	height:1px;
}


.statusMsg {
	color: red;
	font-family: "Trebuchet MS", Verdana;
}


div.myblog_fv_toolbar{
	border:0px solid #666699;
	height:20px;
	line-height:20px;
	padding-left:5px;
}

div.myblog_fv_toolbar a {
	text-decoration:none !important;
}

div.myblog_fv_toolbar a:hover {
	text-decoration:none !important;
}

div.myblog_fv_toolbar span:hover{
	text-decoration:underline;
}

div.myblog_fv_toolbar span.homeLink { 
	font-weight: bold; 
	background-image: url('images/home.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.categoryLink { 
	font-weight: bold; 
	background-image: url('images/tagcloud.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.searchLink { 
	font-weight: bold; 
	background-image: url('images/search.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
} 
div.myblog_fv_toolbar span.dashboardLink { 
	font-weight: bold; 
	background-image: url('images/Edit2_16x16.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}

div.myblog_fv_toolbar span.rssFeedLink {
	padding-left: 20px;
	background-image: url('images/feed-icon-16x16.gif');
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: bold; 
	margin-left:5px;
	padding-bottom:3px;
}
/** ENTRY STUFF **/
.entryContent {
	width: 100%; /* RESIZEABLE AREA */
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding:10px 0px 10px 0px;
	overflow:hidden;
}

.entry {
	line-height: 1.5;
}

.entryContent .entryTitle h2{
	margin-bottom: 5px;
	text-align: center;
	background-image: url('images/title-deco.gif');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 25px;
	line-height:1.2;
	font-family: "Trebuchet MS", verdana, arial, helvetica;
	font-size: 18px;
	font-weight: bold

}

.entryContent .date {
	font-size: 10px;
	float: right;
}
.entryContent .entry-footer {
	background-color: #eee;
	padding: 3px;
	margin-bottom: 12px;
}
.entryContent .entry-body {
	padding-top: 10px;

}
.entryContent blockquote {	
font-style: italic;
}

.entryContent a:link {
	color: #666666;
	text-decoration: none;
	font-weight: bold;

}
.entryContent a:visited {
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}

.entryContent .entryTitle  a:link, .entryContent .entryTitle  a:visited {
	color: #013C80;
	text-decoration: none;
}
.entryContent .entryTitle  a:hover {
	color: #013C80;
}
.entryContent blockquote { border-top: 2px solid #013C80; border-bottom: 2px solid #013C80; margin-left: 1.5em; padding-left: 5px; background-color: #E6EAF3}
.entryContent h4 {
	font-family: "Trebuchet MS", verdana, arial, helvetica;
	font-size: 18px;
	font-weight: normal;
}
.entryContent cite {
	font-size: 10px;
	font-style: normal;
	padding-bottom: 4px;

}

.entryContent h2 {
	margin:0px;
	background:none;
}

.blogsContainer {text-align:left;}
.clear, .entry-body br {
	clear: both; 
}

div.userAvatar{
	float:right;
}




/** END ENTRY STUFF **/

/** PAGINATION **/
.my-pagenav{
	text-align:center;
}


/** List of all blogs section **/
div.blogList{
}

div.blogList .avatar_container {
}

div.blogList .avatar_image {
	position: static !important;
}

div.blogList .blogTitle {
	font-weight:bold;
}

div.blogList .updated {
	color: #666666;
	font-size: 0.9em;
	font-weight: bold;
}
div.blogList .blogDesc {
	margin:0pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.blogList .blogStats {
	font-size: 0.9em;
	margin:0pt;
	padding:0pt;
}

div.blogList .blogStats .numEntries_image{
	padding-right:3px;
}

table.blogInfo
{
	padding:15px 0px 10px 5px;
}
table.blogInfo td.avatar{
	padding-right:15px;
	padding-top:5px;
}
table.blogInfo td.description{
	padding-top:5px;
}

.onAfterPrepareContent, .onBeforePrepareContent{
	padding:5px 0px;
}

/** tag cloud style **/
#myBlog-wrap a.tag1 ,
#myBlog-wrap a.tag2 ,
#myBlog-wrap a.tag3 ,
#myBlog-wrap a.tag4 ,
#myBlog-wrap a.tag5 ,
#myBlog-wrap a.tag6 ,
#myBlog-wrap a.tag7 ,
#myBlog-wrap a.tag8 ,
#myBlog-wrap a.tag9 {
list-style: none;
display: inline;
padding-left:4px;
padding-right:4px;
background: none;
text-align:center;
line-height:100%;
}
#myBlog-wrap a.tag1 {
font-size:90%;
font-weight:normal;
}
#myBlog-wrap a.tag2 {
font-size:100%;
font-weight:normal;
}
#myBlog-wrap a.tag3 {
font-size:125%;
font-weight:normal;
}
#myBlog-wrap a.tag4 {
font-size:150%;
font-weight:normal;
}
#myBlog-wrap a.tag5 {
font-size:175%;
font-weight:normal;
}
#myBlog-wrap a.tag6 {
font-size:200%;
font-weight:bold;
}
#myBlog-wrap a.tag7 {
font-size:225%;
font-weight:bold;
}
#myBlog-wrap a.tag8 {
font-size:250%;
font-weight:bold;
}
#myBlog-wrap a.tag9 {
font-size:265%;
font-weight:bold;
}

