.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	/*width:		100%;		 width needed weird IE bug */
	/*margin-right:	-2px;	 to make room for the shadow */
}

.dynamic-tab-pane-control th{
	background: none !important;
}
.dynamic-tab-pane-control .tab-row .tab {
	width: 90px;
	height: 20px;
	background-image: url( "tab.png" );
	position: relative;
	top: 0;
	display: inline;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin: 1px -2px 1px 1px;
	padding: 4px 0px 0px 0px;
	border: 0;
	z-index: 1;
	font: 12px Tahoma, Helvetica, sans-serif;
	white-space: nowrap;
	text-align: center;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	width: 90px;
	height: 22px;
	background-image:	url( "tab_active.png" );
	background-repeat: no-repeat;
	border-bottom-width:	0;
	z-index: 3;
	padding: 4px 0px 0px 0px;
	margin: 1px -3px -3px 0px;
	top: -1px;
	font: 11px Tahoma, Helvetica, sans-serif;
	font-weight: bold;
}

.dynamic-tab-pane-control .tab-row .tab a,
.dynamic-tab-pane-control .tab-row .tab a:active
{
  outline: none;
}

.dynamic-tab-pane-control .tab-row .tab.selected a{
	padding-top: 2px;
	display: block;
}
.dynamic-tab-pane-control .tab-row .tab a {
	font:	11px Tahoma, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	font:	11px Tahoma, Helvetica, sans-serif;
	width: 90px;
	height: 20px;
	background-image:	url( "tab_active.png" );
	background-repeat: no-repeat;
}
.dynamic-tab-pane-control .tab-page {

	border: 1px solid rgb( 145, 155, 156 );
	background: rgb( 252, 252, 254 );
	z-index: 2;
	position: relative;
	top: -2px;
	font: 11px Tahoma, Helvetica, sans-serif;
	color: #333;
	
	/*244, 243, 238*/
	/* 145, 155, 156*/
	padding:	5px;
	width: 97%;  /* stupid stupid stupid IE!!! */
	float: left;

}
.dynamic-tab-pane-control .tab-row {
	z-index: 1;
	white-space: nowrap;
}