/* (C) 2007 YOOtheme.com */

body.yootools-black span.quick span.yoo-login span.login .login-button-icon button {
	background: url(styles/quick/black/images/login_button_bg_ie6.png) 0 0 no-repeat;
}

body.yootools-black span.quick span.yoo-login span.login .login-button-icon button:hover, body.yootools-black span.quick span.yoo-login span.login .login-button-icon button.sfhover  {
	background: url(styles/quick/black/images/login_button_bg_ie6.png) 0 -20px no-repeat;
}

body.yootools-black span.quick span.yoo-login span.login .lostpassword a  {
	background: url(styles/quick/black/images/lost_password_bg_ie6.png) 0 0px no-repeat;
}

body.yootools-black span.quick span.yoo-login span.login .lostusername a  {
	background: url(styles/quick/black/images/lost_username_bg_ie6.png) 0 0px no-repeat;
}

body.yootools-black span.quick span.yoo-login span.login .registration a  {
	background: url(styles/quick/black/images/registration_bg_ie6.png) 0 0px no-repeat;
}

body.yootools-black span.quick span.yoo-login span.logout .logout-button-icon button {
	background: url(styles/quick/black/images/logout_button_bg_ie6.png) 0 0 no-repeat;
}

body.yootools-black span.quick span.yoo-login span.logout .logout-button-icon button:hover, body.yootools-black span.quick span.yoo-login span.logout .logout-button-icon button.sfhover  {
	background: url(styles/quick/black/images/logout_button_bg_ie6.png) 0 -20px no-repeat;
}
