/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

body.blue h1, body.blue h4, body.blue h6 { color: #5591d7; }
body.blue a:link, body.blue a:visited { color: #1e87c8; }
body.blue a:hover { color: #00afff; }