/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

body.green h1, body.green h4, body.green h6 { color: #739141; }

body.green a:link, body.green a:visited { color: #5a8c00; }
body.green a:hover { color: #73c800; }