/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

body.pink h1, body.pink h4, body.pink h6 { color: #c83cbe; }
body.pink a:link, body.pink a:visited { color: #aa2dd2; }
body.pink a:hover { color: #fa4bff; }