/* MyBlog CSS Starts */
#myBlog-wrap h1,
#myBlog-wrap h2,
#myBlog-wrap h3,
#myBlog-wrap p,
#myBlog-wrap #myBlog-head ul,
#myBlog-wrap #myBlog-head li,
#myBlog-wrap hr {
	margin: 0;
	padding: 0;
}
#myBlog-wrap h1 {
	padding: 10px 0 0 20px;
	text-indent: 72px;
}
#myBlog-wrap h2 {
	padding: 0 0 10px 20px;
	color: #999;
	margin-left: 72px;
	background:none;
}
#myBlog-wrap #myBlog-head {
	background: #eee url(../images/blog-header.jpg) no-repeat;
	margin-bottom: 10px;
	position: relative;
	height:83px;
}

/* MyBlog Toolbar */
#myBlog-wrap #myBlog-toolbar li.blogActive a {
	background: #fff;
	color: #D78102;
	border: 1px solid #ccc;
	border-bottom: 0;
	padding: 4px 10px 2px 10px;
}

#myBlog-wrap #myBlog-toolbar ul, #myBlog-head ul {
	padding-left: 5px;
	position: absolute;
	float:right;
	bottom: 1px;
	right: 5px;
}
#myBlog-wrap #myBlog-toolbar li {
	list-style: none;
	display: inline;
	padding-left:0px;
}
#myBlog-wrap #myBlog-toolbar li a {
	text-decoration: none;
	color: #fff;
	padding: 3px 10px 2px 10px;
	border: 1px solid #999;
	border-bottom: 0;
	background: url(../images/blog-toolbar-bg.jpg) repeat-x;
}
#myBlog-wrap #myBlog-toolbar li a:hover {
	background: #9DA4B0;
}

#myBlog-wrap .postSummary-top .userAvatar{
	float:right;
	margin-top:-40px;
}

.postContent-top .userAvatar {
	float:right;
	margin-top:-40px;
}



/* Entries Divider */
#myBlog-wrap hr {
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10px 0;
	display: none;
}

/* Entries Content */
#myBlog-wrap #myBlog-content {
	padding: 0px;
}

#myBlog-wrap #myBlog-content p, 
#myBlog-wrap .postContent p{
	padding-top: 4px;
	padding-bottom: 4px;
}
#myBlog-wrap .postSummary-top , 
#myBlog-wrap .postContent-top {
	padding: 5px 5px 3px 5px;
	border-bottom: 1px dotted #ccc;
}

#myBlog-wrap .postSummary-top > p, 
#myBlog-wrap .postContent-top > p{
	margin-bottom:0px;
}

#myBlog-wrap .postSummary-top h3 ,
#myBlog-wrap .postContent-top h3 {
	padding-top:4px;
	padding-bottom:4px;
}
	
#myBlog-wrap .postSummary-top h3 a ,
#myBlog-wrap .postContent-top h3 a {
	text-decoration: none;
	color: #333;
	font-size: 19px;
}
#myBlog-wrap .postSummary-top a ,
#myBlog-wrap .postContent-top a {
	color: #D78102;
}
#myBlog-wrap .postSummary-top a:hover ,
#myBlog-wrap .postContent-top a:hover {
	text-decoration: none;
}
#myBlog-wrap .postSummary-teaser ,
#myBlog-wrap .postContent-text {
	padding: 10px 0 10px 0;
}
#myBlog-wrap .postSummary-footer {
	margin-top: 10px;
	margin-bottom: 4px;
	text-align: right;
}
#myBlog-wrap .postSummary-footer a {
	text-decoration: none;
	color: #999;
	margin-right: 10px;
	padding-left: 20px;
	padding: 2px 0 2px 18px;
}
#myBlog-wrap .postSummary-footer a:hover {
	text-decoration: underline;
	color: #666;
}
#myBlog-wrap .postSummary-comments {
	background: url(../images/comment.png) no-repeat 0;
}
#myBlog-wrap .postSummary-readmore {
	background: url(../images/mouse.png) no-repeat 0;
}

#myBlog-wrap div.my-pagenav {
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
}

#myBlog-wrap div.clear{
	clear:both;
	padding:0px;
	margin:0px;
	height:1px;
	line-height:1px;
}

/** tag cloud style **/
#myBlog-wrap a.tag1 ,
#myBlog-wrap a.tag2 ,
#myBlog-wrap a.tag3 ,
#myBlog-wrap a.tag4 ,
#myBlog-wrap a.tag5 ,
#myBlog-wrap a.tag6 ,
#myBlog-wrap a.tag7 ,
#myBlog-wrap a.tag8 ,
#myBlog-wrap a.tag9 {
list-style: none;
display: inline;
padding-left:4px;
padding-right:4px;
background: none;
text-align:center;
line-height:100%;
}
#myBlog-wrap a.tag1 {
font-size:90%;
font-weight:normal;
}
#myBlog-wrap a.tag2 {
font-size:100%;
font-weight:normal;
}
#myBlog-wrap a.tag3 {
font-size:125%;
font-weight:normal;
}
#myBlog-wrap a.tag4 {
font-size:150%;
font-weight:normal;
}
#myBlog-wrap a.tag5 {
font-size:175%;
font-weight:normal;
}
#myBlog-wrap a.tag6 {
font-size:200%;
font-weight:bold;
}
#myBlog-wrap a.tag7 {
font-size:225%;
font-weight:bold;
}
#myBlog-wrap a.tag8 {
font-size:250%;
font-weight:bold;
}
#myBlog-wrap a.tag9 {
font-size:265%;
font-weight:bold;
}

#myblogSearch label {
	clear:both;
	float:left;
	margin:5px;
	padding:5px;
	width:100px;
}

#myblogSearch .myblogSearchInput{
	float: left;
	width: 50%;
}

#myblogSearch #myblogSearchSubmit{
	clear: both;
	width: 250px;
	text-align: center;
}
