<style type="text/css">
div.docs,div.docs p,div.docs ul li,div.docs ol li {
	text-align: left;
	font-weight: lighter;
	font-family: Tahoma, Arial, Verdana;
}

div.docs h3,div.docs span.h3 {
	color: #CC0000;
	font-weight: bold;
}

span.link {
	cursor: pointer;
}

div.docs p {
	padding-left: 3em;
	font-weight: lighter;
}

div.docs .small {
	color: #666666;
	font-size: 90%;
}

span.bold {
	font-weight: bold;
}
</style>
<div class="docs">
	<h1><a name="top"></a>ARTIO JoomSEF Changelog</h1>
	<p>version 2.3.4<br />
	compatible with Joomla 1.0.x<br />
	by <a href="http://www.artio.cz" target="_blank">ARTIO s.r.o.</a><br />
	last updated on 28th July 2009</p>

	<h2><a name="changes"></a>Changelog</h2>
	
	<h3>v2.3.4</h3>
	<span class="small">28th July 2009</span>
	<ul>
		<li>Fix - SEF URLs including non-sef variables are valid now</li>
		<li>Fix - Problem with default menu item link when not frontpage</li>
	</ul>
	<h3>v2.3.3</h3>
	<span class="small">23th February 2009</span>
	<ul>
		<li>Update - Separated documentation & changelog</li>
		<li>Fix - inverse mambot logics of Append to defaults settings</li>
	</ul>
	<h3>v2.3.2</h3>
	<span class="small">4th February 2009</span>
	<ul>
		<li>New - Added option to set global custom non-SEF variables</li>
		<li>Update - Extensions parameters rewritten (custom non-SEF variables option in each extension)</li>
		<li>Update - Default index file set to empty string (nicer URLs)</li>
		<li>Fix - Added stronger cache file integrity checking (no more parse errors)</li>
		<li>Fix - Non-SEF to SEF redirect does not create new URLs in database anymore</li>
	</ul>
	<h3>v2.3.1</h3>
	<span class="small">6th January 2009</span>
	<ul>
		<li>New Feature - Added option to set if default index file should be appended to sections and categories links</li>
		<li>New Feature - Added option to create 301 Redirect directly from 404 URL</li>
		<li>New Feature - Variables validity check (URLs with invalid option, id, task or view won't be stored)</li>
		<li>New Feature - Added option to select file locking mechanism for cache saving</li>
		<li>Fix - Removed ini_set which caused fatal error on some server configurations</li>
	</ul>
	<h3>v2.3.0</h3>
	<span class="small">5th August 2008</span>
	<ul>
		<li>New Feature - Added option to select custom ItemID for Default 404 Page</li>
		<li>Update - Improved Import/Export functionality (better control over URLs to export)</li>
		<li>Fix - Links with /index.php are handled correctly</li>
		<li>Fix - Live site with trailing slash is handled correctly</li>
		<li>Fix - Fatal error in MetaBot in some cases</li>
	</ul>
	<h3>v2.2.8</h3>
	<span class="small">23rd July 2008</span>
	<ul>
		<li>Fix - Fixed MetaBot not working in some cases</li>
		<li>Fix - Fixed non-static function call fatal error</li>
		<li>Update - Improved compatibility with SEF Advance extensions</li>
	</ul>
	<h3>v2.2.7</h3>
	<span class="small">10th July 2008</span>
	<ul>
		<li>Fix - Fixed working with anchors (if URL starts just with #)</li>
		<li>Fix - Fixed trailing slash with moved permanently table</li>
	</ul>
	<h3>v2.2.6</h3>
	<span class="small">15th January 2008</span>
	<ul>
		<li>Fix - v2.2.5 bug fix - patch for pagination bug e.g. with VirtueMart</li>
	</ul>
	<h3>v2.2.5</h3>
	<span class="small">27th December 2007</span>
	<ul>
		<li>Fix - automatically clean cache on URL purge</li>
		<li>Fix - SOBI2 warning messages (code update)</li>
		<li>Fix - JoomFish causing duplicates with extra parameters</li>
		<li>Fix - removing parts of SEO URL if it matches suffix</li>
		<li>Fix - content pagination improvements</li>
		<li>Fix - content Itemid estimation improved - prevents duplicates better</li>
		<li>New extension - JEvents</li>
	</ul>
	<h3>v2.2.4</h3>
	<span class="small">28th November 2007</span>
	<ul>
		<li>Fix - incorrect long URL truncation fix</li>
		<li>Fix - wrapper extension default configuration updated to prevent unexpected behaviour problems</li>
	</ul>
	<h3>v2.2.3</h3>
	<span class="small">20th November 2007</span>
	<ul>
		<li>Fix - metadata wrongly shown in administration after save if using UTF-8</li>
	</ul>
	<h3>v2.2.2</h3>
	<span class="small">24th October 2007</span>
	<ul>
		<li>IMPORTANT Fix - possible security breach prevention</li>
		<li>Fix - caching problems leading to file corruption and site stops working</li>
		<li>Fix - 301 redirection problems</li>
		<li>Fix - includes metabot 1.6.0 that fixes the problem of duplicite page titles including page and site name when they are same (e.g. on homepage)</li>
	</ul>
	<h3>v2.2.1</h3>
	<span class="small">9th October 2007</span>
	<ul>
		<li>Fix - Fixes problems with automatic update from JoomSEF 1.x
		versions.</li>
	</ul>
	<h3>v2.2.0</h3>
	<span class="small">3rd October 2007</span>
	<ul>
		<li>New feature - possibility to stop generating further URLs</li>
		<li>New feature - possibility to exclude first part of URL for
		any component (e.g. /shop in VirtueMart)</li>
		<li>New feature - easier access to editing homepage metadata</li>
		<li>New extension - Zoom Media Gallery</li>
		<li>New extension - RSGallery2</li>
		<li>New extension - Portfolio</li>
		<li>New extension - Seyret Video Directories</li>
		<li>Fix - fixed problems with some 3rd party sef_ext files</li>
		<li>Update - new configuration options added to VirtueMart
		extension</li>
		<li>Update - free version will allow direct upgrade to ad-free
		version</li>
	</ul>
	<h3>v2.1.1</h3>
	<span class="small">29th August 2007</span>
	<ul>
		<li>New feature - JoomFish support for extension texts (you can
		now change texts like "viewlink", "search" etc. in URLs)</li>
		<li>Improved 301 redirection - server doesn't get stuck with
		index2.php URLs</li>
		<li>Fixed Custom Titles functionality</li>
		<li>Fixed meta title tag in MetaBot</li>
		<li>Improved export and import of custom redirects</li>
		<li>Improved upgrade script and fixed problem with directory
		permissions</li>
		<li>Updated Mosets Tree extension</li>
	</ul>
	<h3>v2.1.0</h3>
	<span class="small">29th July 2007</span>
	<ul>
		<li>New feature - 301 redirection functionality</li>
		<li>Bug fix - mambot PHP4 compatibility problems</li>
	</ul>
	<h3>v2.0.2</h3>
	<span class="small">25th July 2007</span>
	<ul>
		<li>Bug fix - trailing slash toleration not working correctly</li>
		<li>Bug fix - "save as custom redirect" not pre-checked on URL
		customization</li>
	</ul>
	<h3>v2.0.1</h3>
	<span class="small">24th July 2007</span>
	<ul>
		<li>Bug fix - unistalling plug-in extensions does not remove DB
		information correctly</li>
		<li>Bug fix - mambot does not rewrite meta data</li>
	</ul>
	<h3>v2.0.0</h3>
	<span class="small">11th July 2007</span>
	<ul>
		<li>Improved searching for 3rd party sef_ext extensions</li>
		<li>Added parameters to individual extensions</li>
		<li>Added possibility to set your own extension title</li>
		<li>Added option to ignore multiple Itemids pointing to same page</li>
		<li>Added option to set your own Itemid to use with each
		extension</li>
		<li>Added Cache for mostly visited URLs</li>
		<li>Added Patch system through mambot functionality</li>
		<li>Rewritten the way how extensions are called</li>
	</ul>
	<h3>v1.5.1</h3>
	<span class="small">16th May 2007</span>
	<ul>
		<li>New metabot features - define how should your page title be
		composed and how to you meta tags</li>
		<li>Optimized URLs for com_search</li>
		<li>Optimized URLs for com_contact</li>
		<li>Optimized URLs for com_registration</li>
		<li>SEF form components for com_search and com_contact may be
		disabled</li>
		<li>Fixed problem with image not showing on 404 page</li>
		<li>Fixed problem when frontpage is not detected if not first
		item in mainmenu</li>
		<li>Fixed issues caused by upper/lowercase URLs difference where
		SEO should be off</li>
	</ul>
	<h3>v1.5.0</h3>
	<span class="small">25th April 2007</span>
	<ul>
		<li>Added option to accept URLs both with/without trailing slash</li>
		<li>Added option not to store 404 page hits records to decrease
		number of SQL queries</li>
		<li>Fixed some duplicate URLs issues (especially with VirtueMart)</li>
	</ul>
	<h3>v1.4.3</h3>
	<span class="small">23rd April 2007</span>
	<ul>
		<li>Fixes further 3rd party extension problems and improves
		compatibility</li>
	</ul>
	<h3>v1.4.2</h3>
	<span class="small">16th April 2007</span>
	<ul>
		<li>Fixed upgrade error in PHP4 and added upgrade error messages
		on write permission problems</li>
		<li>Added polish language file, upgraded german language file</li>
		<li>Fixed weblinks notice outputs</li>
	</ul>
	<h3>v1.4.1</h3>
	<span class="small">12th April 2007</span>
	<ul>
		<li>Fixed XHTML compliance issues with some URIs</li>
		<li>Basic SEF support for archive items added</li>
		<li>Fixed problem with duplicating URLs in specific cases</li>
	</ul>
	<h3>v1.4.0</h3>
	<span class="small">11th January 2007</span>
	<ul>
		<li>Option to exclude often varying variables from stored URLs to
		reduce the DB size</li>
		<li>Significant support improvement of OpenSEF and SEF Advance
		compatible extensions</li>
		<li>Added option to ignore link sources to reduce # of link to 1
		target<br />
		Please note that switching this feature on may affect Joomla
		functionality</li>
		<li>Added option to reappend source information as anchor<br />
		Please note that switching this off when previous in on may affect
		Joomla functionality</li>
		<li>Fixed pagination problems when not possible to reach first
		page</li>
		<li>Other small fixes</li>
	</ul>
	<h3>v1.3.3</h3>
	<span class="small">11th January 2007</span>
	<ul>
		<li>Higher user comfort (edited URLs are automatically saved as
		"custom")</li>
		<li>Protecting from unwanted URL list deletion on configuration
		change</li>
	</ul>
	<h3>v1.3.2</h3>
	<span class="small">10th January 2007</span>
	<ul>
		<li>Revised, retested and updated IIS support</li>
		<li>Fixed problems when switching between http and https
		(VirtueMart checkout problem)</li>
		<li>Documentation updates</li>
		<li>Several other small bugs fixes</li>
	</ul>
	<h3>v1.3.1</h3>
	<span class="small">5th December 2006</span>
	<ul>
		<li>Upgrade module bugfix</li>
		<li>Other small bug fixes</li>
	</ul>
	<h3>v1.3.0</h3>
	<span class="small">28th November 2006</span>
	<ul>
		<li>Added upgrade capability</li>
		<li>Added AlphaContent support</li>
		<li>Added Mosets Tree support</li>
		<li>Added VirtueMart component support (payed)</li>
		<li>Added SMF Bridge v1.1 RC3 component support (payed)</li>
		<li>Added URL filters in admin section</li>
		<li>Added title, description and keywords metatags for individual
		URLs</li>
		<li>Fixed lower-case URL problem with components excluded from
		JoomSEF processing</li>
		<li>Duplicate home URL fix</li>
		<li>Other small bug fixes</li>
	</ul>
	<h3>v1.2.5</h3>
	<span class="small">18th September 2006</span>
	<ul>
		<li>Significantly updated JoomFish support</li>
		<li>Added possibility to add language to URL as path or suffix</li>
		<li>Added possibility to translate URLs using JoomFish</li>
		<li>Removed duplicities in URLs (Google indexing optimizaiton)</li>
		<li>Enabled defining of own non-ascii characters rewrite rules</li>
		<li>Fixed number of minor bugs</li>
	</ul>
	<h3>v1.2.4</h3>
	<span class="small">31st August 2006</span>
	<ul>
		<li>Documentation update.</li>
		<li>Prevented loadClass error problem with older Joomla!
		versions.</li>
	</ul>
	<h3>v1.2.3</h3>
	<span class="small">29th August 2006</span>
	<ul>
		<li>Compatibility fix with URLs using numeric entities (e.g.
		generated by JCE WYSIWG editor).</li>
	</ul>
	<h3>v1.2.2</h3>
	<span class="small">28th August 2006</span>
	<ul>
		<li>Security fixes to match Joomla 1.0.11 requirements and minor
		bugs coorections.</li>
	</ul>
	<h3>v1.2b</h3>
	<span class="small">15th August 2006</span>
	<ul>
		<li>Fixed pagination problems.</li>
		<li>Integrated JoomFish and DocMan support.</li>
		<li>Ported from original version.</li>
	</ul>

</div>
