.sitemap0{
margin-left :0px;
}
.sitemap0:hover{
}

.sitemap1{
  margin-left :15px;
}
.sitemap1:hover{
}

.sitemap2{
  margin-left :30px;
}
.sitemap2:hover{

}

.sitemap3{
  margin-left :45px;
}
.sitemap3:hover{

}

.sitemap4{
  margin-left :60px;
}
.sitemap4:hover{

}

.sitemap5{
  margin-left :75px;
}
.sitemap5:hover{

}

.sitemap6{
  margin-left :90px;
}
.sitemap6:hover{

}

.sitemap7{
  margin-left :105px;
}
.sitemap7:hover{

}

.sitemap8{
  margin-left :120px;
}
.sitemap8:hover{

}

.sitemap9{
  margin-left :135px;
}
.sitemap9:hover{

}

.sitemapx{
  margin-left :150px;
}
.sitemapx:hover{

}

.description
{
  margin-left :20px;
  font-size: 10px;
  color: #999966;
}

.sponsor, .sponsor a:hover, .sponsor a:link, .sponsor a:visited
{
  font-size: 9px;
  color: #999966;
}