<?php
$date  = strtotime($entry['created']);
$date_display = strftime("%d ", $date) . strftime("%b, ", $date) . strftime("%Y", $date) ;
$date_display = i8n_date($date_display);
?>
<br/>

<div class="blogsContainer entryContent entry">
	<div class="entryTitle">
		<small>
			<?php echo $date_display; ?>
			<?php
			if($enablePrintLink){
          		echo myGetPrintLink($entry['id'],myGetItemId());
			}
			echo '&nbsp;';
	        if($enablePdfLink){
				echo myGetPDFLink($entry['id'],myGetItemId());
		    }
		    ?>
		</small>
		<h2><a href="<?php echo $entry['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php echo $entry['title']; ?>"><?php echo $entry['title']; ?></a></h2>
	</div>
	<div class="post">
		<?php 
		if ($entry['beforeContent'])
		{ ?>
		<div class="onBeforePrepareContent">
			<?php echo $entry['beforeContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-body">
	    	<span style="float:right;"><?php echo $entry['avatar']; ?></span>
	      <?php echo $entry['text']; ?>
	      <div class="clear"></div>
	    </div>
	    <?php if ($entry['afterContent'])
		{ ?>
		<div class="onAfterPrepareContent">
			<?php echo $entry['afterContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-footer">
			<p_MB_POSTED_BY: <strong><?php echo $entry['author']; ?></strong>
	      </p>
		  <p>Categories:</p>
		  	<ul class="catlist">
	          <?php $categoriesArray = split(",&nbsp;", $entry['categories']);
			  			if ($categoriesArray)
						{
							foreach ($categoriesArray as $displayCat)
							{
								echo "<li>".trim($displayCat, "&nbsp; ")."</li>";
							}
						} ?>
	        </ul>
	    </div>
	</div>
	<?php echo $entry['comments'] ?>
</div>
