<div class="blogsContainer"><?php
	
	if ($entry and count($entry) != 0)
	{
		foreach ($entry as $e)
		{
			$date = strtotime($e['created']);
			$date_display = strftime("%d ", $date) . strftime("%b, ", $date) . strftime("%Y", $date) ;
			$date_display = i8n_date($date_display);
		?>

<div class="entryContent entry">
	<div class="entryTitle">
		<small><?php echo $date_display; ?></small>
		<h2><a href="<?php echo $e['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php echo $e['title']; ?>"><?php echo $e['title']; ?></a></h2>
	</div>
	<div class="post">
		<?php
        	if ($e['beforeContent'])
			{ ?>
			<div class="onBeforePrepareContent">
				<?php echo $e['beforeContent'];?>
			</div>
			<?php
			}
		    ?>
	    <div class="entry-body">
	    <span style="float:right;padding-right:5px;"><?php echo $e['avatar']; ?></span>
	      <?php echo $e['text']; ?>
		  <div class="clear"></div><br/>
		  <?php //READMORE???
			  if ($e['readmore']=="1")
			  { ?>
			  	<ul class="buttons">
			   <li><a href="<?php echo $e['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php $e['title']; ?>">_MB_READ_MORE &raquo;</a></li>
			  </ul>
			  <?php }
		  ?> 
	    </div>
	    <?php if ($e['afterContent'])
			{ ?>
			<div class="onAfterPrepareContent">
				<?php echo $e['afterContent'];?>
			</div>
			<?php
			}
		    ?>
	    <div class="entry-footer">
	      <p>_MB_POSTED_BY: <strong><a href="<?php echo $e['authorLink']; ?>"><?php echo $e['author']; ?></a></strong><br />
	      <?php echo '<a href="'.$e['permalink'].'#comments">'.$e['comments'] .'</a>'; ?></p>
		  <p>Categories:</p>
		  	<ul class="catlist">
	          <?php $categoriesArray = split(",&nbsp;", $e['categories']);
			  			if ($categoriesArray)
						{
							foreach ($categoriesArray as $displayCat)
							{
								echo "<li>".trim($displayCat, " ")."</li>";
							}
						} ?>
	        </ul>
	    </div>
	</div>
</div>
<?php
		}
	}
?>
</div>
