/* CSS Document */
/* MyBlog header */
#myBlog-wrap #myBlog-head {
	margin-bottom: 5px;
	margin-top: 5px;
	position: relative;
	height:24px;
}

#myBlog-wrap #myBlog-head h1,
#myBlog-wrap #myBlog-head h2{
	display:none;
}

/* MyBlog Toolbar Start*/
#myBlog-wrap #myBlog-toolbar ul, #myBlog-head ul {
	padding: 0 0 0 5px;
	margin: 0;
}
#myBlog-wrap #myBlog-toolbar li {
	list-style: none;
	display: block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin: 0 5px 0 0;
	height: 18px;
	line-height: 18px;
	text-transform: capitalize;
}
#myBlog-wrap #myBlog-toolbar li.toolbarHome {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 0;
}
#myBlog-wrap #myBlog-toolbar li.toolbarTags {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -19px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarSearch {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -40px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarFeed {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -61px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarBlogger {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -82px;
}
#myBlog-wrap #myBlog-toolbar li a {
	text-decoration: none;
	padding: 2px 10px 2px 10px;
}
#myBlog-wrap li#blogActive a {
	color: #D78102;
}
/* MyBlog Toolbar End*/

.socialBookmark {
	border: 1px solid #999999;
}

.myTopContent{
	padding: 16px;
	display: block;
	border: 1px dotted #DFDFCC;
	text-align: center;
	background-color: #F8F8F3;
	margin-top: 4px;
	margin-bottom: 4px;
}

.smallerPad {
	padding: 4px;
}

.filterLabel {
	color:grey;
	font-weight:bold;
}

.filterData {
	color:grey;
}

div.entrySeperator {
	border-top:1px solid #d4d4d4;
	margin: 2px 0px 2px 0px;
	overflow:hidden;
	height:1px;
}


.statusMsg {
	color: red;
	font-family: "Trebuchet MS", Verdana;
}

div.myblog_fv_toolbar{
	border:0px solid #666699;
	height:20px;
	line-height:20px;
	padding-left:5px;
}

div.myblog_fv_toolbar a {
	text-decoration:none !important;
}

div.myblog_fv_toolbar a:hover {
	text-decoration:none !important;
}

div.myblog_fv_toolbar span:hover{
	text-decoration:underline;
}

div.myblog_fv_toolbar span.homeLink { 
	font-weight: bold; 
	background-image: url('images/home.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.categoryLink { 
	font-weight: bold; 
	background-image: url('images/tagcloud.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.searchLink { 
	font-weight: bold; 
	background-image: url('images/search.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
} 
div.myblog_fv_toolbar span.dashboardLink { 
	font-weight: bold; 
	background-image: url('images/Edit2_16x16.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}

div.myblog_fv_toolbar span.rssFeedLink {
	padding-left: 20px;
	background-image: url('images/feed-icon-16x16.gif');
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: bold; 
	margin-left:5px;
	padding-bottom:3px;
}
/** ENTRY STUFF **/
.entryContent {
	width: 100%; /* RESIZEABLE AREA */
	overflow:hidden;
}

.entryContent .title h2 {
	font: 1.4em Arial, Helvetica, sans-serif; 
	text-transform: none; 
	background: url(images/icon_entry.gif) 24px 50% no-repeat; 
	padding: 9px 100px 12px 42px;
}

.entry {
	line-height: 1.6;
}

.entry .entry-body {float: left; display: block; width: 100%; margin: 0 0 18px 5px;}
.entry .entry-footer {float: left; display: block; width: 100%; margin: 0 0 18px 0;}
.entryTitle {vertical-align:middle; float: left; display: block; width: 100%; background: url(images/bg_h2.gif) bottom repeat-x #E2EBF8; margin: 0 0 18px 0;}
.entryContent h1 {font: 2.2em Tahoma, Verdana, Arial, sans-serif; color: #fff; letter-spacing: -1px; padding: 45px 37px 0 37px; margin: 0 0 -5px 0;}
.entryContent h1 a, .entryContent h1 a:visited {color: #fff; text-decoration: none;}
.entryContent .description {color: #CADFED; margin: 0 37px 25px 37px;}
.entryContent .entryTitle h2 {font: 1.05em Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 0px 24px 0px 24px;}
.entryContent .entryTitle h2 {font: 1.4em Arial, Helvetica, sans-serif; text-transform: none; background: url(images/icon_entry.gif) 24px 50% no-repeat; padding: 0px 100px 0px 42px; margin-top:5px;margin-bottom:5px;}
.entryContent .entryTitle small {float: right; padding:0.7em 10px 0 0; color: #67939B;}
.entryContent h2 a, .entryContent h2 a:visited {}
.entryContent h3 {font: bold 1.3em Verdana, Arial, Helvetica, sans-serif; margin: 0 0 0.5em 0;}
.entryContent p {margin: 0 0 18px 0; padding: 0;}
.entryContent .entry-body p {padding-right: 24px;}
.entryContent .entry-footer p {padding: 0 6px;}
.entryContent .req {padding-left: 3px; color: #CC0000;}
.entryContent blockquote {padding: 0 0 0 12px; border-left: 3px solid #ccc;}
.entryContent ul {margin: 0 0 24px 9px;}
.entryContent ol {margin: 0 0 24px 9px;}
.entryContent ul li {margin: 0 24px 0 14px;}
.entryContent ol li {margin: 0 24px 0 14px;}
.entryContent .buttons {float: left; display: block; width: 100%; list-style: none; margin-left: 0; margin-bottom: 21px;}

.entryContent .buttons li {float: left; margin: 0 18px 3px 0; padding: 0;}
.entryContent .buttons ul {margin: 3px 0 0 0; list-style: none; padding-bottom: -5px;}
.entryContent .buttons ul a, .entryContent .buttons ul a:visited {padding: 3px 6px 4px 6px; font-weight: normal;}
* html .entryContent .buttons li {margin: 0;}
.entryContent .buttons a, .entryContent .buttons a:visited {display: block; width: 145px; padding: 6px; text-align: center; background: url(images/menu.gif) bottom left no-repeat; border-top: 1px solid #D1E0F0; font-weight: bold;}
.entryContent .buttons a:hover {background-position: bottom right;}
.entryContent p.pages {flont-weight: bold;}
.entryContent p.pages a {display: block; padding: 3px; width: auto; background: url(images/menu.gif) bottom left no-repeat; border-top: 1px solid #D1E0F0; border-right: 1px solid #D1E0F0;}
.entryContent .catlist {float: left; list-style: none; margin: 0 0 18px 0;}
*:first-child+html .entryContent .catlist {border-bottom: 18px solid #fff;}
.entryContent .catlist li {float: left; margin: 0 18px 0 0; border-bottom: 1px solid #CAD6E1;}
* html .entryContent .onecol li {margin: 0;}
.entryContent .catlist ul {display: none;}
.entryContent .catlist li:first-child, .entryContent .catlist li:first-child+li, .entryContent .catlist li:first-child+li+li {border-top: 1px solid #CAD6E1;}
.entryContent .onecol li:first-child+li, .entryContent .onecol li:first-child+li+li {border-top: none;}
*:first-child+html .entryContent .onecol {border-bottom: 0;}
.entryContent .catlist a, .entryContent .catlist a:visited {display: block; width: 145px; padding: 1px 6px 2px 6px; margin: 1px 0;}
.entryContent .catlist a:hover {background: #F2F2F2;}
.entryContent a, .entryContent a:visited {color: #7f1d1d; text-decoration: none;}
.entryContent p a:hover, .entryContent ul a:hover {background-color: #BFD3E0;}
.entryContent  p a:hover, .entryContent  ul a:hover {background-color: #E2EBF8;}
.blogsContainer {text-align:left;}
.clear {
	clear: both; 
}
.entry-body br{
	clear:both;
}

div.userAvatar{
	float:right;
}




/** END ENTRY STUFF **/

/** PAGINATION **/
.my-pagenav{
	text-align:center;
}


/** List of all blogs section **/
div.blogList{
}

div.blogList .avatar_container {
}

div.blogList .avatar_image {
	position: static !important;
}

div.blogList .blogTitle {
	font-weight:bold;
}

div.blogList .updated {
	color: #666666;
	font-size: 0.9em;
	font-weight: bold;
}
div.blogList .blogDesc {
	margin:0pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.blogList .blogStats {
	font-size: 0.9em;
	margin:0pt;
	padding:0pt;
}

div.blogList .blogStats .numEntries_image{
	padding-right:3px;
}

table.blogInfo
{
	padding:15px 0px 10px 5px;
}
table.blogInfo td.avatar{
	padding-right:15px;
	padding-top:5px;
}
table.blogInfo td.description{
	padding-top:5px;
}

.onAfterPrepareContent, .onBeforePrepareContent{
	padding:5px 0px;
}


/** tag cloud style **/
#myBlog-wrap a.tag1 ,
#myBlog-wrap a.tag2 ,
#myBlog-wrap a.tag3 ,
#myBlog-wrap a.tag4 ,
#myBlog-wrap a.tag5 ,
#myBlog-wrap a.tag6 ,
#myBlog-wrap a.tag7 ,
#myBlog-wrap a.tag8 ,
#myBlog-wrap a.tag9 {
list-style: none;
display: inline;
padding-left:4px;
padding-right:4px;
background: none;
text-align:center;
line-height:100%;
}
#myBlog-wrap a.tag1 {
font-size:90%;
font-weight:normal;
}
#myBlog-wrap a.tag2 {
font-size:100%;
font-weight:normal;
}
#myBlog-wrap a.tag3 {
font-size:125%;
font-weight:normal;
}
#myBlog-wrap a.tag4 {
font-size:150%;
font-weight:normal;
}
#myBlog-wrap a.tag5 {
font-size:175%;
font-weight:normal;
}
#myBlog-wrap a.tag6 {
font-size:200%;
font-weight:bold;
}
#myBlog-wrap a.tag7 {
font-size:225%;
font-weight:bold;
}
#myBlog-wrap a.tag8 {
font-size:250%;
font-weight:bold;
}
#myBlog-wrap a.tag9 {
font-size:265%;
font-weight:bold;
}

