/** Calendar Styling **/

table.calendar {background-color: #ffffff;}
table.calendar td {text-align: center;}
table.calendar td.calendarDate {border: 0px solid #c0c0c0;}
table.calendar td.calendarToday {background-color: #ffae00;}
select.inputbox2 {width: 60px;}

.month td{
	padding: 5px
}

.month_cell .month td{
	padding: 2px;
}

/*** Availability styling ***/

/* Main bookeding colors */

.pending{
background-color: #ffa200;
color: #fff;
}

.confirmed{
background-color: #81d01a;
color: #fff;
}

.refunded{
color: #fff;
background: #4982e1;
}

.canceled{
background: #5a5a59;
color: #fff;
}


/* Start and end day graphics */

.changeover{background-position: center}

.pending-start{background-image: url(img/pending-start.gif)}
.confirmed-start{background-image: url(img/confirmed-start.gif)}
.refunded-start{background-image: url(img/refunded-start.gif)}
.canceled-start{background-image: url(img/canceled-start.gif)}

.pending-end{background-image: url(img/pending-end.gif)}
.confirmed-end{background-image: url(img/confirmed-end.gif)}
.refunded-end{background-image: url(img/refunded-end.gif)}
.canceled-end{background-image: url(img/canceled-end.gif)}

.changeover-stripe{background-image: url(img/changeover-stripe.gif)}