/**
 * SM2 EmailMarketing - Email Marketing Newsletter
 *
 * Joomla! Newsletter Component that supports multiple list mailing and message queueing
 *
 * @package Joomla!
 * @subpackage com_sm2emailmarketing
 * @copyright Copyright (C) 2006 SM2 / All Rights Reserved
 * @license commercial
 * @author SM2 <info@sm2joomla.com>
 *
 *
 * CSS Document for SM2 eMarketing Component (Admin)
 *
 */


/*-----------------------------------------------
General Layout
-----------------------------------------------*/

dt {
	font-weight: bold;
}

.clearing {
	clear: both;
}

.error {
	padding: 10px 10px 10px 50px;
	margin: 10px 0 20px 0;
	color: #FFF;
	background: #CC0000 url(../../../../components/com_sm2emailmarketing/images/error.gif) no-repeat 15px 10px;
	border: 1px solid #990000;
	text-align: left;
	font-size: 11px;
	}

	.error h3 { font-size: 16px; margin: 5px 0; }
	.error ul, .error ol { margin: 0; padding: 0 20px; }
	.error p { margin: 0; }

.instructions {
	text-align: left;
	padding: 10px;
}

.label {
	font-weight: bold;
	width: 10%;
}

/*-----------------------------------------------
Quick Tips Layout
-----------------------------------------------*/

.quickTips {
	text-align: left;
	margin: 10px 0;
	padding: 10px;
	background: #d9f0fe;
	border: 1px solid #0172BA;
}

/*-----------------------------------------------
Toggle Definition Lists Layout
-----------------------------------------------*/

#toggleDl { margin: 0 10px; }

	/* zeroing out padding and margin */
	#toggleDl dd,.toggleDl dt { margin:0; padding:0; }

	/* image and left padding for DDs */
	#toggleDl dd { padding-left: 30px; margin-top: 10px; }
	/* styling all anchors in the DTs */
	#toggleDl dt a {display: block; font-weight: bold; background: url(../../../../images/M_images/con_info.png) no-repeat 0 52%; padding-left: 30px; color: #000; text-decoration: underline; height: auto !important; height: 16px; min-height: 16px; }
	#toggleDl dt a:visited:hover,
	#toggleDl dt a:hover,
	#toggleDl dt a:active,
	#toggleDl dt a:focus { text-decoration: none; }

	#toggleDl .showDD { position: relative; top: 0; }
	#toggleDl dd,.hideDD { top: -9999px; position: absolute; }
	#TJK_ToggleON,#TJK_ToggleOFF { display: inline; cursor: pointer; }

	/* IE 5 */

	/*\*//*/
	#TJK_DL .showDD {display:block}
	#TJK_DL dd,.hideDD {top:0;position:relative; display:none}
	/**/

/*-----------------------------------------------
Text-only Message Attachments Layout
-----------------------------------------------*/

#pic {
	background-color: #FFFFFF;
	left: 10px;
	position: relative;
	top: 10px;
	width: 135px;
}

	#pic a img {
		border: 0;
	}

	#pic a .large {
		border: 0px;
		display: none;
		left: -1px;
		position: absolute;
		top: -1px;
	}

	#pic a.p1:hover .large {
		border: 1px solid #000000;
		display: block;
		height: 200px;
		left: 150px;
		position: absolute;
		top: -200px;
		width: 200px;
	}

/*-----------------------------------------------
Main Menu Layout
-----------------------------------------------*/

#adminMenu {
	height: auto !important;
	height: 30px;
	margin: 5px 0 20px 0;
	background: #D9F0FE;
	border: 1px solid #0172ba;
	text-align: left;
}

#adminMenu ul {
	float: left;
	margin: 0;
	padding: 0;
}

#adminMenu li {
	display: block;
	float: left;
	list-style: none;
}

#adminMenu li a {
	position: relative;
	display: block;
	padding: 7px;
	color: #0172ba;
}

#adminMenu li a:hover, #adminMenu li a:active, #adminMenu li.active a {
	color: #FFF;
	background-color: #0172ba;
}

#adminMenu li.help { float: right; }


/*-----------------------------------------------
SM2 Tab layout
-----------------------------------------------*/
div.sm2tabArea {
  font-size: 80%;
  font-weight: bold;
}

a.sm2tab {
  background-color: #0172ba;
  border: 1px solid #0172ba;
  border-bottom-width: 0px;
  padding: 2px 1em 2px 1em;
  text-decoration: none;
}

a.sm2tab, a.sm2tab:visited {
  color: #FFF;
}

a.sm2tab:hover {
  background-color: #D9F0FE;
  color: #0172ba;
}

a.sm2tab.activeTab, a.sm2tab.activeTab:hover, a.sm2tab.activeTab:visited {
  background-color: #D9F0FE;
  color: #0172ba;
}

div.sm2tabMain {
  background-color: #D9F0FE;
  border: 1px solid #0172ba;
  padding: 1em;
}

div.sm2tabIframeWrapper {
  width: 100%;
}


.sm2tabContent {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 100%;
  padding: 0;
}


iframe.sm2tabContent {
  height: 400px;
}
