/**
 * SM2 EmailMarketing - Email Marketing Newsletter
 *
 * Joomla! Newsletter Component that supports multiple list mailing and message queueing
 *
 * @package Joomla!
 * @subpackage com_sm2emailmarketing
 * @copyright Copyright (C) 2006 SM2 / All Rights Reserved
 * @license commercial
 * @author SM2 <info@sm2joomla.com>
 *
 *
 * CSS Document for SM2 eMarketing Component (Admin)
 *		*** IE 7 ONLY ***
 *
 */


/*-----------------------------------------------
Menu Layout
-----------------------------------------------*/

#adminMenu ul {
	float: none;
	height: 1.2em;
}