
.DHTMLSuite_calendar{	/* Main div for the calendar */
	border:1px solid #585c5e;
	width:230px;
	position:relative;	
	overflow:hidden;
	font-size: 11px;
	z-index: 10;
}
.DHTMLSuite_calendarContent{	/* Sub div inside DHTMLSuite_calendar - this is the div where content is added */
	position:relative;	/* IMPORTANT - This must always be like this in order to make it possible to position sub elements correctly, especially the iframe */
	z-index:10;	/* IMPORTANT - This must always be like this in order to make it possible to position sub elements correctly, especially the iframe */
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	background: #F6FBFC;
}

ul.key{
	padding: 5px 0px;
	margin: 0px;
	list-style: none;
}
ul.key li {
	clear: left;
}
ul.key li span{
	display: block;
	float: left;
	width: 8px;
	height: 8px;
	border: 1px solid #585c5e;
	margin: 4px 4px 4px 0px;
	background: #ffffff;
}

/*******************

 START CSS FOR THE HEADER ROW - WHERE YOU SEE MONTH AND YEAR
 
********************/
.DHTMLSuite_calendar .DHTMLSuite_calendarHeading{	/* Heading of calendar, where you see the month and year */
	background-color:#63b2ca;
	color:#FFFFFF;
	height:21px;
	border-bottom:1px solid #585c5e;
}
.DHTMLSuite_calendarHeadingTxt{	/* Inner div in the heading  */
	color:#FFFFFF;
	padding:1px;
	text-align:center;
}

.DHTMLSuite_calendarHeadingTxt div{
	color:#FFFFFF;
}

.DHTMLSuite_calendarCloseButtonTop{	/* Close button at the top right corner of the calendar */
	background-image:url(../images/calendar-close.gif);
	background-repeat:no-repeat;
	width:13px;
	height:13px;
	position:absolute;
	right:3px;
	top:3px;
	padding:1px;
	background-position:center center;
	cursor:pointer;
}

.DHTMLSuite_calendarCloseButtonTop span{
	display: none;
}

.DHTMLSuite_calendarCloseButtonBottom{	/* Close button at the top right corner of the calendar */
	background: #214A7D;
	color: #fff;
	text-align: center;
	right:3px;
	top:3px;
	padding:1px;
	background-position:center center;
	cursor:pointer;
}

.DHTMLSuite_calendarHeaderMonthAndYear{	/* Div elements for year and month in the heading */
	padding:1px 1px 0 12px;
	background:transparent url(../images/dd-arrow.gif) no-repeat left;
	cursor:pointer;
	line-height:17px;
	font-size: 12px;
}
.DHTMLSuite_calendarHeaderMonthAndYearOver{	/* Mouse over effect - month and year in the heading */
	background-color:#214a7d;
	background:transparent url(../images/dd-arrow.gif) no-repeat left;
	color:#FFFFFF;
	padding:1px 1px 0 12px;
}


/*******************

 START CSS FOR THE TIME BAR - THE DIV WHERE YOU SEE "Time: " and the hour and minute
 
********************/

.DHTMLSuite_calendar_timeBar{	/* Time bar - where users can select hour and minutes */
	background-color:#C4DCFB;
	height:21px;
	border-top:1px solid #9cbdff;
	text-align:center;
	position:relative;
}
.DHTMLSuite_calendar_timeBarHourAndMinute{	/* General rules for the displayed hours and minutes - the ones you can click on the bring out the drop down boxes */
	padding:1px;
	padding-left:2px;
	padding-right:2px;
	margin-right:2px;
	cursor:pointer;
}
.DHTMLSuite_calendarTimeBarHourAndMinuteOver{	/* Mouse over effect for the hour and minute displayed in the time bar */
	background-color:#FFF;
	border:1px solid #9cbdff;
	padding:0px;
	padding-left:1px;
	padding-right:1px;
}
.DHTMLSuite_calendarTimeBarTimeString{	/* String "Time:" */
	position:absolute;
	left:2px;
	top:2px;
}

/*******************

 START CSS FOR THE NAVIGATION BAR - THE DIV WITH THE LEFT AND RIGHT ARROWS
 
********************/

.DHTMLSuite_calendar_navigationBar{	/* Navigation bar below the heading */
	background-color:#63b2ca;
	color:#ffffff;
	height:17px;
	border-bottom:1px solid #585c5e;
	position:relative;
}
.DHTMLSuite_calendar_navigationBarToday{	/* Div for the string "Today" in the navigation bar */
	text-align:center;
}
.DHTMLSuite_calendar_navigationBarToday span{	/* The "Today" string inside the navigation bar */
	cursor:pointer;	
}
.DHTMLSuite_calendar_btnNextYear,.DHTMLSuite_calendar_btnPreviousYear,.DHTMLSuite_calendar_btnNextMonth,.DHTMLSuite_calendar_btnPreviousMonth{	/* Buttons - previous/next month and year */
	position:absolute;
	background-repeat:no-repeat;
	background-position:center center;
	width:13px;
	height:13px;
	padding:1px;
	top:1px;
}

/*.DHTMLSuite_calendar_btnNextYear{	/* Next year button	background-image:url(../images/calendar-next-year.gif);
	right:2px;	
} */

/* .DHTMLSuite_calendar_btnPreviousYear{	Previous year button 
	background-image:url(../images/calendar-previous-year.gif);
	left:2px;
}*/
.DHTMLSuite_calendar_btnNextMonth{	/* Next month button */
	background-image:url(../images/arrow-r.gif);
	right:2px;	
}
.DHTMLSuite_calendar_btnPreviousMonth{	/* Previous month button */
	background-image:url(../images/arrow-l.gif);
	left:2px;
}

/*******************

 START CSS FOR THE MAIN DIV CONTAINING ALL THE DAYS WITHIN A MONTH AND HEADINGS (weeks, days(Mon-Sun) etc.)
 
********************/


.DHTMLSuite_calendar_monthView{	/* Main div element for the days in a month */


}

.DHTMLSuite_calendar_monthView td{
	cursor: pointer;
}

.DHTMLSuite_calendar_monthView_headerRow td{
	cursor: none;
}

.DHTMLSuite_calendar_monthView_headerCell{	/* Main div element for the days in a month */
	border-bottom:1px solid #9cbdff; 
}

.DHTMLSuite_calendar_monthView_firstColumn{	/* First column - the week column */
	color:#FFFFFF;
	background-color:#214a7d;
	border-right:1px solid #9cbdff; 
	text-align:left;
	display: none;
}

.DHTMLSuite_calendar_monthView td{	/* Default css for all the cells inside the calendar, i.e. week heading, label for the days, and the days */
	text-align:center;
	padding: 1px;
	font-size: 12px;
}


.DHTMLSuite_calendar_monthView_invalidDate,
.DHTMLSuite_calendar_monthView_daysInPrevMonthBooked,
.DHTMLSuite_calendar_monthView_daysInNextMonthBooked,
ul.key li.unavailable span{
	background:#5babc4;
	color:#ffffff;
}

.DHTMLSuite_calendar_monthView_invalidDate,
.DHTMLSuite_calendar_monthView_firstDate,
.DHTMLSuite_calendar_monthView_currentDate,
.DHTMLSuite_calendar_monthView_lastDate{

}

.DHTMLSuite_calendar_monthView_headerSunday{	/* Sunday in the header */
	color:red;
	border-bottom:1px solid #9cbdff; 
}
.DHTMLSuite_calendar_monthView_daysInOtherMonths,
.DHTMLSuite_calendar_monthView_daysInNextMonthAvailable{	/* Days in previous or next month, i.e. before start of current displayed month or after days in the currently displayed month */
	color:#999;
}
.DHTMLSuite_calendar_monthView_daysInPrevMonthBooked{ 	/*Days in previous month which are booked*/
}

.DHTMLSuite_calendar_monthView_daysInNextMonthBooked{  /* Days visible and booked for next month*/
}

.DHTMLSuite_calendar_monthView_daysInThisMonth,
ul.key li.available span{	/* Layout - ordinary days(mon-sat) in this month */
	
}
.DHTMLSuite_calendar_monthView_sundayInThisMonth{	/* Layout - sundays in current displayed month */
	color:red;	
}
.DHTMLSuite_calendar_monthView_initialDate{	/* Inital set date, example: the date in an input field which you are populating with the calendar */
	background-color:#9cbdff;
	color:white;
}
.DHTMLSuite_calendar_monthView_invalidDate{	/* Inital set date, example: the date in an input field which you are populating with the calendar */
}

.DHTMLSuite_calendar_monthView_firstDate,
.DHTMLSuite_calendar_monthView_daysInPrevMonthFirstDay,
.DHTMLSuite_calendar_monthView_daysInNextMonthFirstDay{	/* IF the date is the first date of a booking */
	background: url(../images/book_start.gif) center center no-repeat;
	color: #888888;
}

.DHTMLSuite_calendar_monthView_lastDate,
.DHTMLSuite_calendar_monthView_daysInPrevMonthLastDay,
.DHTMLSuite_calendar_monthView_daysInNextMonthLastDay{
	background: url(../images/book_end.gif) center center no-repeat;
	color: #888888;
}

.DHTMLSuite_calendar_monthView_currentDate,
ul.key li.today span{	/* Date of today */
	/*background-color:#C5E8BF;*/
}


.DHTMLSuite_calendarSelectedDays,
ul.key li.selected span
{
	background-color: #e39b75;
	color:White;
}

.DHTMLSuite_calendarSelectedFirstDay
{	
	background: url(../images/select_days_start.gif) center center no-repeat;	
	color:Black;
}
.DHTMLSuite_calendarSelectedFirstDayBookedLastDay
{
	background: url(../images/book_end.gif) center center no-repeat  #E39B75 !important;
	color:white;
}

.DHTMLSuite_calendarSelectedLastDay
{
	background: url(../images/select_days_end.gif) center center no-repeat;
	color:Black;
}
.DHTMLSuite_calendarSelectedLastDayBookedFirstDay
{
	background: url(../images/book_start.gif) center center no-repeat  #E39B75 !important;
	color:white;
}
/***************************************************
*
* START CSS -  DROP DOWN BOXES 
*
*
***************************************************/

/*** MINUTES ***/
.DHTMLSuite_calendar_minuteDropDown{	/* Drop down box for minutes */
	background-color:#C4DCFB;
	border:1px solid #9cbdff;
	width:23px;
	padding:1px;
	font-size:12px;	
	text-align:center;
	/* You shouldn't change these 3 options */	
	position:absolute;
	z-index:152000;
	cursor:pointer;
	
}
.DHTMLSuite_calendar_minuteDropDownCurrentMinute{	/* Minute in drop down when it's equal to current minute of the display, i.e. the minute you see where you click on the drop down */
	color:red;
}
.DHTMLSuite_calendar_dropdownAMinuteOver{
	background-color:#dfe9fa;
}

/*** HOURS ***/
.DHTMLSuite_calendar_hourDropDown{	/* Drop down box for hours */
	background-color:#214A7D;
	border:1px solid #9cbdff;
	width:23px;
	position:absolute;	
	z-index:152000;
	padding:1px;
	cursor:pointer;
	font-size:12px;	
	text-align:center;
}
.DHTMLSuite_calendar_dropdownAnHourOver{
	background-color:#dfe9fa;
}
.DHTMLSuite_calendar_hourDropDownCurrentHour{
	color:red;
}

/*** MONTHS ***/
.DHTMLSuite_calendar_monthDropDown{
	background-color:#214A7D;
	border:1px solid #9cbdff;
	width:70px;
	position:absolute;
	top: 500px !important;
	z-index:152000;
	cursor:pointer;
	padding:1px;
	font-size:12px;	
}
.DHTMLSuite_calendar_dropDownAMonth{
color: #ffffff;
}
.DHTMLSuite_calendar_dropdownAMonthOver{
	background-color:#4471a9;
}
.DHTMLSuite_calendar_yearDropDownCurrentMonth{
	color:red;	
}


.DHTMLSuite_calendar_yearDropDown{
	background-color:#214A7D;
	border:1px solid #9cbdff;
	width:30px;
	position:absolute;
	top: 500px !important;
	z-index:152000;
	cursor:pointer;
	padding:1px;
	font-size:12px;	
	text-align:center;
}
.DHTMLSuite_calendar_dropDownAYear{
color: #ffffff;
}
.DHTMLSuite_calendar_dropdownAYearOver{
	background-color:#4471a9;
}
.DHTMLSuite_calendar_yearDropDownCurrentYear{	/* Current year */
	color:red;
}



/* UP AND DOWN ARROWS INSIDE DROP DOWNS **/
.DHTMLSuite_calendar_dropDown_arrowUp{	/* Drop down - moving to previous year */
	background-image:url(../images/calendar-dropdown-up.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:8px;
}

.DHTMLSuite_calendar_dropDown_arrowDown{	/* Drop down - moving to previous year */
	background-image:url(../images/calendar-dropdown-down.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:8px;
}
.DHTMLSuite_calendarDropDown_dropDownArrowOver{
	background-color:#4471a9;
}




/* IT'S IMPORTANT TO HAVE THIS CSS RULE AT THE BOTTOM IN ORDER TO MAKE THE PADDING OVERRIDE PADDING OF OTHER ELEMENTS */
.DHTMLSuite_calendarButtonOver{	/* Mouse over effect for the close button */
	/* background-color:#FFF;	White background color */
	/*border:1px solid #9cbdff;	 Blue border */
	/*padding:0px;	 The sum border+padding of this element should be the same as border+padding of .DHTMLSuite_calendarCloseButton */
	text-decoration: underline;
}
.DHTMLSuite_calendarDayOver{	/* Mouse over effect - days in the calendar, i.e. days in current displayed month */
	background-color:#C4DCFB;
	color: #000000;
}

/* YOU SHOULD NEVER MODIFY THIS ONE */
.DHTMLSuite_calendar_iframe{	/* Iframe used to cover select boxes below in older IE browsers(version 6 and prior) */
	position:absolute;
	top:1px;
	left:1px;
	z-index:1;
}


/**** Form styling ****/
.arrivalOff,
.departureOff,
.arrivalOn,
.departureOn,
.arrivalError,
.departureError{
border: 1px solid grey;
}


.arrivalOn,
.departureOn{
background: #D7F2DB;
}

.arrivalError,
.departureError{
background: #F0D5D5;
}
