/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

/*
 * YOOlogin
 */

#page span.quick span.yoo-login span.login {
	width: 231px;
	height: 45px;
	overflow: visible;
	font-size: 150%;
}

#page span.quick span.yoo-login span.login .login-button-text,
#page span.quick span.yoo-login span.login .login-button-icon {
	padding-right: 0px;
}

#page span.quick span.yoo-login span.login .lostpassword, 
#page span.quick span.yoo-login span.login .lostusername,
#page span.quick span.yoo-login span.login .registration {
	padding-top: 5px;
}

#page span.quick span.yoo-login span.logout {
	height: 30px;
	padding-top: 10px;
	overflow: visible;
	font-size: 130%;
}

#page span.quick span.yoo-login span.logout .logout-button-text,
#page span.quick span.yoo-login span.logout .logout-button-icon {
	padding-right: 0px;
}