/*
 * Organic Development CSS file
 */ 

/*
 * Browser Reset
 */
 
/* center page */
#wrapper {
	width:960px;
	margin:20px auto 5px auto;
}

#cwrapper {
	background:transparent url(../images/layout/cwrapper-bg-rep-y.png) repeat-y left top;
	clear:both;
}

/*
 * Layout
 */

#header {
	position:relative;
}
#headertop {
	height:45px;
	position:relative;
}
#logo a {
	display:block;
	height:42px;
	width:328px;
	background:transparent url(../images/layout/anna-maria-logo.jpg) no-repeat right top;
	text-indent:-9999px;
	padding:0 0 0 40px;
}
#headerbottom {
	height:181px;
	background:transparent url(../images/layout/header-bg.png) no-repeat left top;
	position:relative;
}
#searchbox {
	position:absolute;
	z-index:4;
	height:225px;
	width:234px;
	background:transparent url(../images/layout/searchbox-bg.png) no-repeat left top;
	top:64px;
	left:32px;
}
#tr {
	position:absolute;
	right:0px;
	top:0px;
	background:transparent url(../images/layout/tr.png) no-repeat left top;
	width:23px;
	height:24px;
	z-index:3;
}
#tl {
	position:absolute;
	left:0px;
	top:0px;
	background:transparent url(../images/layout/tl.png) no-repeat left top;
	width:24px;
	height:25px;
	z-index:3;
}
#brbl {
	position:absolute;
	width:960px;
	bottom:0px;
	left:0px;
	height:28px;
	background:transparent url(../images/layout/header-foot.png) no-repeat left top;
}
#banner {
	background:transparent url(../images/layout/bg-image.jpg);
	overflow:hidden;
	height:162px;
	left:8px;
	position:absolute;
	top:6px;
	width:945px;
	z-index:0;
}

#left {
	float:left;
	width:172px;
	padding:4em 0 0 10px;
}

#main {
	float:left;
	width:746px;
	padding:0 5px 0 15px;
}

#content {
	 
}

#footer {
	height:43px;
	background:#fff url(../images/layout/footer-bg.jpg) no-repeat left top;
}


/*
 * Clearing & Floating
 */
 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0;  
	clear: both; 
	visibility: hidden;
}
 
.clearfix { display: block; }
 
.floatbox { overflow:hidden; }

.float-left { float: left; overflow: hidden; }
.float-right { float: right; overflow: hidden; }

.width20 { width: 19.999%; }
.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width50 { width: 49.999%; }
.width66 { width: 66.666%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }