/* (C) 2007 YOOtheme.com */

body.yootools-black span.default span.yoo-login span.login .login-button-icon button {
	background: url(styles/default/black/images/login_button_bg_ie6.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.login .login-button-icon button:hover, body.yootools-black span.default span.yoo-login span.login .login-button-icon button.sfhover  {
	background: url(styles/default/black/images/login_button_bg_ie6.png) 0 -20px no-repeat;
}

body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button {
	background: url(styles/default/black/images/logout_button_bg_ie6.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button:hover, body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button.sfhover  {
	background: url(styles/default/black/images/logout_button_bg_ie6.png) 0 -20px no-repeat;
}