/* (C) 2007 YOOtheme.com */

/* login */
body.yootools-black span.default span.yoo-login span.login .username input, body.yootools-black span.default span.yoo-login span.login .password input {
	color: #646464;
}

body.yootools-black span.default span.yoo-login span.login .username input {
	background: url(styles/default/black/images/username_bg.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.login .password input {
	background: url(styles/default/black/images/password_bg.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.login .username input:hover, body.yootools-black span.default span.yoo-login span.login .username input.sfhover {
	background: url(styles/default/black/images/username_bg.png) 0 -20px no-repeat;
	color: #ffffaa;
}

body.yootools-black span.default span.yoo-login span.login .password input:hover, body.yootools-black span.default span.yoo-login span.login .password input.sfhover {
	background: url(styles/default/black/images/password_bg.png) 0 -20px no-repeat;
	color: #ffffaa;
}

body.yootools-black span.default span.yoo-login span.login .username input:focus, body.yootools-black span.default span.yoo-login span.login .username input.sffocus {
	background: url(styles/default/black/images/username_bg.png) 0 -20px no-repeat;
	color: #ffffaa;
}

body.yootools-black span.default span.yoo-login span.login .password input:focus, body.yootools-black span.default span.yoo-login span.login .password input.sffocus {
	background: url(styles/default/black/images/password_bg.png) 0 -20px no-repeat;
	color: #ffffaa;
}

body.yootools-black span.default span.yoo-login span.login .login-button-icon button {
	background: url(styles/default/black/images/login_button_bg.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.login .login-button-icon button:hover, body.yootools-black span.default span.yoo-login span.login .login-button-icon button.sfhover  {
	background: url(styles/default/black/images/login_button_bg.png) 0 -20px no-repeat;
}

/* logout */
body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button {
	background: url(styles/default/black/images/logout_button_bg.png) 0 0 no-repeat;
}

body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button:hover, body.yootools-black span.default span.yoo-login span.logout .logout-button-icon button.sfhover  {
	background: url(styles/default/black/images/logout_button_bg.png) 0 -20px no-repeat;
}