/**
 * Joom!Fish - Multi Lingual extention and translation manager for Joomla!
 * Copyright (C) 2003-2007 Think Network GmbH, Munich
 *
 * All rights reserved.  The Joom!Fish project is a set of extentions for
 * the content management system Joomla!. It enables Joomla!
 * to manage multi lingual sites especially in all dynamic information
 * which are stored in the database.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307,USA.
 *
 * The "GNU General Public License" (GPL) is available at
 * http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 * -----------------------------------------------------------------------------
 * $Id: joomfish.css 567 2007-07-17 05:53:43Z akede $
 *
*/

#joomfish table.adminheading th {
	background: url(../images/fish.png) no-repeat left;
}

#joomfish table.adminheading th.cpanel {
	background: url(../images/fish.png) no-repeat left;
}
#joomfish table.adminheading th.config {
	background: url(../../../images/config.png) no-repeat left;
}
#joomfish table.adminheading th.credits {
	background: url(../../../images/credits.png) no-repeat left;
}
#joomfish table.adminheading th.edit {
	background: url(../../../images/addedit.png) no-repeat left;
}
#joomfish table.adminheading th.support {
	background: url(../../../images/help_f2.png) no-repeat left;
}
#joomfish table.adminheading th.langmanager {
	background: url(../../../images/langmanager.png) no-repeat left;
}
#joomfish table.adminheading th.upgrade {
	background: url(../../../images/dbrestore.png) no-repeat left;
}
#joomfish table.adminheading th.joomfish {
	background: url(../images/fish.png) no-repeat left;
}
#joomfish table.adminheading th.orphan {
	background: url(../../../images/query.png) no-repeat left;
}
#joomfish table.adminheading th.check {
	background: url(../../../images/apply_f2.png) no-repeat left;
}
#joomfish table.adminheading th.search {
	background: url(../../../images/search_f2.png) no-repeat left;
}

#joomfish ul {
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 1px 20px;
	list-style: url(../images/dot.png);
	border: none;
}

table.translateparams{
	width:100%;
}
td.translateparams span.editlinktip{
	display:none;
}

#manage_results div {
	border: 1px solid #dddddd;
	width: 98%;
	height: 100%;
}