/* CSS Document */

#azrulWindow {
	width: 780px;
	position: absolute;
	z-index: 100;
}
a#az_close_btn:link, a#az_close_btn:visited {
	height: 20px;
	width: 20px;
	float: right;
	text-indent: -9999px;
	outline-style: none;
	background: transparent  url(../images/trans/close_1.png) no-repeat top left;
	margin: 5px 5px 0 0;
}
a#az_close_btn:hover {
	background: transparent  url(../images/trans/close_2.png) no-repeat top left;
}
#az_logo {
	width: 100px;
	height: 26px;
	margin: 2px 0 0 2px;
	background: transparent  url(../images/trans/logo.png) no-repeat top left;
	float: left;
}
#az_tl {
	width: 20px;
	height: 20px;
	background: transparent url(../images/trans/tl.png) no-repeat top left;
	float: left;
}
#az_tm {
	width: 740px;
	background: transparent url(../images/trans/tm.png) no-repeat top left;
	float: left;
	height: 20px;
}
#az_tr {
	background: transparent url(../images/trans/tr.png) no-repeat top right;
	float: left;
	width: 20px;
	height: 20px;
}
#az_ml {
	width: 20px;
	background: transparent url(../images/trans/lm.png) no-repeat top left;
	float: left;
	height: 560px;
}
#azrulWindowContentOuter {
	float: left;
	height: 560px;
	width: 740px;
	overflow: hidden;
}
#azrulWindowContentTop {
	height: 30px;
	background: #333333;
	border-bottom: solid 1px #999999;
	width: 740px;
	float: left;
}
#azrulWindowContent {
	width: 740px;
	background:	#ffffff;
    height: 560px;
	float: left;
}
#az_mr {
	width: 20px;
	background: transparent url(../images/trans/rm.png) no-repeat top right;
    height: 560px;
	float: left;
}
#az_bl {
	width: 20px;
	height: 20px;
	background: transparent url(../images/trans/bl.png) no-repeat bottom left;
	float: left;
}
#az_bm {
	width: 740px;
	background: transparent url(../images/trans/bm.png) no-repeat bottom left;
	float: left;
	height: 20px;
}
#az_br {
	width: 20px;
	height: 20px;
	background: transparent url(../images/trans/br.png) no-repeat bottom right;
	float: left;
}
