<?php if($debugview):?>
<link href="comment_style.css" rel="stylesheet" type="text/css" />
<?php endif;?>
<?php if($comments) foreach($comments as $comment): ?>
<?php
if($comment->hidden) {
// a lowly rated comment will be slightly hidden,
?>
<div class="<?php echo $comment->style; ?>" id="pc_<?php echo $comment->id; ?>" >
<a name="comment-<?php echo $comment->id;?>" id="comment-<?php echo $comment->id;?>"></a>
<b><?php echo $comment->title; ?></b><i>, _JC_LOW_VOTE</i> [<a href="javascript:void(0);" onclick="jax.call('jomcomment', 'jcxShowComment',<?php echo $comment->id; ?>);">_JC_SHOW_LOW_VOTE</a>]
</div>
<?php } else{ ?>
	<div class="<?php echo $comment->style; ?>" id="pc_<?php echo $comment->id; ?>" >
<?php echo $comment->adminPanel; ?>
<a name="comment-<?php echo $comment->id;?>" id="comment-<?php echo $comment->id;?>"></a>
			<div class="bCommentTitle">
			<?php echo $comment->gravatar; ?> <?php echo $comment->name; ?>: <?php echo $comment->title; ?> <?php if($comment->website) : ?> <a href="<?php echo $comment->website; ?>" rel="nofollow" target="_blank"><?php echo $comment->website; ?></a><?php endif;?></div>
			<div class="bCommentText">
				<span id="comment-text-container-<?php echo $comment->id; ?>"><?php echo $comment->comment; ?></span><div style="float:right; clear:none; vertical-align:bottom; font-size:36px; color:#E1EA92; font-style:italic"><?php echo $comment->itemNum; ?></div><br/>
				<?php if($votes){ ?>
					<ul class="jc_comment_panel">
						<li class="jc_comment_panel_report">
							<a href="javascript:void(0);" onclick="<?php echo $comment->onclick_report; ?>" title="_JC_TPL_ABUSE_REPORT">
							_JC_TPL_ABUSE_REPORT
							</a>
						</li>
						<li class="jc_comment_panel_down">
							<a href="javascript:void(0);" onclick="<?php echo $comment->onclick_votedown; ?>" title="_JC_TPL_DOWN_VOTE">
							_JC_TPL_DOWN_VOTE
							</a>
						</li>
						<li class="jc_comment_panel_up">
							<a href="javascript:void(0);" onclick="<?php echo $comment->onclick_voteup; ?>" title="_JC_TPL_UP_VOTE">
							_JC_TPL_UP_VOTE
							</a>
						</li>
					</ul>
				<?php } ?>
			</div>
			<div class="bCommentSmallPrint">
			<?php echo $comment->date; ?><br />
<?php
	if($votes){
?>
	_JC_TPL_DISPLAY_VOTES <span id="cvote-<?php echo $comment->id;?>"><?php printf('%+d', $comment->voted);?></span>
<?php
	}
?>
			</div>
</div>
<?php }
endforeach; ?>

