<div style="clear:both;height:1px;padding:0px"></div>
<?php if($debugview):?>
<link href="comment_style.css" rel="stylesheet" type="text/css" />
<?php endif;?>
<!-- Sharing toolbar -->
<?php if($show['sharethis']): ?>
<?php echo $sharethis; ?>
<?php endif; ?>

<!-- Trackback Title-->
<?php if($show['trackback']): ?>
<div class="contentheading" id="trackback_title">_JC_TPL_TB_TITLE<span>(<?php echo $trackback['count']; ?>)</span></div>
<div id="trackback_link">
	<a href="<?php echo $trackback['link']; ?>"  type="application/x-www-form-urlencoded"><img src="images/link.png" alt="trackback" width="16" height="16" border="0" />&nbsp;_JC_TPL_TRACKBACK_URI</a></div>
<div id="trackback_entries"><?php echo $trackback['text'] ?></div>
<?php endif; ?>

<!-- 'Comments Title -->
<div class="contentheading" id="written_comments_title">_JC_TPL_COMMENTS <span id="jc_numComment">(<?php echo $comments['count']; ?>)</span><img src="images/comment_add.gif" alt="add comment" /></div>
<!-- RSS Feed link below the title -->
<?php if($show['feed']): ?>
	<div class="feed_link" ><a href="<?php echo $feed['link']; ?>" rel="bookmark"><img src="images/rss.png" alt="feed" width="16" height="16" border="0" />_JC_TPL_COMMENT_RSS_URI</a></div>
<?php endif; ?>

<?php if($comments): ?>
	<!-- Hide/Show input form notice -->
	<?php if($show['hide_show_comment']): ?>
	<div class="feed_link" onclick="jc_toggleDiv('jc_commentsDiv');" ><a><img src="images/max.gif" alt="min/max" width="11" height="11" border="0" align="absmiddle" />_JC_TPL_HIDESHOW_AREA</a></div>
	<?php endif; ?>

	<!-- Placeholder for all comments. REQUIRED.  -->
	<?php echo @$pagingLink; ?>
	<div id="jc_commentsDiv" <?php if($show['start_comment_hidden']){ echo 'style="display:none;visibility:hidden"'; } else { echo 'style="display:block;visibility:visible"'; } ?>>
		<?php echo $comments['text']; ?>
	</div>
	<?php echo @$pagingLink; ?>
<?php endif; ?>
<!-- 'Write Comment' Title -->
<br />
<a name="comments" id="comments"></a><div class="contentheading" id="write_comment_title">_JC_TPL_WRITE_COMMENT</div>

<!-- Hide/Show input form notice -->
<?php if($show['hide_show_form']): ?>
<div class="feed_link" onclick="jc_toggleDiv('jc_commentFormDiv');" ><a><img src="images/shape_square_edit.png" alt="feed" width="16" height="16" border="0" style="vertical-align:middle;"/>&nbsp;_JC_TPL_HIDESHOW_FORM</a></div>
<?php endif; ?>

<!-- Comment locked notice -->
<?php if($lock['locked']): ?>
<div id="comment_locked_notice" class="jomentry2">_JC_TPL_INPUT_LOCKED</div>
<?php endif; ?>

<!-- Login required -->
<?php if(!$show['allow_guest']): ?>
<div id="comment_locked_notice" class="jomentry2">_JC_TPL_GUEST_MUST_LOGIN</div>
<?php endif; ?>

<!-- Show link to the last page -->
<?php if($show['goto_last_page']): ?>
<div id="comment_goto_last_page" class="jomentry2">_JC_TPL_GOLAST_PAGE <a href="<?php echo $last_page_link; ?>#comments" class="pagenav" >_JC_TPL_GOLINK_LAST</a></div>
<?php endif; ?>

<!-- Placeholder for ajax notification -->
<div id="jc_busyDiv"></div>

<!-- Input form begin -->
<?php if($show['inputform']): ?>
<!-- Input form begin -->
<div id="jc_commentFormDiv" <?php if($show['start_form_hidden']) { echo 'style="display:none;visibility:hidden"'; } else{ echo 'style="display:block;visibility:visible"'; } ?>>
	<div class="jomentry2">
		<form method="post" onsubmit="return false;" action="" id="jc_commentForm" name="jc_commentForm">
			<?php if($show['name']): ?>
			<div>
				<label for="jc_name">_JC_TPL_AUTHOR</label>
				<input name="jc_name" type="text" id="jc_name" value="<?php echo $my['name']; ?>"  class="inputbox" />
			</div>
			<?php endif; ?>
			
			<?php if($show['email']): ?>
			<div>
				<label for="jc_email">_JC_TPL_EMAIL</label>
				<input name="jc_email" type="text" id="jc_email" class="inputbox"/>
			</div>
			<?php endif; ?>
					
			<?php if($show['website']): ?>		
			<div>
				<label for="jc_website">_JC_TPL_WEBSITE</label>
				<input name="jc_website" type="text" id="jc_website"  class="inputbox"/>
			</div>
			<?php endif; ?>
				
			<?php if($show['title']): ?>
			<div>
				<label for="jc_title">_JC_TPL_TITLE</label>
				<input name="jc_title" type="text" id="jc_title"  class="inputbox"/>
			</div>
			<?php endif; ?>
			
			
			<div>
				<label for="jc_comment">_JC_TPL_COMMENT</label>
				<?php if($show['bbcode'] || $show['useSmilies']): ?><div><?php echo $bbcode; ?></div><?php endif; ?>
				<textarea name="jc_comment" cols="40" rows="6"  class="inputbox" id="jc_comment"></textarea>
				<span class="smalltext" style="cursor:pointer" onclick="jcResizeComment(-65);">_JC_TPL_SMALLER</span> | <span class="smalltext" style="cursor:pointer" onclick="jcResizeComment(65);">_JC_TPL_BIGGER</span>
			</div>
		  	<!-- Subscribe via email -->
			<?php if($show['subscribe']): ?>
			<div>
				<label class="subscribe">
				<input id="subscribe" name="subscribe" type="checkbox" value="1" <?php echo $subscribeOn; ?> />_JC_TPL_USERSUBSCRIBE
				</label>
			</div>
			<?php endif; ?>
			<!-- End subscribe via email -->


			<!-- Submit Policy -->
			<?php if($show['terms']): ?>
			<div>
			    <label class="agree">
				<input name="jc_agree" type="checkbox" id="jc_agree" />
				_JC_TPL_AGREE_TERMS <a href="javascript:void(0);" onclick="jax.call('jomcomment','jcxShowTerms');return false;">_JC_TPL_LINK_TERMS</a>
				<span class="jcerr" id="err_jc_agree"></span>
				</label>
			</div>
			<?php endif; ?>
			<!-- End submit policy -->
			<?php if($show['captcha']): ?>
			<div>
				<p><img src="<?php echo $captcha['img']; ?>" alt="security image" name="jc_captchaImg" border="0" id="jc_captchaImg" style="vertical-align:middle" /><br />
				_JC_TPL_SEC_CODE</p>
			</div>
	
			<div>
				<input name="jc_password" type="text" id="jc_password" size="8" maxlength="8" class="inputbox"/>
			</div>
			<?php endif; ?>

		<?php if($show['recaptcha']): ?>
		<div>
			<?php echo $recaptcha; ?>
		</div>
		<?php endif; ?>
		<div>
			<button id="jc_submit" onclick="addComments(); return false;" class="button" >_JC_TPL_SUBMIT_COMMENTS</button>
			<?php if($show['previewbutton']): ?>
			<button id="jc_preview" onclick="previewComment(); return false;" class="button" >_JC_TPL_PREVIEW_COMMENTS</button>
			<?php endif; ?>
		</div>
		
		<noscript>
			<div>
			_JC_TPL_NOSCRIPT
			</div>
		</noscript>
		<input name="jc_contentid" type="hidden" id="jc_contentid" value="<?php echo $site['id']; ?>"/>
		<input name="jc_sid" type="hidden" id="jc_sid" value="<?php echo $captcha['sid']; ?>" />
		<input name="jc_task" type="hidden" id="jc_task" value="add" />
		<input name="jc_isajax" type="hidden" id="jc_isajax" value="0" />
		<input name="jc_option" type="hidden" id="jc_option" value="<?php echo $site['option']; ?>"/>
		<?php
		if(isset($show['extra']) && $show['extra']){
			echo $show['extra'];
		}
		?>
		</form>
	</div>
</div>
<?php endif; ?>
<!-- Input form end -->
