a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }

.managelink {
	font-size : 10px;
}

a.managelink {
	color : #000000;
	font-size : 10px;
	}

a.managelink:hover {
	color : #000000;
	font-size : 10px;
	text-decoration : underline;
}

a.managelink:active {
	color : #000000;
	font-size : 10px;
	text-decoration : underline;
}

.rtop,.artop{display:block}
.rtop *,.artop *{display:block;height:1px;overflow:hidden;font-size:1px}
.artop *{border-style: solid;border-width:0 1px}
.r1,.rl1,.re1,.rel1{margin-left:5px}
.r1,.rr1,.re1,.rer1{margin-right:5px}
.r2,.rl2,.re2,.rel2,.ra1,.ral1{margin-left:3px}
.r2,.rr2,.re2,.rer2,.ra1,.rar1{margin-right:3px}
.r3,.rl3,.re3,.rel3,.ra2,.ral2,.rs1,.rsl1,.res1,.resl1{margin-left:2px}
.r3,.rr3,.re3,.rer3,.ra2,.rar2,.rs1,.rsr1,.res1,.resr1{margin-right:2px}
.r4,.rl4,.rs2,.rsl2,.re4,.rel4,.ra3,.ral3,.ras1,.rasl1,.res2,.resl2{margin-left:1px}
.r4,.rr4,.rs2,.rsr2,.re4,.rer4,.ra3,.rar3,.ras1,.rasr1,.res2,.resr2{margin-right:1px}
.rx1,.rxl1{border-left-width:5px}
.rx1,.rxr1{border-right-width:5px}
.rx2,.rxl2{border-left-width:3px}
.rx2,.rxr2{border-right-width:3px}
.re2,.rel2,.ra1,.ral1,.rx3,.rxl3,.rxs1,.rxsl1{border-left-width:2px}
.re2,.rer2,.ra1,.rar1,.rx3,.rxr3,.rxs1,.rxsr1{border-right-width:2px}
.rxl1,.rxl2,.rxl3,.rxl4,.rxsl1,.rxsl2,.ral1,.ral2,.ral3,.ral4,.rasl1,.rasl2{border-right-width:0}
.rxr1,.rxr2,.rxr3,.rxr4,.rxsr1,.rxsr2,.rar1,.rar2,.rar3,.rar4,.rasr1,.rasr2{border-left-width:0}
.r4,.rl4,.rr4,.re4,.rel4,.rer4,.ra4,.rar4,.ral4,.rx4,.rxl4,.rxr4{height:2px}
.rer1,.rel1,.re1,.res1,.resl1,.resr1{border-width:1px 0 0;height:0px !important;height /**/:1px}

table.adminheading th.config {
	background: url(images/administration/header/icon-48-config.png) no-repeat left !important;
}

/* -- various styles -- */
div.messagesys {
	margin-bottom: 10px; 
	padding: 5px; 
	border: 1px dashed #ccc;
	font-weight: bold;
	margin: 0; 
	font-size: 12px; 
	font-weight: bold; 
	text-indent: 30px;
	line-height: 16px;
	color: #333;
	list-style: none; 
	background: url(images/administration/icon_info.png) no-repeat; 
	padding: 0;
}
/* -- various styles -- */
div.error-message {
	margin-bottom: 10px; 
	padding: 5px; 
	border: 1px dashed #ccc;
	font-weight: bold;
	margin: 0; 
	font-size: 12px; 
	font-weight: bold; 
	text-indent: 30px;
	line-height: 16px;
	color: #f00;
	list-style: none; 
	background: url(images/administration/icon_error.png) no-repeat; 
	padding: 0;
}

table.admin_heading{
width: 100%;
}

table.admin_heading td.search_form{
width: 32%;
text-align: right;
}

div.header {
	line-height: 48px;
	font-weight: bold;
	padding: 0px 20px 0px 55px;
	clear: both;
	text-indent: 0px !important;
}
div.header h2 {
	white-space: nowrap;
}
.toolbar-box {
	background: #fbfbfb;
	width: 100%;
}

.toolbar-pad {
	padding: 0 5px;
	padding-bottom: 2px;
}
div.toolbar {
	float: right;
	text-align: right;
	padding: 0;
}

.toolbar {
	border-collapse: collapse;
	width: auto;
	padding: 0;
	margin: 0;
}

.toolbar td {
	padding: 1px;
	padding-left: 4px;
	text-align: center;
	color: #666;
	height: 48px;
}

.toolbar td.spacer {
	width: 10px;
}

.toolbar td.divider {
	border-right: 1px solid #eee;
	width: 5px;
}

.toolbar div  {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.toolbar a {
	display: block;
	float: left;
	white-space: nowrap;
	display: block;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}
#vm-toolbar .vmbutton {
	background-position: 50% 0;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:1px;
	width:auto;
	display:block;
}
.button {
	border: 0 !important;
}
a.vmaccordion {
	margin: 3px 0px 3px 5px;
	font-weight: bold;
}
.vmicon {
	background-repeat: no-repeat;
}
a.vmicon {
	padding-left: 20px;
}
.vmicon32 {
	padding-left: 32px;
	min-height: 32px;
}
/** menu icons **/
.vmicon-16-apply 	{ background-image: url(images/administration/menu/icon-16-apply.png); }
.vmicon-16-archive	{ background-image: url(images/administration/menu/icon-16-archive.png); }
.vmicon-16-article	{ background-image: url(images/administration/menu/icon-16-article.png); }
.vmicon-16-back		{ background-image: url(images/administration/menu/icon-16-back.png); }
.vmicon-16-cancel 	{ background-image: url(images/administration/menu/icon-16-cancel.png); }
.vmicon-16-category 	{ background-image: url(images/administration/menu/icon-16-category.png); }
.vmicon-16-checkin	{ background-image: url(images/administration/menu/icon-16-checkin.png); }
.vmicon-16-component	{ background-image: url(images/administration/menu/icon-16-component.png); }
.vmicon-16-config 	{ background-image: url(images/administration/menu/icon-16-config.png); }
.vmicon-16-content 	{ background-image: url(images/administration/menu/icon-16-content.png); }
.vmicon-16-cpanel 	{ background-image: url(images/administration/menu/icon-16-cpanel.png); }
.vmicon-16-default 	{ background-image: url(images/administration/menu/icon-16-default.png); }
.vmicon-16-editadd 	{ background-image: url(images/administration/menu/icon-16-editadd.png); }
.vmicon-16-frontpage 	{ background-image: url(images/administration/menu/icon-16-frontpage.png); }
.vmicon-16-help		{ background-image: url(images/administration/menu/icon-16-help.png); }
.vmicon-16-import	{ background-image: url(images/administration/menu/icon-16-import.png); }
.vmicon-16-info 	{ background-image: url(images/administration/menu/icon-16-info.png); }
.vmicon-16-install 	{ background-image: url(images/administration/menu/icon-16-install.png);}
.vmicon-16-language 	{ background-image: url(images/administration/menu/icon-16-language.png);}
.vmicon-16-logout 	{ background-image: url(images/administration/menu/icon-16-logout.png);}
.vmicon-16-new 		{ background-image: url(images/administration/menu/icon-16-logout.png); }
.vmicon-16-massmail 	{ background-image: url(images/administration/menu/icon-16-massmail.png); }
.vmicon-16-media 	{ background-image: url(images/administration/menu/icon-16-media.png);}
.vmicon-16-menu 	{ background-image: url(images/administration/menu/icon-16-menu.png); }
.vmicon-16-menumgr 	{ background-image: url(images/administration/menu/icon-16-menumgr.png); }
.vmicon-16-messages 	{ background-image: url(images/administration/menu/icon-16-messages.png); }
.vmicon-16-module 	{ background-image: url(images/administration/menu/icon-16-module.png); }
.vmicon-16-move 	{ background-image: url(images/administration/menu/icon-16-move.png); }
.vmicon-16-plugin 	{ background-image: url(images/administration/menu/icon-16-plugin.png); }
.vmicon-16-publish 	{ background-image: url(images/administration/menu/icon-16-publish.png); }
.vmicon-16-save 	{ background-image: url(images/administration/menu/icon-16-save.png); }
.vmicon-16-section 	{ background-image: url(images/administration/menu/icon-16-section.png); }
.vmicon-16-static 	{ background-image: url(images/administration/menu/icon-16-static.png); }
.vmicon-16-stats 	{ background-image: url(images/administration/menu/icon-16-stats.png); }
.vmicon-16-themes 	{ background-image: url(images/administration/menu/icon-16-themes.png); }
.vmicon-16-remove,.vmicon-16-trash 	{ background-image: url(images/administration/menu/icon-16-trash.png); }
.vmicon-16-unpublish 	{ background-image: url(images/administration/menu/icon-16-unpublish.png);}
.vmicon-16-user 	{ background-image: url(images/administration/menu/icon-16-user.png); }

/** toolbar icons **/
.vmicon-32-send 	{ background-image: url(images/administration/toolbar/icon-32-send.png); }
.vmicon-32-delete 	{ background-image: url(images/administration/toolbar/icon-32-trash.png); }
.vmicon-32-help 	{ background-image: url(images/administration/toolbar/icon-32-help.png); }
.vmicon-32-cancel 	{ background-image: url(images/administration/toolbar/icon-32-cancel.png); }
.vmicon-32-config 	{ background-image: url(images/administration/toolbar/icon-32-config.png); }
.vmicon-32-apply 	{ background-image: url(images/administration/toolbar/icon-32-apply.png); }
.vmicon-32-back		{ background-image: url(images/administration/toolbar/icon-32-back.png); }
.vmicon-32-save 	{ background-image: url(images/administration/toolbar/icon-32-save.png); }
.vmicon-32-edit 	{ background-image: url(images/administration/toolbar/icon-32-edit.png); }
.vmicon-32-copy 	{ background-image: url(images/administration/toolbar/icon-32-copy.png); }
.vmicon-32-move 	{ background-image: url(images/administration/toolbar/icon-32-move.png); }
.vmicon-32-new 		{ background-image: url(images/administration/toolbar/icon-32-new.png); }
.vmicon-32-upload 	{ background-image: url(images/administration/toolbar/icon-32-upload.png); }
.vmicon-32-assign 	{ background-image: url(images/administration/toolbar/icon-32-publish.png); }
.vmicon-32-html 	{ background-image: url(images/administration/toolbar/icon-32-html.png); }
.vmicon-32-css 		{ background-image: url(images/administration/toolbar/icon-32-css.png); }
.vmicon-32-publish 	{ background-image: url(images/administration/toolbar/icon-32-publish.png); }
.vmicon-32-unpublish 	{ background-image: url(images/administration/toolbar/icon-32-unpublish.png);}
.vmicon-32-restore	{ background-image: url(images/administration/toolbar/icon-32-revert.png); }
.vmicon-32-trash,.vmicon-32-remove 	{ background-image: url(images/administration/toolbar/icon-32-trash.png); }
.vmicon-32-archive 	{ background-image: url(images/administration/toolbar/icon-32-archive.png); }
.vmicon-32-unarchive 	{ background-image: url(images/administration/toolbar/icon-32-unarchive.png); }
.vmicon-32-preview 	{ background-image: url(images/administration/toolbar/icon-32-preview.png); }
.vmicon-32-default 	{ background-image: url(images/administration/toolbar/icon-32-default.png); }

/** header icons **/
.vmicon-48-generic 	{ background-image: url(images/administration/header/icon-48-generic.png); }
.vmicon-48-checkin 	{ background-image: url(images/administration/header/icon-48-checkin.png); }
.vmicon-48-cpanel 	{ background-image: url(images/administration/header/icon-48-cpanel.png); }
.vmicon-48-config 	{ background-image: url(images/administration/header/icon-48-config.png); }
.vmicon-48-module 	{ background-image: url(images/administration/header/icon-48-module.png); }
.vmicon-48-menu 	{ background-image: url(images/administration/header/icon-48-menu.png); }
.vmicon-48-menumgr 	{ background-image: url(images/administration/header/icon-48-menumgr.png); }
.vmicon-48-trash 	{ background-image: url(images/administration/header/icon-48-trash.png); }
.vmicon-48-user	 	{ background-image: url(images/administration/header/icon-48-user.png); }
.vmicon-48-inbox 	{ background-image: url(images/administration/header/icon-48-inbox.png); }
.vmicon-48-msgconfig 	{ background-image: url(images/administration/header/icon-48-message_config.png); }
.vmicon-48-langmanager  { background-image: url(images/administration/header/icon-48-language.png); }
.vmicon-48-mediamanager { background-image: url(images/administration/header/icon-48-media.png); }
.vmicon-48-plugin 	{ background-image: url(images/administration/header/icon-48-plugin.png); }
.vmicon-48-help_header  { background-image: url(images/administration/header/icon-48-help_header.png); }
.vmicon-48-impressions  { background-image: url(images/administration/header/icon-48-stats.png); }
.vmicon-48-browser 	{ background-image: url(images/administration/header/icon-48-stats.png); }
.vmicon-48-searchtext 	{ background-image: url(images/administration/header/icon-48-stats.png); }
.vmicon-48-thememanager { background-image: url(images/administration/header/icon-48-themes.png); }
.vmicon-48-massemail 	{ background-image: url(images/administration/header/icon-48-massemail.png); }
.vmicon-48-frontpage 	{ background-image: url(images/administration/header/icon-48-frontpage.png); }
.vmicon-48-sections 	{ background-image: url(images/administration/header/icon-48-section.png); }
.vmicon-48-addedit 	{ background-image: url(images/administration/header/icon-48-article.png); }
.vmicon-48-categories 	{ background-image: url(images/administration/header/icon-48-category.png); }
.vmicon-48-install 	{ background-image: url(images/administration/header/icon-48-extension.png); }
.vmicon-48-dbbackup	{ background-image: url(images/administration/header/icon-48-backup.png); }
.vmicon-48-dbrestore 	{ background-image: url(images/administration/header/icon-48-dbrestore.png); }
.vmicon-48-dbquery 	{ background-image: url(images/administration/header/icon-48-query.png); }
.vmicon-48-systeminfo 	{ background-image: url(images/administration/header/icon-48-info.png); }
.vmicon-48-massemail 	{ background-image: url(images/administration/header/icon-48-massmail.png); }

/* -- buttons */
.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
	float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.button2-left span,
.button2-right span {
	cursor: default;
	color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
	padding: 0 6px;
}

.button2-left a:hover,
.button2-right a:hover {
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-left span {
	padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
	padding: 0 6px 0 24px;
}

.button2-left {
	background: url(images/administration/j_button2_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button2-right {
	background: url(images/administration/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button2-right .prev {
	background: url(images/administration/j_button2_prev.png) no-repeat;
}

.button2-right.off .prev {
	background: url(images/administration/j_button2_prev_off.png) no-repeat;
}

.button2-right .start {
	background: url(images/administration/j_button2_first.png) no-repeat;
}

.button2-right.off .start {
	background: url(images/administration/j_button2_first_off.png) no-repeat;
}

.button2-left .page {
	background: url(images/administration/j_button2_right_cap.png) 100% 0 no-repeat;
}

.button2-left .next {
	background: url(images/administration/j_button2_next.png) 100% 0 no-repeat;
}

.button2-left.off .next {
	background: url(images/administration/j_button2_next_off.png) 100% 0 no-repeat;
}

.button2-left .end {
	background: url(images/administration/j_button2_last.png) 100% 0 no-repeat;
}

.button2-left.off .end{
	background: url(images/administration/j_button2_last_off.png) 100% 0 no-repeat;
}

.adminform2 {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: auto;
	border-collapse: collapse;
	margin: 8px 0 4px 0;
	margin-bottom: 2px;

}
.adminform2 tr.row0 {
	background-color: #f9f9f9;
}
.adminform2 tr.row1 {
	background-color: #eeeeee;
}
.adminform2 tr.row0:hover td,
.adminform2 tr.row1:hover td  { background-color: #ffd ; }

.adminform2 th {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}
.adminform2 td {
	padding: 3px;
	text-align: left;
}

.adminlist2 th.title {
	text-align: left;
	font-size: 11px;
}

.adminlist2 th a:link, table.adminlist2 th a:visited {
	color: #4a780e;
	text-decoration: none;
	font-size: 11px;
}
}
fieldset.adminform2 {
	border: 1px solid #ccc;
	margin: 0 10px 10px 10px;
}
/** Table styles **/
table.adminlist2 {

	width: auto;

	border-spacing: 1px;

	background-color: #e7e7e7;

	color: #666;

}





table.adminlist2 thead th {

	text-align: center;

	background: #f0f0f0;

	color: #666;

	border-bottom: 1px solid #999;

	border-left: 1px solid #fff;

}



table.adminlist2 thead a:hover {

	text-decoration: none;

}



table.adminlist2 thead th img {

	vertical-align: middle;

}



table.adminlist2 tbody th {

	font-weight: bold;

}



table.adminlist2 tbody tr		{

	background-color: #fff;

	text-align: left;

	}

table.adminlist2 tbody tr.row1 	{

	background: #f9f9f9;

	border-top: 1px solid #fff;

}



table.adminlist2 tbody tr td {

	height: 25px;

	background: #fff;

	border: 1px solid #fff;

	}



table.adminlist2 tbody tr.row1 td{

	background: #f9f9f9;

	border-top: 1px solid #FFF;

	}



table.adminlist2 tfoot tr {

	background-color: #f0f0f0;

	text-align: center;

	color: #333;



}



table.adminlist2 tfoot td,

table.adminlist2 tfoot th {

	border-top: 1px solid #999;

	text-align: center;

	font-size: 11px;

	text-decoration: none;

}



table.adminlist2 td.order {

	text-align: center;

}



table.adminlist2 td.order span {

	float: left;

	display: block;

	width: 20px;

	text-align: center;

}



table.adminlist2 .pagination2 {

	display:table;

	padding:0;

	margin:0 auto;

}



.pagination2 div.limit {

	float: left;

	height: 22px;

	line-height: 22px;

	margin: 0 10px;

}

/** stu nicholls solution for centering divs **/

.containter {clear:both; text-decoration:none;}

* html .container {display:block;}


table.admintable2 {
	width: 100%;
}
table.admintable2 td 					 { padding: 3px; }
table.admintable2 td.key,
table.admintable2 td.paramlist_key {
	background-color: #f6f6f6;
	text-align: right;
	width: 200px;
	color: #666;
	font-weight: bold;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

table.admintable2 td.key.vtop { vertical-align: top; }

/* submenu box */

.submenu-box {

	background: #f6f6f6;

	padding: 5px 1px;

	margin-top: 10px;



}

/* submenu styling */

#submenu {

	list-style: none;

	padding: 0;

	margin: 0;

}



#submenu li {

	float: left;

	padding: 0;

	margin: 0;

}



#submenu li a,

#submenu span.nolink {

	cursor: pointer;

	padding: 5px 10px;

	font-weight: bold;

	color: #0B55C4;

}



#submenu span.nolink {

	color: #999;

}



#submenu a.active,

#submenu span.nolink.active {

	color: #000;

	text-decoration: underline;



}

legend    {
	color: #0B55C4;
	font-size: 12px;
	font-weight: bold;
}


table.noshow {
	width: auto;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

table.noshow tr {
	vertical-align: top;
}

table.noshow td {
}

table.noshow fieldset {
margin: 15px 7px 7px 7px;
}
a, img { padding: 0; margin: 0; }
img { border: 0 none; }


fieldset.vb-fieldset div.row {
	border-bottom:1px solid #eeeeee;
	padding:5px;
}

fieldset.vb-fieldset div.row label {
	display:block;
	float:left;
	clear:left;
	font-weight:bold;
	width:18em;
}

fieldset.vb-fieldset {
	border:1px solid #cccccc;
	padding:5px !important;
}