/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

body#page {
	background: #AAC3E6 url(../images/blue/page_bg.png) 0 0 repeat-x;
}

div.wrapper-tl {
	background: #ffffff url(../images/blue/wrapper_tl.png) 0 0 no-repeat;
}

div.wrapper-tr {
	background: url(../images/blue/wrapper_tr.png) 100% 0 no-repeat;
}

div.wrapper-bl {
	background: url(../images/blue/wrapper_bl.png) 0 100% no-repeat;
}

div.wrapper-br {
	padding: 10px 10px 10px 10px;
	background: url(../images/blue/wrapper_br.png) 100% 100% no-repeat;
}

div#footer {
	color: #ffffff;
}

div#footer a.anchor {
	background: url(../images/footer_anchor_white.png) 0 0 no-repeat;
}