/* Hot Property's CSS File */

#hp_con1 {
}

/****** Global Containers ******/
#con_global {width: 100%;}

/****** Headings ******/
#heading_Agent, #heading_Co, #heading_Prop, #heading_Type, #heading_Types, #heading_Featured, #heading_Search, #heading_AdvSearch, #heading_Co_Contact, #hp_view_agent_title, #hp_view_agent_contact, #hp_ManageProp, #hp_EditProp  {
	font-size: 12px;
	font-weight: bold;
	color: #616161;
	background-color: #FFFFF1;
	margin-bottom: 0px;
	text-align: left;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #D8D8D8;
}

/****** Borders ******/
#hp_view_agent_con, #hp_emailform_con, #hp_searchresult_con, #hp_view_co_con {
	background-color: #FFFFF1;
	border-bottom: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	padding: 10px;
	text-align: left;
}

/****** Features ******/
#hp_view_features_title {
	font-size: 16px;
	font-weight: bold;
	color: #616161;
	text-decoration: underline;
	margin-top: 16px;
	margin-bottom: 6px;
}

/****** Featured ******/
#con_featured1 { }

/****** Search ******/
#con_search1 { }
#con_search2 { }
#con_asearch1 { }
#con_asearch2 { border-left: 1px solid #D8D8D8; border-right: 1px solid #D8D8D8; border-bottom: 1px solid #D8D8D8; background-color: #FFFFF1}
.hp_asearch_row0 { background-color: #FFFFF1; }
.hp_asearch_row1 {background-color: #EFEFEF; }

#con_sort1 {
	width: 120px;
	text-align: left;
	display: inline;
}
#con_sort2 {
	text-align: right;
	display: inline;
	width: 370px;
}
#con_sort {
	background-color: #FFFFF1;
	padding: 5px 5px 5px 7px;
	margin-bottom: 6px;
	border-bottom: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}

/****** Search - Page Counter ******/
#hp_search_pagecounter_top {
	margin-top: 10px;
	text-align: center;
}
#hp_search_pagecounter_bottom, #hp_pagecounter_bottom {
	margin-top: 5px;
	text-align: center;
	padding: 6px;
	background-color: #FFFFF1;
	border: 1px solid #C0C0C0;
	display: block;
}

/****** Front Page - Types  ******/
#con_types1 { }
#con_types2 { }
.con_types3 {
	float: left;
	width: 245px;
	vertical-align: top;
	padding: 5px;
	text-align: left;
}

/****** Listing ******/
#list_agents, #list_searchresults, #list_properties, #list_featured {
	margin-top: 15px;
	text-align: left;
}

/****** Listing - Property ******/
#hp_icons {
	text-align: right;
	padding-top: 5px;
}
.hp_prop {
	width: 513px;
	display: block;
	float: left; 
	text-align: left;
	margin-bottom: 10px;
}
.hp_details {
	width:372px;
	vertical-align: top;
	padding-left: 8px;	
	float: left; 
}

/****** Type ******/
#con_type1 { }
.types_desc {
	margin-top: 3px;
	margin-bottom: 5px;
}

/****** Company ******/
.hp_view_co { }
#hp_view_co_photo {
	float: left; 
	margin-right: 12px;
}
#hp_view_co_details {min-height: 170px;}
#hp_caption_coname {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

/****** Property ******/
#con_hp1 { }
#con_hp2 { }
.hp_view_details {
	font-size: 13px;
	vertical-align: top;
	padding-left: 7px;	
	padding-top: 10px;
	text-align: left;
	border:0px solid #C0C0C0;
	line-height: 20px;
}
#standard_photo { }
#hp_view_intro_text {
	line-height: 15px;
	margin: 7px 0px 0px 0px;
}
#hp_view_full_text {
	line-height: 15px;
	margin: 7px 0px 0px 0px;
}
.hp_caption {font-weight: bold;}
.hp_price {color: #990000; font-size: 13px;}

/****** Property -Photo ******/
#hp_view_standard_photo_con1 {
	text-align: center;
	background-color: transparent;
	margin: 10px;
}
#hp_view_standard_photo_con2 {
	text-align: center;
	width: 400px;
	margin: 0px 50px 0px 50px;
	background-color:#FFDFB5;
	padding: 1px;
}
#hp_view_standard_photo_con3 {
	text-align: center;
	width: 100%;
	background-color: #FFDFB5;

}
#hp_view_standard_photo_con4 {padding: 5px;}
#hp_view_standard_photo_title {font-weight: bold; color: black;}
#hp_view_standard_photo_desc { }
.hp_view_thumb_con {
	width: 130px; 
	float: left;
	padding-top: 0px;
	text-align: center;
	margin-right: 12px;
}

.img_thumb {
	width:120px;
	vertical-align: top;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 1px 1px 1px 10px;
	border: 0px solid #C0C0C0;
}

ul.thumb {
	margin: 0px;
    list-style: none;
	padding: 0px;
}

ul.thumb li {
	list-style-position: outside;
	width: 120px;
    text-align: center;
    margin: 0px 0px 6px 0px ;
	list-style-image: none;
	background-color: #FFDFB5;
	padding: 0px;
}

ul.thumb li a {
    text-decoration: none;
    color: #00f;
}

ul.thumb li a img {
}

/****** List ******/
.olist { list-style-type: disc; margin: 3px 0px 0px 15px; padding: 0px; text-align: left;}
.olist li {	padding: 0px; }

/****** Agent ******/
#hp_view_agent_photo {
	padding: 5px;
	display: inline;
	float: left;
	margin-right: 12px;
}
#hp_view_agent_details {padding: 5px;}


.hp_view_agent {
	font-size: 13px;
	text-align: left;
}
#hp_view_agent_desc {
	margin: 10px 10px 0px 10px;
}

#hp_caption_agentname {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

/****** Address ******/
#hp_view_addr, #hp_co_addr {
	margin: 6px;
	font-size: 11px;
	line-height: 15px;
}

/* Links */
a.hp_title:link, a.hp_title:visited {
	font-size: 15px;
	color: #CC6600;
	font-weight: bold;
	text-decoration: underline;
}
a.types_title:link, a.types_title:visited {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}

/* Types List of Hot Property */
.types_hp { margin: 3px 0px 0px 0px; padding: 0px; text-align: left;}

/* misc */
.clearboth {clear: both;}

/* Error - Empty, no property */
#hp_error_empty {text-align: center;}