@font-face {
    font-family: 'BodonitownRegular';
    src: url('Bodonitown-webfont.eot');
    src: url('Bodonitown-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bodonitown-webfont.woff') format('woff'),
         url('Bodonitown-webfont.ttf') format('truetype'),
         url('Bodonitown-webfont.svg#BodonitownRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd47LtCn';
    src: url('helveticaneueltstd-ltcn-webfont.eot');
    src: url('helveticaneueltstd-ltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ltcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-ltcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ltcn-webfont.svg#HelveticaNeueLTStd47LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

.contentitem h2{
	font-size:150%;
	margin-bottom: 10px;
	font-weight:bold;
}
.contentitem ul{
	padding-left:30px;
	margin-bottom:10px;
}
.contentitem ul li{
	list-style:circle;
}


body#page {
	background-image: url('../images/site/bg_main.gif');
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	color: #656565;
}

p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}
strong img {
	vertical-align: middle;
}

h5 {
	font-weight: bold;
	margin-bottom: 5px;
}

a:link,
a:visited {
	color: #369EBC;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
	padding: 0px 4px 8px 4px;
	background-image:  url('../images/site/bg_middle.png');
	position: relative;
}

/*------------------------ Header Styles (inc. main menu) -------------------------*/

#toolbar_top {
	position: absolute;
	width: 20px;
	padding: 2px;
	background-color: #ffffff;
	right: -21px;
	top: 5px;
	border: 1px solid #fb793d;
	border-left: none;
}

#header {
	min-height: 410px;
	padding-top: 15px;
	position: relative;
	z-index: 2;
	background: #ffffff;
}

#header ul.menu {
	display: inline-block;
	border-bottom: 3px solid #fb8650;
	padding: 6px 0 0 0;
	position: relative;
}

#header ul li.level1 {
	display: block;
	float: left;
	width: 138px;
	/* margin: 0 5px 0 5px; */
	text-align: center;
	position: relative;
	background-image: url(../images/menu/menu_separator.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

#header ul li.level1.first,
#header ul li.level1.last {
	width: 135px;
}

#header ul li.level1 a.level1:link,
#header ul li.level1 a.level1:visited {
	/*display: block;*/
	width: 136px; 
	color: #3F3F3F;
	/* height: 0px; */
	/* padding-top: 45px; */
	/* padding: 5px; */
	overflow: hidden;
	background-position: top left;
	font-size: 1.4em;
	font-family:"HelveticaNeueLTStd47LtCn";
	text-transform:uppercase;
	text-decoration: none;
}
#header ul li.level1 a.level1.first:link span {
	display: block;
	padding: 4px;
	margin: 0px 20px 15px 20px;
}
#header ul li.level1 a.level1:link span {
	margin: 0px 16px 15px 16px;
		display: block;
	padding: 4px;
}
#header ul li.level1 a.level1:hover,
#header ul li.level1 a.level1:active,
#header ul li.level1 a.level1.current {
	background-position: top right;
	
}
#header ul li.level1 a.level1.first:link:hover span, 
#header ul li.level1 a.level1:hover span
{
	border-bottom: #EA8042 3px solid;
	padding-bottom: 1px;
}
/*
#header ul li.level1 a.level1.item54 {
	background-image: url('../images/menu/mnu_home.png');
	width: 135px;
}

#header ul li.level1 a.level1.item141 {
	background-image: url('../images/menu/mnu_about.png');
}

#header ul li.level1 a.level1.item97 {
	background-image: url('../images/menu/mnu_allprops.png');
}

#header ul li.level1 a.level1.item73 {
	background-image: url('../images/menu/mnu_islandlife.png');
}

#header ul li.level1 a.level1.item99 {
	background-image: url('../images/menu/mnu_ataglance.png');
}

#header ul li.level1 a.level1.item142 {
	background-image: url('../images/menu/mnu_myreservations.png');
}

*/
#header ul li.level1 a.level1.item143 {
/* 	background-image: url('../images/menu/mnu_contact.png'); */
	width: 135px;
}

#header ul.level2 {
	display: none;
	position: absolute;
	z-index: 999;
	background-image: url('../images/site/bg_mainmenu_dropdown.png');
	width: 133px;
	border: 1px solid #ffffff;
	border-bottom: none;
	z-index: 999;
}

#header ul.level2 li {
	border-bottom: 1px solid #ffffff;
	padding: 5px;
}

#header ul.level2 li a:link,
#header ul.level2 li a:visited {
	color: #ffffff;
	font-size: 1.2em;
	text-decoration: none;
}

#header ul.level2 li a:hover,
#header ul.level2 li a:active {
	text-decoration: underline;
}

#header ul li.level1:hover ul.level2 {
	display: block;
}

#header .moduletable-owner-menu{
	overflow: hidden;
}

#header .moduletable-owner-menu ul{
	float: right;
	font-size: 120%;
}

#header .moduletable-owner-menu a{
	height: auto !important;
	padding: 10px 0 !important;
}


/* Header banner images */
.moduletable-banner-images {
	width: 960px;
	height: 312px;
	overflow: hidden;
}

.moduletable-logo{
	position: relative;
	z-index: 2;	
}

/* end of main menu */

#banner {
	position: relative;
	z-index: 2;
	width: 960px;
	height: 312px;
	border-top: 3px solid #369ebc;
	background: #ffffff;
}

#banner img.logo {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
}

#banner h1 {
	display: block;
	position: absolute;
	width: 449px;
	height: 0px;
	padding-top: 70px;
	overflow: hidden;
	background-image: url('../images/site/h1_main.png');
	left: 55px;
	top: 190px;
}

#banner .moduletable-advancedsearch {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 317px;
	height: 311px;
	background-image: url('../images/site/bg_advsearch.png');
}

#banner .moduletable-advancedsearch h3 {
	display: block;
	width: 255px;
	height: 0px;
	padding-top: 22px;
	overflow: hidden;
	background-color: none;
	background-image: url('../images/site/h3_availabilitychecker.png');
	margin: 13px 0px 0px 13px;
}

#banner .mod_hp_search {
	padding: 15px 0px 0px 20px;
}

#banner .moduletable-advancedsearch label {
	color: #ffffff;
	font-size: 1.2em;
}

#banner .moduletable-advancedsearch .hp_search_submit {
	width: 249px;
	height: 0;
	padding-top: 70px;
	border: none;
	background-image: url('../images/site/btn_search_big.png');
	display: block;
}
#banner .moduletable-advancedsearch.de .hp_search_submit {
	margin-left: -10px;
	width: 249px;
	border: none;
	background-image: url('../../../images/stories/search_btn_de.png');
	display: block;
}
#banner .moduletable-advancedsearch .hp_adv_reset {
	background-image: url('../images/site/btn_reset.png');
	width: 66px;
	height: 0;
	padding-top: 29px;
	display: block;
}
#banner .moduletable-advancedsearch.de .hp_adv_reset {
	margin-left: -15px;
	background-image: url('../../../images/stories/reset_btn_de.png');
	width: 111px;
	display: block;
}

#banner .moduletable-advancedsearch .inputbox {
	margin-bottom: 5px;
}

#banner a.hp_adv_search {
	float: right;
	display: block;
	color: #ffffff;
	font-size: 1em;
	display: inline;
	margin-right: 50px;
	width: 147px;
	height:0px;
	padding-top: 29px;
	overflow: hidden;
	background-image: url('../images/site/btn_advanced_search.png');
}
#banner a.hp_adv_search.de {
	background-image: url('../../../images/stories/advanced_search_de.png');
	width: 132px;
	height: 29px;
	display: block;
}
#call-to-action {
	position: relative;
	z-index: 2;
	width: 960px;
	height: 0px;
	padding-top: 47px;
	overflow: hidden;
	background-image: url('../images/site/img_cta.gif');
}
#call-to-action-de {
	width: 960px;
	height: 0px;
	padding-top: 47px;
	overflow: hidden;
	background-image: url('../../../images/stories/cta.jpg');
}

/*------------------------ Main Column -------------------------*/

#content{
	
}

#content-main {
	padding: 15px 10px;
}


/*------------------------ Left Column -------------------------*/

#content-left {
	float: left;
	width: 236px;
}

.left-col #content{
	margin-left: 245px;
}

#content-left .moduletable-currency {
	width: 232px;
	height: 90px;
	background-color: #fed7c4;
	margin: 7px 0px 10px 2px;
	text-align: center;
}

#content-left .moduletable-currency h3 {
	display: block;
	width: 232px;
	height: 0px;
	padding-top: 43px;
	overflow: hidden;
	background-image: url('../images/site/h3_currency.gif');
	margin-bottom: 8px;
}
#content-left .moduletable-currency.de h3 {
	background-image: url('../../../images/stories/currency_converter_de.jpg');
}
#content-left .moduletable-follow-us {
	width: 231px;
	height: 90px;
	padding: 1px 3px 3px 2px;
	background-image: url('../images/site/bg_followus.gif');
	margin-top: 7px;
	text-align: center;
}
#content-left .moduletable-follow-us h3 {
	display: block;
	width: 231px;
	height: 0px;
	padding-top: 47px;
	overflow: hidden;
	background-image: url('../images/site/h3_followus.gif');
	margin-bottom: 8px;
}
#content-left .moduletable-follow-us.de h3 {
	background-image: url('../../../images/stories/keep_in_touch_de.jpg');
}

/*------------------------ Right Column -------------------------*/

#content-right {
	float: right;
	width: 230px;
}

.right-col #content{
	margin-right: 240px;
}

#fprop-wrapper {
	width: 230px;
	height: 355px;
	overflow: hidden;
	background-image: url('../images/site/bg_featured.gif');
	position: relative;
}

.moduletable-featured-props h3 {
	display: block;
	width: 230px;
	height: 0px;
	padding-top: 19px;
	overflow: hidden;
	background-image: url('../images/site/h3_featuredprops.gif');
	margin-bottom: 5px;
}
.moduletable-featured-props-de h3 {
	display: block;
	width: 230px;
	height: 0px;
	padding-top: 19px;
	overflow: hidden;
	background-image: url('../../../images/stories/featured_properties_de.jpg');
	margin-bottom: 5px;
}

#fprop-wrapper .fp_prop {
	float: left;
	width: 230px;
	height: 330px;
}

#fprop-wrapper .fp_thumb,
#fprop-wrapper .fp_more {
	padding: 12px 12px 0px 12px;
}

#fprop-wrapper .fp_prop {
	color: #818181;
}

#fprop-wrapper .fp_prop h4 {
	font-size: 1.5em;
	margin-bottom: 5px;
	margin-top: 15px;
}

#fprop-wrapper .fp_prop p {
	font-size: 1.1em;
	line-height: 1.2em;
	margin: 0px;
}

#fprop-wrapper a:link,
#fprop-wrapper a:visited {
	color: #000;
}

#fprop-wrapper a:hover,
#fprop-wrapper a:active {
	text-decoration: none;
}

#fprop-wrapper ol.pager {
	position: absolute;
	display: block;
	top: 240px;
	width: 230px;
	text-align: center;
}

#fprop-wrapper ol.pager li {
	zoom: 1;
	display: inline-block;
	*display: inline;
	margin: 0px 2px;
}

#fprop-wrapper ol.pager a {
	display: block;
	width: 9px;
	height: 0px;
	padding-top: 9px;
	overflow: hidden;
	background-image: url('../images/site/bg_featured_nav.gif');
	background-position: top left;
	float: left;
}

#fprop-wrapper ol.pager li.selected a {
	background-position: top right;
}

#fprop-wrapper ol.pager li.prev,
#fprop-wrapper ol.pager li.next {
	display: none;
}

/*------------------------ Property Types Links (bottom of home page) -------------------------*/

#content-bottom {
	width: 960px;
}

#content-bottom ul {
	padding: 10px 0px 0px 10px;
}

#content-bottom .moduletable-property-types li {
	float: left;
}

#content-bottom .moduletable-property-types .item88 span,
#content-bottom .moduletable-property-types .item89 span,
#content-bottom .moduletable-property-types .item144 span,
#content-bottom .moduletable-property-types .item91 span {
	display: block;
	width: 229px;
	height: 0px;
	padding-top: 162px;
	overflow: hidden;
	margin-right: 8px;
}

#content-bottom .moduletable-property-types .item146 span,
#content-bottom .moduletable-property-types .item145 span,
#content-bottom .moduletable-property-types .item93 span,
#content-bottom .moduletable-property-types .item87 span {
	display: block;
	width: 231px;
	height: 0px;
	padding-top: 167px;
	overflow: hidden;
	margin-right: 6px;
	margin-top: 11px;
}

/*------------------------ Search Results Page -------------------------*/

#hp_searchresult_con {
	margin-bottom: 0px !important;
}

#hp_search_pagecounter_top,
#hp_search_pagecounter_bottom {
	display: inline-block;
	padding: 0px 13px;
	width: 934px;
	color: #242424;
	font-size: 1.2em;
	margin: 0px !important;
}

#hp_search_pagecounter_top span.counter,
#hp_search_pagecounter_bottom span.counter {
	float: left;
}

.search-pagenav {
	float: right;
}

.search-pagenav span,
.search-pagenav a {
	color: #242424;
	margin: 0px 6px;
}

.search-pagenav a:link,
.search-pagenav a:visited {
	font-weight: normal;
	text-decoration: none;
}

.search-pagenav a:hover,
.search-pagenav a:active {
	text-decoration: underline;
}

.search-pagenav .btn-first {
	display: inline-block;
	width: 11px;
	height: 0px;
	padding-top: 13px;
	overflow: hidden;
	background-image: url('../images/site/btn_pages_first.gif');
}

.search-pagenav .btn-prev {
	display: inline-block;
	width: 11px;
	height: 0px;
	padding-top: 13px;
	overflow: hidden;
	background-image: url('../images/site/btn_pages_prev.gif');
}

.search-pagenav .btn-next {
	display: inline-block;
	width: 11px;
	height: 0px;
	padding-top: 13px;
	overflow: hidden;
	background-image: url('../images/site/btn_pages_next.gif');
}

.search-pagenav .btn-last {
	display: inline-block;
	width: 11px;
	height: 0px;
	padding-top: 13px;
	overflow: hidden;
	background-image: url('../images/site/btn_pages_last.gif');
}

#list_searchresults,
#list_properties {
	padding: 0px 10px;
	margin: 0px !important;
	display: inline-block;
}

.contentitem #list_searchresults {
	padding: 0px;
}

.hp_prop {
	width: 920px !important;
	height: 160px;
	background-image: url('../images/site/bg_search_item.gif');
	overflow: hidden;
	padding: 10px;
	color: #454545;
}

.hp_prop:last-child {
	margin-bottom: 0px !important;
}

.hp_prop .img_thumb {
	float: left;
	width: 235px;
}

.hp_prop .hp_details {
	width: 665px;
	padding-left: 20px;
}

.hp_prop .hp_details h2, .hp_prop .hp_details h3 {
	font-size: 2.4em;
	font-weight: bold;
	margin: 0px;
	color: inherit;
}

.hp_prop .hp_details span.area {
	font-size: 1.2em;
	display: block;
	border-bottom: 1px solid #454545;
	padding-bottom: 4px;
	padding-top: 2px;
}

.hp_prop .hp_more ul {
	list-style: disc;
	color: #8c8c8c;
	font-size: 1.5em;
	padding-left: 10px;
	margin-left: 10px;
}

.hp_prop .hp_more ul li {
	padding-top: 5px;
}

.hp_prop .hp_more {
	float: left;
	width: 400px;
	min-height: 10px;
}

.hp_prop .hp_features {
	float: right;
	width: 240px;
	height: 85px;
	padding-top: 3px;
}

.hp_prop .hp_features ul {
	display: block;
	float: left;
	background-color: #fff3ed;
	width: 220px;
	list-style: none;
	color: #454545;
	font-size: 1.1em;
	padding: 5px 10px;
}

.hp_prop .hp_features ul li {
	float: left;
	width: 76px;
	padding: 2px 0px 2px 34px;
	height: 29px;
	line-height: 29px;
	background-repeat: no-repeat;
	background-position-y: 2px;
}

.hp_prop .hp_features ul li.bed {
	background-image: url('../images/site/icon_beds.gif');
}

.hp_prop .hp_features ul li.waterfront {
	background-image: url('../images/site/icon_waterfront.gif');
}

.hp_prop .hp_features ul li.privpool {
	background-image: url('../images/site/icon_privpool.gif');
}

.hp_prop .hp_features ul li.beach {
	background-image: url('../images/site/icon_beach.gif');
}

.hp_prop a.viewlink {
	display: block;
	float: right;
	width: 87px;
	height: 0px;
	padding-top: 27px;
	overflow: hidden;
	background-image: url('../images/site/btn_viewmore.gif');
	clear: right;
}

/*------------------------ Property Details Page -------------------------*/

h1.prop-heading, h2.prop-heading {
	color: #656565;
	font-size: 2em;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
}

h2.prop-heading span {
	font-weight: normal;
}

a#backButton:link,
a#backButton:visited {
	float: right;
	color: #656565;
	margin-right: 10px;
	display: inline;
	font-size: 1.2em;
}

a#backButton:hover,
a#backButton:active {
	text-decoration: none;
}

.prop-left-col {
	float: left;
	width: 680px;
}

.prop-right-col {
	float: right;
	width: 245px;
}

#hpGallery {
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
	-moz-box-shadow: 0px 0px 2px 1px #c7c7c7;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	margin-bottom: 10px;
	behavior: url('/templates/annamaria_2011/css/PIE.htc');
}

#prop-glance {
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
	-moz-box-shadow: 0px 0px 2px 1px #c7c7c7;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	width: 640px;
	padding: 10px 20px;
	background: #dfdfdf;
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );*/
	background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	margin-bottom: 10px;
}

#prop-glance h3 {
	display: block;
	width: 640px;
	height: 0px;
	padding-top: 19px;
	overflow: hidden;
	background-image: url('../images/site/h3_prop_glance.png');
}

#prop-glance ul {
	display: inline-block;
}

#prop-glance ul li {	
	display: inline-block;
	zoom:1; 
	*display: inline;
	vertical-align: top;
	width: 190px;
	padding: 5px 10px 5px 0px;
	font-size: 1.4em;
	color: #808080;
	padding-left: 10px;
	background-image: url('../images/site/li_glance.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row {
	display: inline-block;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2 {
	width: auto;
	background-image: none;
	background-color: #369ebc;
	border-left: 1px solid #65b4cc;
	border-right: 1px solid #2a7991;
	border-top: 1px solid #369ebc;
	height: auto;
	margin: 0px;
	float: left;
	font-size: 1.2em;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	padding: 4px 10px;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2 a {
	color: #ffffff;
	text-decoration: none;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2.hover,
#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2.selected {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2.hover a,
#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-row h2.selected a {
	color: inherit;
}

#con_hp1 .tabs-menu .dynamic-tab-pane-control .tab-page {
	padding: 10px;
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
	-moz-box-shadow: 0px 0px 2px 1px #c7c7c7;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	border: none;
	background: #ffffff;
	behavior: url('/templates/annamaria_2011/css/PIE.htc');
}

.property_calendar_left p {
	margin: 10px 0px;
	display: inline-block;
}

.cal-box {
	width: 231px;
	background: #f6fbfc;
	background: -moz-linear-gradient(top, #f6fbfc 0%, #cde7ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fbfc), color-stop(100%,#cde7ee));
	background: -webkit-linear-gradient(top, #f6fbfc 0%,#cde7ee 100%);
	background: -o-linear-gradient(top, #f6fbfc 0%,#cde7ee 100%);
	background: -ms-linear-gradient(top, #f6fbfc 0%,#cde7ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fbfc', endColorstr='#cde7ee',GradientType=0 );
	background: linear-gradient(top, #f6fbfc 0%,#cde7ee 100%);
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
	-moz-box-shadow: 0px 0px 2px 1px #c7c7c7;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	padding: 7px;
	margin-bottom: 10px;
	behavior: url('/templates/annamaria_2011/css/PIE.htc');
	zoom: 1;
}

.cal-box ul.key {
	padding-bottom: 0px;
}

.cal-box ul.key li {
	display: inline-block;
	width: 110px;
	line-height: 19px;
}

#your_prices{
	overflow: hidden;
	clear: both;
}

input.button_clear {
	display: block;
	float: left;
	width: 110px;
	border: none;
	height: 27px;
	overflow: hidden;
	background: url('../images/site/btn_clear_form.gif') center;
	text-indent: -999px;
	text-transform: capitalize;
	margin-left: 25px;
}

input.button_print {
	display: block;
	float: left;
	width: 110px;
	padding: 0px;
	border: none;
	height: 27px;
	overflow: hidden;
	background: url('../images/site/btn_print.gif') center;
	text-indent: -999px;
	text-transform: capitalize;
}

table.vmAjaxPricing {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

table.vmAjaxPricing td {
	border-bottom: 1px solid #ddd;
	padding: 3px 0px;
	font-size: 1.2em;
}

table.vmAjaxPricing td#price_total {
	font-size: 2em;
}

table.vmAjaxPricing th {
	font-size: 1.4em;
	padding: 3px 0px;
	font-weight: bold;
}

#calendar_submit_button{
	clear: both;
	margin-top: 10px;
}

input.button_book {
	display: block;
	width: 239px;
	padding: 0px;
	border: none;
	height: 42px;
	overflow: hidden;
	background: url('../images/site/btn_book_now.gif') center;
	margin-left: 3px;
	margin-bottom: 15px;
	cursor: pointer;
	text-indent: -999px;
	text-transform: capitalize;
}

a#btn-video {
	display: block;
	width: 237px;
	height: 0px;
	padding-top: 197px;
	overflow: hidden;
	margin-bottom: 15px;
	background-image: url('../images/site/btn_video.jpg');
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
	-moz-box-shadow: 0px 0px 2px 1px #c7c7c7;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
}

h3.rel-props {
	display: block;
	width: 230px;
	height: 0px;
	padding-top: 19px;
	overflow: hidden;
	background-image: url('../images/site/h3_also_viewed.gif');
	margin-bottom: 5px;
}

/*------------------------ Other Pages -------------------------*/

.contentitem h1 {
	color: #656565;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.contentitem h3 {
	color: #656565;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
}

.contentitem p {
	color: #656565;
	margin-bottom: 10px;
}

#vmMainPage {
	padding: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
}

#vmMainPage p {
	font-size: 1em;
}

.adminlist tr.sectiontableentry1 {
	background-color: #eeeeee;
}

.adminlist tr.sectiontableentry2 {
	background-color: #dddddd;
}

.adminlist td {
	vertical-align: top;
	padding: 5px;
}

.adminlist a img {
	vertical-align: middle;
}

.jom-comment {
	font-size: 1.2em;
	line-height: 1.5em;
}

.jom-comment .jomentry2, #jc_commentFormDiv {
	color: inherit;
	background-color: transparent;
	background-image: none;
}

.jom-comment #jc_commentForm button {
	display: block;
	width: 110px;
	height: 0px;
	padding-top: 27px;
	overflow: hidden;
	cursor: pointer;
	background-image: url('../images/site/btn_add_comment.gif');
}

#booking_wrapper {
    position: relative;
}

#booking_wrapper table {
    width: 100%;
}

#booking_wrapper fieldset {
    border: 1px solid black;
    margin: 10px 0px;
    padding: 10px;
    /*position:relative;*/
}

#booking_wrapper #booking_wrap_msg {
    padding: 1px 0px;
}

#booking_wrapper .total {
    float: right;
}

#booking_wrapper legend {
    font-weight: bold;
    font-size: 120%;
}

#con_asearch2 form {
	padding: 10px;
}

#con_asearch2 tr {
	background-color: transparent;
}

#con_asearch2 td {
	padding: 3px 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 1.2em;
}

/*------------------------ Search Filter Drawer -------------------------*/

#mod-hp-search-drawer {
	position: absolute;
	height: 0;
	z-index: 1;
}

#mod-hp-search-drawer .search-drawer-expander {
	position: relative;
	width: 960px;
	height: 0;
}

#mod-hp-search-drawer .search-drawer-inner {
	position: absolute;
	z-index: 999;
	bottom: 153px;
	height: 0px;
}

#mod-hp-search-drawer .search-drawer-inner form {
	display: block;
	position: relative;
	padding: 20px 26px;
	width: 908px;
	height: 113px;
	background-image: url('../images/site/bg_filter_results.png');
}

#mod-hp-search-drawer .search-drawer-inner h3 {
	display: block;
	width: 908px;
	height: 0px;
	padding-top: 31px;
	overflow: hidden;
	background-image: url('../images/site/h3_refine_your_search.png');
	margin-bottom: 3px;
}

#mod-hp-search-drawer .search-drawer-inner label {
	color: #fff;
	font-size: 1.3em;
}

#mod-hp-search-drawer .search-drawer-inner .filter-item {
	float: left;
	padding-right: 5px;
	font-size: 1.1em;
}

#mod-hp-search-drawer .search-drawer-inner .filter-list-0 {
	float: left;
	width: 66%;
}

#mod-hp-search-drawer .search-drawer-inner .filter-list-1 {
	float: right;
	width: 33%;
}

#mod-hp-search-drawer .search-drawer-inner .hp-filter-submit {
	position: absolute;
	right: 25px;
	bottom: 40px;
}

#mod-hp-search-drawer .search-drawer-inner a.btn-filter:link,
#mod-hp-search-drawer .search-drawer-inner a.btn-filter:visited {
	position: absolute;
	left: 413px;
	width: 134px;
	height: 15px;
	padding: 3px 0 0 0;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	background-image: url('../images/site/bg_filter_tab.png');
}

#mod-hp-search-drawer .search-drawer-inner a.btn-filter:hover,
#mod-hp-search-drawer .search-drawer-inner a.btn-filter:active {
	text-decoration: none;
}

/*------------------------ Site Footer Menus -------------------------*/

#footer-menu {
	width: 100%;
	border-top: 3px solid #fb8650;
	background-color: #369ebc;
	position: relative;
	color: #ffffff;
}

.footer-inner {
	width: 960px;
	margin: 0px auto;
}

#footer-menu .moduletable,
#footer-menu .moduletable-help {
	float: left;
	padding-left: 28px;
	padding-top: 30px;
	width: 163px;
	background-image: url('../images/site/bg_footermenus.gif');
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 30px;
}

#footer-menu .moduletable-help {
	background: none;
}

#footer-menu .moduletable-login-menu {
	float: right;
	padding-top: 30px;
	padding-left: 40px;
	width: 153px;
	height: 260px;
	background-image: url('../images/site/bg_menu_login.gif');
	background-repeat: repeat-x;
}

#footer-menu h3 {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 15px;
}

#footer-menu ul {
	font-size: 1.2em;
}

#footer-menu ul  li {
	margin-bottom: 15px;
}

#footer-menu ul  li a {
	color: #ffffff;
	text-decoration: none;
}

/*------------------------ Site Footer -------------------------*/

#footer {
	width: 100%;
	border-top: 3px solid #d6ebf1;
	background-color: #a4d3e1;
	position: relative;
	color: #369ebc;
}

#footer .moduletable {
	padding: 10px 28px 0px 28px;;
}

#footer p {
	padding-bottom: 10px;
	margin: 0px;
}


/*------------------------ Organic CSS -------------------------*/

.contentitem .icons {
	text-align: left;
}





