/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 
 
 
/*.net hot property fixes*/

div#right{
	text-align: center;
}

/*--------------Search Module Listings----------------*/

div.hp_custom_search span.price_ranges_right{
	clear: none !important;
	float: none !important;
}

div.hp_custom_search .hp_details{
	float: none !important;
}

div.hp_custom_search .img_thumb{
	float: right !important; 
}

div.hp_custom_search .price_ranges_box{
	float:right !important;
	margin-right:35px !important;
	width:132px !important;
	}
	
div.hp_custom_search div.hp_more ul{
	padding-left: 3em;
}

div.hp_custom_search h2.tab{
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;
	background: #fff !important;
}

div.hp_custom_search div.img_thumb img{
	background:#FFFFFF none repeat scroll 0;
	border:1px solid #ccc;
	padding: 3px;
	margin: 0px 2px 2px -27px;
}

div.hp_custom_search div.hp_prop{
	border:1px solid #CCCCCC;
	width:475px !important;
}

div.hp_custom_search div.booking_buttons{
	margin-right: 25px;
}

/*------adsense------*/

div.module_adsense{
	margin-top:20px;
}