/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 

/* joomla */
div#yoo-search input {
	width: 91px;
}

/* general */
ol.disc {
	padding: 0px 0px 0px 32px;
}