/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 


body{
	color: #000000;
}
body#page {
	background: #ffffff;
	padding: 10px;
}

/* set body font size (styleswitcher) */
body.font-small {
	font-size: 110%;
}

body.font-medium {
	font-size: 120%;
}

body.font-large {
	font-size: 130%;
}

/* center page */
div.wrapper {
	margin: auto; 
	background: #E8EDD6 none repeat scroll 0;
}

div.floatholder{
	background: #E8EDD6 none repeat scroll 0;
}



/*
 * Layout
 */

div#absolute {
	position: absolute;
	z-index: 15;
	top: 0px;
	left: 0px;
	width: 100%;
}

div#page-body {}

div.wrapper-t {}

div.wrapper-r {}

div.wrapper-b {}

div.wrapper-l {}

div.wrapper-tl {}

div.wrapper-tr {}

div.wrapper-bl {}

div.wrapper-br {}

div#header {
	width: auto;  
	padding: 0px;
	clear: both;  
	/*background: #e8eed5 url(../images/layout/header-background.png) no-repeat top left;*/
	min-height: 265px;
}

div#header div.header-l {}

div#header div.header-r {}

div#toolbar {
	width: auto;  
	clear: both;  
}

div#date {
	margin: 4px 0px 0px 0px;
	float: right;
	font-size: 85%;
}

div#topmenu {}

div#styleswitcher {
	height: 20px;
	margin: 3px 0px 0px 10px;
	float: right;
}

div#styleswitcher a {
	width: 15px;
	height: 20px;
	float: right;
	text-decoration: none;
	display: block;	 
}

div#search {
	height: 18px;
	margin: 3px 0px 0px 10px;
	float: right;
}

div#headerbar {
	width: auto;  
	clear: both;  
}

div#headermodule {}

div#logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

div#menu {

}

div#banner {}

div#top {
	width: auto;  
	margin: 10px 0px 0px 0px;
	clear: both;  
}

div#top .top-b {}

div#top .top-l {}

div#top .top-r {}

div#top .top-tl {}

div#top .top-tr {}

div#top .top-bl {}

div#top .top-br {}

div#mainbody a{
	color: #4088a6;
}


div#middle {
	width: auto;  
	margin: 0px;
	clear: both;  
	position: relative;
}

div#middle .background {}
 
.left div#middle .background {}
 
.right div#middle .background {}

div#left {
	width: 200px; 
	float: left; 
}

div#main {
	width: auto;
	margin: 0px;
	padding: 0px;
}

.showLeft div#main {
	margin-left: 200px;  
}
 
.showRight div#main {
	margin-right: 200px;  
}

.showLeft div#main_container{
	padding-left: 10px;
}

.showRight div#main_container{
	padding-right: 10px;
}

div#maintop {
	padding: 0px 0px 10px 0px;
}

div#mainmiddle {}

div#right {
	width: 200px;  
	float: right;
}
 
div#content {
	width: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

div#contenttop {
	margin: 0px 0px 1px 0px;
}

div#breadcrumb {
	height: 19px;
	font-size: 85%;
}

div#contentbottom {
	margin: 10px 0px 0px 0px;
}

div#mainbottom {
	padding: 0px 0px 10px 0px;
}

div#bottom {
	width: auto;  
	margin: 0px 0px 0px 0px;
	clear: both;  
}

div#bottom .bottom-b {}

div#bottom .bottom-l {}

div#bottom .bottom-r {}

div#bottom .bottom-tl {}

div#bottom .bottom-tr {}

div#bottom .bottom-bl {}

div#bottom .bottom-br {}

div#footer {
	width: auto;  
	padding: 10px 0px 0px 0px;
	clear: both;  
	text-align: center;
}

div#footer a.anchor {
	margin: 3px 10px 0px 0px;
	width: 30px;
	height: 5px;
	background: url(../images/extensions/footer_anchor.png) 0 0 no-repeat;
	display: block;
	float: right;
	text-decoration: none;
}

/*
 * Clearing & Floating
 */
 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0;  
	clear: both; 
	visibility: hidden;
}
 
.clearfix { display: block; }
 
.floatbox { overflow:hidden; }

.float-left { float: left; overflow: hidden; }
.float-right { float: right; overflow: hidden; }

.width20 { width: 19.999%; }
.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width50 { width: 49.999%; }
.width66 { width: 66.666%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }