/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 
 
/* General menu styles */ 
ul.menu,
ul.menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}


/*** Horizontal menu styling ***/

ul.hmenu{
	position: relative;
	z-index: 1;
}

/* List element styling */
ul.hmenu li{
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
}
 
/* General link styling */
ul.hmenu li a,
ul.hmenu li span.seperator{
	display: block;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

/* General link hover styling */
ul.hmenu a:hover, 
ul.hmenu span.separator:hover, 
ul.hmenu span.sfhover, 
ul.hmenu a.current:hover {  

}

/* Current menu item styling */
ul.hmenu li.current {}
ul.hmenu li a.current {}

/* Active menu item styling */
ul.hmenu li.active {}
ul.hmenu li a.active,  
ul.hmenu li span.active {}

/* General span styling */
ul.hmenu li span {  
	display: block;
}

/* Seperator used as a parent menu item styles */
ul.hmenu li.parent span.separator {  
	cursor: pointer;
}

/* Submenu styling */
ul.hmenu.menu ul {
	position: absolute;
	left: -999em;
	width: 165px;	/* Set the submenu width */
	background: #fff;
}

/* Submenu submenu */
ul.hmenu li ul ul {
	top: 0px;
	margin-left: 165px; /* Width of the parent UL */
}

/* Submenu LI styling */
ul.hmenu li.level1 li {
   	width: 100%;  
}

/* Submenu link styling */
ul.hmenu li.level1 li a, 
ul.hmenu li.level1 li span.separator{
	padding-top: 2px;
	padding-bottom: 2px;
}

/* Submenu parent link style */
ul.hmenu li.level2 a.parent, 
ul.hmenu li li.level2 span.parent {  
	background-image: url(../images/menu/menu_level2_item_parent.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/* Submenu un-hover styling */
ul.hmenu li:hover ul ul, ul.hmenu li.sfhover ul ul,  
ul.hmenu li:hover ul ul ul, ul.hmenu li.sfhover ul ul ul,  
ul.hmenu li:hover ul ul ul ul, ul.hmenu li.sfhover ul ul ul ul {  
	left: -999em;
}

/* Submenu hover styling */
ul.hmenu li:hover ul, ul.hmenu li.sfhover ul,
ul.hmenu li li:hover ul, ul.hmenu li li.sfhover ul,  
ul.hmenu li li li:hover ul, ul.hmenu li li li.sfhover ul,  
ul.hmenu li li li li:hover ul, ul.hmenu li li li li.sfhover ul {  
	left: 0;
	z-index: 100;
}


/* Individual level styling */

/* Top level menu items */
ul.hmenu li.level1 {}

/* Top level links/spans */
ul.hmenu a.level1 span, 
ul.hmenu span.level1 span {}

/* Top level LI hover styles */
ul.hmenu li.level1:hover, 
ul.hmenu li.sfhover {} 

 
 /*********** H-Menu end ************/



/*** Vertical menu ***/

/*main menu*/


div.module_main_menu{
	padding-left:20px;
	padding-right:10px;
	position:relative;
	top:-20px;
}

div.module_main_menu h3{
	color: #385751;
}

div.module_left_content a{
	color: #4088a6;
}

ul.menu_main_menu{
	list-style: none;
}

ul.menu_main_menu li a,
ul.menu_main_menu li span.seperator{
	display: block;
	text-decoration: none;
	padding: 2px 0px;
	color: #385751;
	font-weight: bold;
	
}

ul.menu_main_menu li span {  
	display: block;
	text-align: right;
}




/*-----------------*/
 
div#middle div.module_menu ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	list-style: none;
	background: #ffffff;
}

div#middle ul.menu li {
	margin: 0px;
	padding: 0px;
	display: block;
}

div#middle ul.menu li a, div#middle ul.menu li span.separator {
	height: 25px;
	display: block;
	line-height: 25px;
	text-decoration: none;
	color: #000000;
}



div#middle ul.menu li span {  
	background-repeat: no-repeat;
	background-position: 95% 0px;
}

div#middle ul.menu a.current {  
	color: #aa1428;
}

div#middle ul.menu a:hover, div#middle ul.menu span.separator:hover, div#middle ul.menu span.sfhover, div#middle ul.menu a.current:hover {  
	color: #aa1428;
}

div#middle ul.menu li.active {  
	font-weight: bold;
}

div#middle ul.menu li.active li {  
	font-weight: normal;
}

div#middle ul.menu li.parent span.separator {  
	cursor: pointer;
}

 
div#middle ul.menu li.level1 {
}

div#middle ul.menu a.level1, div#middle ul.menu span.level1 {
	background: #ffffff url(../images/menu/submenu_level1_item.png) 100% 0 no-repeat;
	text-indent: 15px;
}

div#middle ul.menu li.parent a.level1, div#middle ul.menu li.parent span.level1 {  
	background: #ffffff url(../images/menu/submenu_level1_item_parent.png) 100% 0 no-repeat;
}

 
div#middle ul.menu li.level2 {
}

div#middle ul.menu li.level2 a {
	height: 20px;
	line-height: 20px;
}

div#middle ul.menu a.level2 {
	background: #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 35px;
}

div#middle ul.menu a.level2 span {
	background: url(../images/menu/submenu_level2_item_icon.png) 15px 2px no-repeat;
}

 
div#middle ul.menu li.level3 {
}

div#middle ul.menu a.level3 {
	background:  #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 45px;
}

div#middle ul.menu a.level3 span {
	background: url(../images/menu/submenu_level3_item_icon.png) 25px 2px no-repeat;
}

 
div#middle ul.menu li.level4 {
}

div#middle ul.menu a.level4  {
	background: #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 55px;
}

div#middle ul.menu a.level4 span {
	background: url(../images/menu/submenu_level4_item_icon.png) 35px 2px no-repeat;
}

/*-----------My Reservations-------------*/

div.module-myreservations{
	margin-right:12px;

}






