/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 

/* reset header for all modules */
div.moduletable h3,
div.module h3,
div.moduletable-menu h3
div.module-menu h3{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}
/*
div.module-advancedsearch{
	display: none;
}

div.module-header{
	display: none;
}

div.module-left-menu{
	display: none;
}

div.module-search{
	display: none;
}

div.module-currency{
	display: none;
}
*/

div.module-advancedsearch{
	background:#E7E8C0 none repeat scroll 0 50%;
	height:210px;
	left:4px;
	 filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
	padding:10px;
	position:absolute;
	top:-322px;
	width:260px;
	
	/*----------------*/
	display: none;
}

form#searchfrm div.hp_row3 {
	float:left;
	margin-right:15px;
}

div.contentintro div.mod_hp_search{
	border: 1px solid #ccc;
	padding: 15px;
}

div.module_left_content{
padding-left: 15px;
}