/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2007 Organic Development Ltd. All rights reserved.
 */ 

/*
 * YOOsearch
 */

div.search {
	width: 120px;
	height: 18px;
	padding: 0px;
}

div.search input {
	width: 93px;  
	height: 14px;  
	padding: 2px 2px 2px 7px;
	border: none;
	outline: none;
	background: none;
	float: left;
	color: #646464;
	font-size: 75%;
}

div.search input.button {
	width: 18px;
	height: 18px;
	padding: 0px;
	border: none;
	background: url(../images/extensions/search_button.png) 0 0 no-repeat;
	cursor: pointer;
	text-indent: 100px;
	line-height: 0px;
}

div.search:hover, div#search div.sfhover  {
	background: url(../images/search_bg.png) 0 -18px no-repeat;
}

div.search:hover input, div.search input.sfhover {
	color: #000000;
}

div.search input:focus, div.search input.sffocus {
	color: #000000;
}

/*
 * Joomla!
 */

.contentheading h1, .componentheading h1{
	font-size: inherit;
}
 
#overDiv {
	line-height: 100%;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

.message{
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	display: block;
}

.icons{
	float: right;
	position: relative;
	margin-top: -25px;
}
 
.contentpane {
	margin: 0;
	padding: 0;
	width: 100%;
}

.contentpaneopen {
	margin: 0;
	padding: 0;
	width: 100%;
}

 
.contentpaneopen hr {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #c8c8c8;
	border-left: 0px;
	line-height: 0px;
	height: 1px;
}

 
.contentdescription {
}

 
.article_seperator {
	display: block;
	height: 16px;
}

 
.small {
	font-size: 95%;
	font-style: italic;
	color: #969696;
}

 
.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 95%;
	font-weight: bold;
	color: #646464;
}

 
.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 95%;
	color: #646464;
}

 
.buttonheading {
}

.buttonheading img {
	margin-right: 2px;
}

 
div.mosimage {
}

div.mosimage_caption {
	font-size: 95%;
}

 
.button {
	font-size: 95%;
}

.inputbox {
}

 
.sectiontableheader {
	padding: 5px 5px 5px 5px;
	background: #ebebeb;
	border-bottom: 1px solid #b4b4b4;
	font-weight : bold;
}

 
tr.sectiontableentry1 td {
	padding: 5px 5px 5px 5px;
	background: #fafafa;
	border-bottom: 1px solid #dcdcdc;
}

 
tr.sectiontableentry2 td {
	padding: 5px 5px 5px 5px;
	background: #f0f0f0;
	border-bottom: 1px solid #dcdcdc;
}

 
td.sectiontableentry1 {
	padding: 5px 5px 5px 5px;
	background: #fafafa;
	border-bottom: 1px solid #dcdcdc;
}

 
td.sectiontableentry2 {
	padding: 5px 5px 5px 5px;
	background: #f0f0f0;
	border-bottom: 1px solid #dcdcdc;
}

 
.poll {
}

.poll input.button {
	margin: 10px 0px 0px 0px;
}