/*
 * Organic Development CSS file
 *
 * @author organic-development.com
 * @copyright Copyright (C) 2008 Organic Development Ltd. All rights reserved.
 */ 

/*
 * YOOlogin
 */

#page span.quick span.yoo-login span.login {
	width: 231px;
	height: 45px;
	overflow: visible;
	font-size: 150%;
}

#page span.quick span.yoo-login span.login .login-button-text,
#page span.quick span.yoo-login span.login .login-button-icon {
	padding-right: 0px;
}

#page span.quick span.yoo-login span.login .lostpassword, 
#page span.quick span.yoo-login span.login .lostusername,
#page span.quick span.yoo-login span.login .registration {
	padding-top: 5px;
}

#page span.quick span.yoo-login span.logout {
	height: 30px;
	padding-top: 10px;
	overflow: visible;
	font-size: 130%;
}

#page span.quick span.yoo-login span.logout .logout-button-text,
#page span.quick span.yoo-login span.logout .logout-button-icon {
	padding-right: 0px;
}


/*
 * Style and fonst switcher 
 */


a#switchfontsmall {
	background: url(../images/extensions/styleswitcher_fontsmall.png) 0 0 no-repeat;
}

a:hover#switchfontsmall {
	background: url(../images/extensions/styleswitcher_fontsmall.png) 0 -20px no-repeat;
}

a#switchfontmedium {
	background: url(../images/extensions/styleswitcher_fontmedium.png) 0 0 no-repeat;
}

a:hover#switchfontmedium {
	background: url(../images/extensions/styleswitcher_fontmedium.png) 0 -20px no-repeat;
}

a#switchfontlarge {
	background: url(../images/extensions/styleswitcher_fontlarge.png) 0 0 no-repeat;
}

a:hover#switchfontlarge {
	background: url(../images/extensions/styleswitcher_fontlarge.png) 0 -20px no-repeat;
}

a#switchwidththin {
	background: url(../images/extensions/styleswitcher_widththin.png) 0 0 no-repeat;
}

a:hover#switchwidththin {
	background: url(../images/extensions/styleswitcher_widththin.png) 0 -20px no-repeat;
}

a#switchwidthwide {
	background: url(../images/extensions/styleswitcher_widthwide.png) 0 0 no-repeat;
}

a:hover#switchwidthwide {
	background: url(../images/extensions/styleswitcher_widthwide.png) 0 -20px no-repeat;
}

a#switchwidthfluid {
	background: url(../images/extensions/styleswitcher_widthfluid.png) 0 0 no-repeat;
}

a:hover#switchwidthfluid {
	background: url(../images/extensions/styleswitcher_widthfluid.png) 0 -20px no-repeat;
}