<?php
$e = $entry;
?>



	<!-- Entry -->
	<div class="postContent" id="post-<?php echo $e['id']; ?>">
		<!-- Display onBeforeDisplayContent mambots -->
		<?php
			if(isset($entry['beforeContent']) && $entry['beforeContent']){
				echo $entry['beforeContent'];
			}
		?>
		<!-- End display -->
		<!-- Post Top Summary -->
		<div class="postContent-top">
			<h3>
				<a href="<?php echo $e['permalink']; ?>"><?php echo $e['title']; ?></a>
				<?php
					if($entry['created_by'] == $userId)
						echo $e['editLink'];
				?>
			</h3>
			<p>_MB_POSTED_BY: <a href="<?php echo $e['authorLink']; ?>" title="View all posts by " class="author-link"><?php echo $e['author']; ?></a> in <?php echo $e['categories']; ?> on
				<span class="post-date"><?php echo $e['createdFormatted']; ?></span>
				<span class="usersLink">
			<?php
			if($enablePrintLink){
          		echo myGetPrintLink($entry['id'],myGetItemId());
			}
			echo '&nbsp;';
	        if($enablePdfLink){
				echo myGetPDFLink($entry['id'],myGetItemId());
		    }
		    ?>
		    	</span>
		    </p>
			<?php if(!empty($e['avatar'])){ ?>
			<div class="userAvatar">
				<?php echo $e['avatar']; ?>
			</div>			
			<?php } ?>
		</div>
		
		<!-- Post Teaser Text -->
		<div class="postContent-text">
			<?php echo $e['text']; ?>
			
			<!-- Post Footer -->						
		</div>
		<div class="clear"></div>
		<div>
        	<?php echo $entry['comments']; ?>
        </div>
		<!-- Display onAfterDisplayContent mambots -->
		<?php
			if(isset($entry['afterContent']) && $entry['afterContent']){
				echo $entry['afterContent'];
			}
		?>
		<!-- End display -->
		<!-- Post Divider -->
		<hr class="postEntry-divider" />
		
	</div>
	<div class="clear"></div>
