<!-- Blog Entries Start -->
<div id="myBlog-content">

	<?php
	if ($entry and is_array($entry) and count($entry) != 0)
	{
		foreach ($entry as $e)
		{
	?>
	<!-- Entry -->
	<div class="postSummary" id="post-<?php echo $e['id']; ?>">
		<!-- Post Top Summary -->
		<div class="postSummary-top">
			<h3><a href="<?php echo $e['permalink']; ?>"><?php echo $e['title']; ?></a></h3>
			<p>_MB_POSTED_BY: <a href="<?php echo $e['authorLink']; ?>" title="View all posts by " class="author-link"><?php echo $e['author']; ?></a> in <?php echo $e['categories']; ?> on
				<span class="post-date"><?php echo $e['createdFormatted']; ?></span>
			</p>
			<?php if(!empty($e['avatar'])){ ?>
			<div class="userAvatar">
				<?php echo $e['avatar']; ?>
			</div>			
			<?php } ?>
		</div>
		
		<!-- Post Teaser Text -->
		<div class="postSummary-teaser">
			<?php echo $e['text']; ?>
			
			<!-- Post Footer -->						
			<p class="postSummary-footer">
			<?php
			if ($e['comments']!=""){
			?>
				<a href="<?php echo $e['permalink']; ?>#comments" class="postSummary-comments"><?php echo $e['comments']; ?></a>
			<?php
			}
			?>

			<?php
			// IF NEED READMORE
			if ($e['readmore']=="1")
			{
			?>
			    <a href="<?php echo $e['permalink']; ?><?php echo $showAnchor; ?>" class="postSummary-readmore">_MB_READ_MORE...</a>
			<?php
			}
			?>

			</p>
		</div>
		
		<!-- Post Divider -->
		<hr class="postEntry-divider" />
		
	</div>
	<div class="clear"></div>
	<?php
		}
	}
	?>
	
</div>
