<form action="<?php echo $searchURL; ?>" method="POST">
	<div id="myblogSearch">
		<label>_MB_KEYWORDS</label>
			<input class="inputbox myblogSearchInput" name="keyword" type="text" id="keyword" size="38" value="<?php echo $keyword; ?>" />
		<label>_MB_BLOGGER</label>
			<input class="inputbox myblogSearchInput" name="blogger" type="text" id="blogger" size="38" value="<?php echo $blogger;?>"/>
		<label>_TPL_SRCH_TAGS</label>
			<input class="inputbox myblogSearchInput" name="category" type="text" id="category" size="38" value="<?php echo $category;?>" />
		<input type="hidden" name="option" value="com_myblog" />
		<input type="hidden" name="Itemid" value="<?php echo $Itemid; ?>" />
		<div id="myblogSearchSubmit">
			<input type="submit" value="Submit" value="_MB_SEARCH" id="submit" />
		</div>
	</div>
	<div style="clear: both;"></div>
</form>
<?php
if($results)
{
?>
<div class="searchresults">
	<ul>
	<?php foreach($results as $row) { ?>
		<li>
			<div>
				<h4><a href="<?php echo $row->link; ?>"><?php echo $row->title; ?></a></h4>
				<div><?php echo $row->text;?></div>
				<div>
					<span>Posted by</span> <a href="<?php echo $row->userlink;?>"><?php echo $row->user;?></a> <span>on <?php echo $row->date;?></span>
				</div>
			</div>
		</li>
<?php } ?>
	</ul>
</div>
<?php
}
?>