

/* MyBlog Toolbar Start*/
#myBlog-wrap #myBlog-toolbar {
	padding: 0 0 0 5px;
	margin: 0;
}
#myBlog-wrap #myBlog-toolbar li {
	list-style: none;
	display: block;
	float: left;
	padding: 0px 0px 0px 10px;
	margin: 0;
	height: 18px;
	line-height: 18px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarHome {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 0;
}
#myBlog-wrap #myBlog-toolbar li.toolbarTags {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -19px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarSearch {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -40px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarFeed {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -61px;
}
#myBlog-wrap #myBlog-toolbar li.toolbarBlogger {
	background: transparent url(images/toolbar_icons.gif) no-repeat 0 -83px;
}
#myBlog-wrap #myBlog-toolbar li a {
	text-decoration: none;
	padding: 2px 10px 2px 10px;
}
#myBlog-wrap li#blogActive a {
	color: #D78102;
}
/* MyBlog Toolbar End*/





/** tag cloud style **/
#myBlog-wrap a.tag1,
#myBlog-wrap a.tag2,
#myBlog-wrap a.tag3,
#myBlog-wrap a.tag4,
#myBlog-wrap a.tag5,
#myBlog-wrap a.tag6,
#myBlog-wrap a.tag7,
#myBlog-wrap a.tag8,
#myBlog-wrap a.tag9 {
	list-style: none;
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	background: none;
	text-align: center;
	line-height: 100%;
}
#myBlog-wrap a.tag1 {
	font-size: 90%;
	font-weight: normal;
}
#myBlog-wrap a.tag2 {
	font-size: 100%;
	font-weight: normal;
}
#myBlog-wrap a.tag3 {
	font-size: 125%;
	font-weight: normal;
}
#myBlog-wrap a.tag4 {
	font-size: 150%;
	font-weight: normal;
}
#myBlog-wrap a.tag5 {
	font-size: 175%;
	font-weight: normal;
}
#myBlog-wrap a.tag6 {
	font-size: 200%;
	font-weight: bold;
}
#myBlog-wrap a.tag7 {
	font-size: 225%;
	font-weight: bold;
}
#myBlog-wrap a.tag8 {
	font-size: 250%;
	font-weight: bold;
}
#myBlog-wrap a.tag9 {
	font-size: 265%;
	font-weight: bold;
}


#myBlog-wrap .clear {
	clear: both;
}