<!-- Blog Header -->
<?php
$cms    =& cmsInstance('CMSCore');
global $mainframe;
?>

<script src="<?php echo $cms->get_path('live'); ?>/components/com_myblog/js/frontend.js" type="text/javascript"></script>
<div id="myBlog-head">
    <h1><?php echo @$title; ?></h1>
    <h2><?php echo @$summary; ?></h2>
    
    <!-- Blog Toolbar Navigation -->
    <ul id="myBlog-toolbar">
        <li class="toolbarHome<?php echo $active['home']; ?>" 		id="toolbarHome"><a onclick="return myToggleView('toolbarHome');" href="<?php echo $toolbar['homeLink']; ?>"><span>_MB_HOME</span></a></li>
        <li class="toolbarTags<?php echo $active['category']; ?>" 	id="toolbarTags" ><a onclick="return myToggleView('toolbarTags')" href="<?php echo $toolbar['categoryLink']; ?>"><span>_MB_TAGS</span></a></li>
        <li class="toolbarSearch<?php echo $active['search']; ?>" 	id="toolbarSearch" ><a onclick="return myToggleView('toolbarSearch')" href="<?php echo $toolbar['searchLink']; ?>"><span>_MB_SEARCH</span></a></li>
        <?php if($show['feed']) { ?>
        <li class="toolbarFeed"><a href="<?php echo $toolbar['rssFeedLink']; ?>">_MB_FEED</a></li>
        <?php } ?>
        <?php if(myGetUserCanPost()) { ?>
                <li class="toolbarBlogger<?php echo $active['blogger']; ?>"	id="toolbarBloggers"><a href="<?php echo $toolbar['accountLink']; ?>"><span>_MB_ACCOUNT</span></a></li>
        <?php } ?>
    </ul>		
</div>
