/**
 * Hot Property 
 */

div.hp_prop{
float: none !important;
width: auto  !important;
}


div.hp_prop .img_thumb{
float: right !important;
margin: 0px !important;
padding: 0px  !important;
width: 180px  !important;
}

div.hp_prop  div.inner-br{
padding: 15px;
}


div.hp_prop div.corner_br {
	padding: 10px 7px 10px 5px;
}


/* Blue color rounded boxes */
div.listing_t,
div.hp_prop_row1 div.wrap_t {
	background: url(../images/layout/rounded_top.gif) no-repeat top center;
}

div.listing_m,
div.hp_prop_row1 div.wrap_m {
	background: url(../images/layout/rounded_middle.gif) repeat-y top center;
	min-height: 100px;
	height: auto !important;
	height: 100px;
	
}

div.listing_b,
div.hp_prop_row1 div.wrap_b {
	background: url(../images/layout/rounded_base.gif) no-repeat bottom center;
	padding: 15px;
}

div.listing_b{
	min-height: 200px;
	height: auto !important;
	height: 200px;
}

/*---------------------------CALENDAR (Had to put it in here because for some reason is not being recognised from virtuemart css)------------------------------*/

div.hp_prop_row1 div.img_thumb div.inner-tl, 
div.hp_calendar div.inner-tl, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_tl.gif) no-repeat top left #fff;
}

div#calendar_submit_button{
	text-align: center;
	
}

div.property_calendar_right, div.property_calendar_left{
	float: left; 
} 

div.property_calendar_left{
	margin-right: 10px;
} 

div.property_calendar_right{
	width:152px;
} 

div.booking .button{
	background:transparent url(../images/layout/white-shadow-buttonsmall.gif) no-repeat scroll 0 0 !important;
	border:none;
	height:30px;
	width:74px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 3px;
	cursor: pointer;
	padding-bottom:5px;
	font-size: 86%;
} 

span.calendar_table_heading{
	color:#FF0000;
	font-size: 1.2em;
}

div#date_select{
	margin-top:15px;
}

div.hp_prop_row1 div.img_thumb div.inner-tr, div.hp_calendar div.inner-tr, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_tr.gif) no-repeat top right;
}

div.hp_prop_row1 div.img_thumb div.inner-bl, div.hp_calendar div.inner-bl, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_bl.gif) no-repeat bottom left; 
}

div.hp_prop_row1 div.img_thumb div.inner-br, div.hp_calendar div.inner-br, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_br.gif) no-repeat bottom right;
}

div.hp_prop_row1 a.book-button {
	background: url(../images/layout/white-shadow-button.gif) no-repeat;
}

div.hp_prop_row1 {
	color: #fff;
}

div.hp_prop_row1 ul li {
	background: url(../images/layout/bullet2.jpg) no-repeat left ;
	padding-left:13px;
}


/* ----------------------------------------------------------------------- */

/* White color rounded boxes */
div.hp_prop_row0 div.wrap_t {
	background: url(../images/layout/white-top.gif) no-repeat top center;
}

div.hp_prop_row0 div.wrap_m {
	background: url(../images/layout/white-slice.gif) repeat-y top center;
}

div.hp_prop_row0 div.wrap_b {
	background: url(../images/layout/white-bottom.gif) no-repeat bottom center;
	padding: 15px;
}

div.hp_prop_row0 div.img_thumb div.inner-tl {
	background: url(../images/layout/white_inner_tl.gif) no-repeat top left #02acac;
}

div.hp_prop_row0 div.img_thumb div.inner-tr {
	background: url(../images/layout/white_inner_tr.gif) no-repeat top right;
}

div.hp_prop_row0 div.img_thumb div.inner-bl {
	background: url(../images/layout/white_inner_bl.gif) no-repeat bottom left;
}

div.hp_prop_row0 div.img_thumb div.inner-br {
	background: url(../images/layout/white_inner_br.gif) no-repeat bottom right;
}

div.hp_prop_row0 a.book-button {
	background: url(../images/layout/blue-shadow-button.gif) no-repeat;
}

div.hp_prop_row0 ul li {
	background: url(../images/layout/bullet1.jpg) no-repeat left ;
	padding-left:13px;
}

/*** Image styling ***/

div.hp_prop div.img_thumb img{
	border: 1px solid #aaa;
	background: #fff;
	padding: 3px;
}

/****************************************/


div.hp_prop_row0 {
	color: #02acac;
}


div.hp_prop_row0 div.hp_details h4 {
	color: #018d8d;
}

div.hp_prop_row0 a, div.hp_prop_row0 span a {
	font-weight: bold;
	text-decoration; underline;
}
div.hp_prop_row0 a {
	color: #018d8d;
}

div.booking_buttons{
	padding: 10px 5px 0px;
}

div.hp_prop_row0 .booking_buttons a{
	color: #fff;
}

div.hp_prop_row1 a, div.hp_prop_row1 span a {
	font-weight: bold;
	text-decoration; underline;
}
div.hp_prop_row1 a {
	color: #fff;
}

div.hp_prop_row1 div.hp_details h4 {
	color: #fff;
}

div.hp_prop_row1 .booking_buttons a{
	color: #018d8d;
}

div.hp_details {
	float:none !important;
	padding-left: 0px !important;
}

div.hp_more {
	margin: 0px;
	width: 510px;
	float: left;
	
}

div.hp_more ul {
	width: 100%;
	padding: 0px 3px;
	margin: 0px;
	list-style-type:none;
}
 
div.hp_more li {
	float:left;
	margin:0;
	padding:0;
	width: 43%;
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 1%;
}


a#backButton{
float: right;
}

div.hp_prop_heading {
   float: left;
}

div.prop_heading h2 {
	color: #fff;
	font-size: 150%;
	margin-top:15px;
}

div.hp_calendar {
	float: right;
	margin-top: 15px;
}

div.hp_gallery {
	margin: 5px 5px 0px;
	position: relative;
	}

div.hp_listing {
	float: left;
	width: 440px;
	margin-top:15px;
}

div.hp_calendar div.inner-br {
}

/*********** Tabs **************/

div.tabs-menu {
	margin-top: 15px;
}

div#TabPaneOne {
	width: 725px;
}
.dynamic-tab-pane-control .tab-page div.inner_tl, .hp_gallery div.inner_tl {
	background: url(../images/layout/blue_inner_tl.gif) no-repeat top left #fff;
}

.dynamic-tab-pane-control .tab-page div.inner_tr, .hp_gallery div.inner_tr {
	background: url(../images/layout/blue_inner_tr.gif) no-repeat top right;
}

.dynamic-tab-pane-control .tab-page div.inner_bl, .hp_gallery div.inner_bl {
	background: url(../images/layout/blue_inner_bl.gif) no-repeat bottom left;
}

.dynamic-tab-pane-control .tab-page div.inner_br, .hp_gallery div.inner_br {
	background: url(../images/layout/blue_inner_br.gif) no-repeat bottom right;
	padding: 10px;
}

.dynamic-tab-pane-control .tab-page div.inner_br p {
	margin: 0px !important;
}

.dynamic-tab-pane-control .tab-row .tab {
	width: auto !important;
	overflow: visible !important;
}

.dynamic-tab-pane-control .tab-page {
	padding: 0px !important;
	border: none !important;
}

.dynamic-tab-pane-control .tab-row {
	margin-left: 7px;
}


.dynamic-tab-pane-control .tab-row h2 {
	background:transparent url(../images/layout/mostabs-r.gif) no-repeat right top !important;
	height:27px !important;
	line-height:30px !important;
	padding:0px !important;
	margin:  0px 0px 3px 4px !important;
}

.dynamic-tab-pane-control .tab-row .selected {
	margin:  2px 0px 0px 4px !important;
	overflow: visible;
 	width: auto !important;
}

.dynamic-tab-pane-control .tab-row a {
	background:transparent url(../images/layout/mostabs-l.gif) no-repeat left top !important;
	padding: 7px 8px 0px !important;
	display: block;
}

div.hp_prop_row0 a.book-button,
div.hp_prop_row1 a.book-button {
	color: #fff;
	float: left;
	text-align: center;
	padding-top: 5px;
	display: block;
	width: 68px;
	height: 29px;
	z-index: 0;
}

div.booking {
	padding:10px;
	position:relative;
	width: 395px;
	color: #333;
	margin-bottom: 50px;
}

div.booking h4 {
	font-size:19px;
}

div.fulltext {
	margin-top:30px;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bold;
}

div.keypoints{
	margin-top: 10px;
	color: #ffffff;
	width: 260px;
	margin-left:5px;
}

div.keypoints ul{
	width: 260px !important;
}

div.keypoints ul li{
	width: 260px !important;
}


div.keypoints h3{
	color: #fff;
}

div.prop_heading {
	margin-top: 15px;
}

div.booking_buttons .viewlink{
	background:transparent url(../images/layout/white-shadow-button.gif) no-repeat scroll 0 0 !important;
	color:#FFFFFF !important;
	display:block;
	height:32px;
	line-height:29px;
	width:135px;
	margin-left: 5px;
    

}

div.booking div.booking_buttons .viewlink{
	background:transparent url(../images/layout/white-shadow-button.gif) no-repeat scroll 0 0 !important;
	color:#FFFFFF !important;
	display:block;
	height:32px;
	line-height:29px;
	width:67px;
	margin-left: auto;
	margin-right: auto;
    

}


div.hp_prop_row0 .booking_buttons .viewlink{
	background:transparent url(../images/layout/blue-shadow-button.gif) no-repeat scroll 0 0 !important;
}