/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

 
body#page {
	background: #fff url(../images/layout/background-slice.gif) repeat-x left top;
}

/* center page */
div.wrapper {
	margin: auto; 
}

/*
 * Layout
 */

div#absolute {
	position: absolute;
	z-index: 15;
	top: 0px;
	left: 0px;
	width: 100%;
}

div#page-body {
	padding: 10px 0px 0px 0px;
}

div.wrapper-t {

}

div.wrapper-r {

}

div.wrapper-b {

}

div.wrapper-l {

}

div.wrapper-tl {

}

div.wrapper-tr {

}

div.wrapper-bl {
}

div.wrapper-br {

	  min-height:200px;
 	  height:auto !important;
  	  height:200px;
	  padding: 0px;

}

div.outer {
	background: #ffffff;
	clear:both;
}
div.outer-t {
	background: url(../images/layout/wrapper_t.gif) repeat-x top;
}
div.outer-r {
	background: url(../images/layout/wrapper_r.gif) repeat-y right;
}
div.outer-l {
	background: url(../images/layout/wrapper_l.gif) repeat-y left;
}
div.outer-b {
	background: url(../images/layout/wrapper_b.gif) repeat-x bottom;
}
div.outer-tl {
	background: url(../images/layout/wrapper_tl.gif) no-repeat top left;
}

div.outer-tr {
	background: url(../images/layout/wrapper_tr.gif) no-repeat top right;
}

div.outer-bl {
	background: url(../images/layout/wrapper_bl.gif) no-repeat bottom left;
}

div.outer-br {
	background: url(../images/layout/wrapper_br.gif) no-repeat bottom right;
	padding: 0px 7px 10px 5px;
}

div#logo {
	background: transparent url(../images/layout/logo.png) no-repeat;
	height:42px;
	width: 328px;	
}

a#myreservations {
	background:transparent url(../images/layout/reservations.jpg) no-repeat;
	color: #FFFFFF;
	display: block;
	height: 24px;
	padding: 2px 2px 0px 0px;
	position: absolute;
	right: 15px;
	line-height: 24px;
	text-align: center;
	top: 30px;
	width:153px;
	text-decoration: none;	
}

div#header {
	width: auto;  
	padding: 0px 0px 0px 0px;
	position: relative;
	z-index: 10;
	clear: both;  
}

div#header div.header-l {
	background: url(../images/layout/top-grey-l.gif) no -repeat top left;
}

div#header div.header-r {
	background: url(../images/layout/top-grey-r.gif) no -repeat top left;
}

div#toolbar {
	width: auto;  
	height: 25px;
	padding: 6px;
	clear: both;  
}

div#date {
	margin: 4px 0px 0px 0px;
	float: right;
	font-size: 85%;
}

div#topmenu {
	height: 30px;
}

div#styleswitcher {
	height: 20px;
	margin: 3px 0px 0px 10px;
	float: right;
}

div#styleswitcher a {
	width: 15px;
	height: 20px;
	float: right;
	text-decoration: none;
	display: block;
	 
}

div#search {
	height: 18px;
	margin: 3px 0px 0px 10px;
	float: right;
}

div#headerbar {
	width: auto;  
	clear: both;  
}

div#headermodule {

}

div#logo {
	position: absolute;
	top: 0px;
	left: 0px;
}


div#menu {
	float: right;
	margin: 0px 12px -3px 0px;
}

div#banner {
	margin-top: 5px;
}
/*
div#top {
	width: auto;  
	margin: 10px 0px 0px 0px;
	background: url(../images/modules/top_t.png) 0 0 repeat-x;
	clear: both;  
}

div#top .top-b {	
	background: url(../images/modules/top_b.png) 0 100% repeat-x;
}

div#top .top-l {
	background: url(../images/modules/top_l.png) 0 0 repeat-y;
}

div#top .top-r {
	background: url(../images/modules/top_r.png) 100% 0 repeat-y;
}

div#top .top-tl {
	background: url(../images/modules/top_tl.png) 0 0 no-repeat;
}

div#top .top-tr {
	background: url(../images/modules/top_tr.png) 100% 0 no-repeat;
}

div#top .top-bl {
	background: url(../images/modules/top_bl.png) 0 100% no-repeat;
}

div#top .top-br {
	min-height: 60px;
	background: url(../images/modules/top_br.png) 100% 100% no-repeat;
}
*/

div#middle {
	width: auto;  
	padding: 0px;
	clear: both;  
}

.background {
	min-height: 200px;
}

div#left_container{
	padding: 0px 8px;
}
 
.left div#middle .background {
	padding: 0px;
	background: none;
}

 
.right div#middle .background {
	padding: 0px 0px 0px 0px;
	background: none;
}

div#left {
 	float: left;
}

div#main {
	width: auto;
}

 
div#main {
	margin: 0px;
	padding: 0px;
}

div#main_container{
	padding: 0px 15px;
}

 
.showLeft div#main {
	margin-left: 210px;  
}
 
.showRight div#main {
	margin-right: 210px;  
}

div#maintop {
	top: 2px;
	position: relative;
	z-index: 1;	
	width: 946px;
	min-height: 30px;
}


div#mainmiddle {
}

div#right {
	width: 180px;  
	float: right;
	padding:30px 0 0 10px;
}

 
div#content {
	margin: 0px;
	padding: 10px 0px 0px 5px;
}

div#contenttop {
	margin: 10px 0px 0px 0px;
	width: 235px;
	float: right;
}

div#breadcrumb {
	height: 19px;
	font-size: 85%;
	padding-left:2px;
	padding-top:0;
}

div#mainBody{
	clear: both;
}

div#contentbottom {
	margin: 10px 0px 0px 0px;
}

div#mainbottom {
	padding: 0px 0px 10px 0px;
}

div#bottom {
	width: auto;  
	margin: 0px;
	background: url(../images/modules/top_t.png) 0 0 repeat-x;
	clear: both;  
}

div#bottom .bottom-b {	
	background: url(../images/modules/top_b.png) 0 100% repeat-x;
}

div#bottom .bottom-l {
	background: url(../images/modules/top_l.png) 0 0 repeat-y;
}

div#bottom .bottom-r {
	background: url(../images/modules/top_r.png) 100% 0 repeat-y;
}

div#bottom .bottom-tl {
	background: url(../images/modules/top_tl.png) 0 0 no-repeat;
}

div#bottom .bottom-tr {
	background: url(../images/modules/top_tr.png) 100% 0 no-repeat;
}

div#bottom .bottom-bl {
	background: url(../images/modules/top_bl.png) 0 100% no-repeat;
}

div#bottom .bottom-br {
	min-height: 60px;
	background: url(../images/modules/top_br.png) 100% 100% no-repeat;
}

div#footer {
	width: auto;  
	min-height: 100px;
	padding: 10px 0px 0px 0px;
	clear: both;  
	text-align: center;
}

div#footer a.anchor {
	margin: 3px 10px 0px 0px;
	width: 30px;
	height: 5px;
	background: url(../images/extensions/footer_anchor.png) 0 0 no-repeat;
	display: block;
	float: right;
	text-decoration: none;
}

/*
 * Clearing & Floating
 */
 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0;  
	clear: both; 
	visibility: hidden;
}
 
.clearfix { display: block; }
 
.floatbox { overflow:hidden; }

.float-left { float: left; overflow: hidden; }
.float-right { float: right; overflow: hidden; }

.width20 { width: 19.999%; }
.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width50 { width: 49.999%; }
.width66 { width: 66.666%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }


div#banner-image {
	position: relative;
	height: 157px;
	width: 950px;
	background: transparent url(../images/layout/header.jpg) no-repeat;
	margin-top: 25px;
}

div#headertext {
	z-index:100;
	position: absolute;
	height: 30px;
	width: 440px;
	background: transparent url(../images/layout/header_text.gif) no-repeat;
	right:10px;
	bottom: 10px;
}

div#header_border_top {
	position: absolute;
	top: 0px;
	width: 949px;
	height:12px;
	z-index:1;
	left: 0px;
	background: url(../images/layout/photo_border_top.png) no-repeat;
}	

div#header_border_bottom {
	position: absolute;
	bottom: 0px;
	width: 949px;
	height:16px;
	z-index:1;
	left: 0px;
	background: url(../images/layout/photo_border_base.png) no-repeat;
}

div.module-header {
	z-index: 1;
	overflow: hidden;
	width: 947px;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}

.maintopbox h1 {
	position: absolute;
	font-size: 240% !important;
	top: 105px;
	right: 15px;
	color: #fff;
}

.chrono_form{
	margin-left: 0px !important;
	margin-bottom: 20px !important; 
}

.chrono_form p span {
	font-weight: bold;
}

.chrono_form p {
	font-size:90%;
	margin: 5px 0px !important;
}

.chrono_form label {
	display: block;
}

.chrono_form input#firstname, .chrono_form input#surname,
.chrono_form input#telephone, .chrono_form input#email {
	width: 190px;
}

.chrono_form .form_button {
	background: url(../images/layout/book-button.gif) no-repeat !important;
	color: #ffffff;
	font-weight: bold;
	font-size: 9px;
	height: 29px;
	width: 68px;
	border: 0;
	line-height: 29px;
	padding-bottom: 5px;
}


label.search {
	width: 80px;
	display:block;
	float: left;
	color: #fff;
	font-weight: BOLD;
	margin-top: 5px;
}

div.row .inputbox {
	margin: 3px 0px;
}
div.row .select  {
	width: 110px;
}

form#searchfrm_mod input.qsearch-button {
	background: url(../images/modules/qsearch-button.gif) no-repeat;
	width: 68px;
	height: 31px;
	color: #fff;
	border: none;
	font-weight: bold;
	padding-bottom: 7px;
	float: right;
	margin-right: 15px;
}
form#searchfrm_mod a {
	float: right;
	color: #fff;
	margin: 5px 7px;
	font-size: 10px;
	text-decoration: underline;	
}


/*******************/

div.contenttopbox {
	position: relative !important;
}


.contentintro p {
	color: #65702c;
}

#list_agents, #list_searchresults, #list_properties, #list_featured {
	margin-top: 0px !important;
}


/* NO TOP */

.no-top{
	padding-top: 15px;
}

.no-top div.module-left-menu {
	padding-top: 0px;
}

.no-top div#breadcrumb {
	padding-left: 0px;
}

.no-top div#content {
	padding: 0px 0px 0px 5px;
}



#secondtab-page .inner_br,#thirdtab-page .inner_br,#forthtab-page .inner_br,#fithtab-page .inner_br,#sixthtab-page .inner_br,#seventhtab-page .inner_br,#eighthtab-page .inner_br{
	padding: 20px;
}

div#key_box{
	margin-bottom: 5px;
	}

div.page_counter{
    float:left;
    margin-left:145px;
}

div.page_numbers{
	float:right;
}

div.page_numbers_bottom{
	float:left;
	margin-left:258px;
}

div#heading_AdvSearch1{
	float:left ;
	padding-left: 0px ;
}

div.hp_prop_row0 div.more_button{
	background:transparent url(../images/layout/blue-shadow-button.gif) no-repeat scroll 0 0 !important;
}

div.more_button a{
	color: #ffffff !important;
}

.DHTMLSuite_calendar .DHTMLSuite_calendarHeading, .DHTMLSuite_calendar_navigationBar {
	background-color:#02acac !important;

}

a#backButton2{
	margin-left:21px;
}