/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

/*
 * topmenu
 */

 
div#topmenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;  
}

div#topmenu li {
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
}

div#topmenu li a {
	height: 20px;
	padding: 0px 10px 0px 10px;
	float: left;
	display: block;
	position: relative;
	line-height: 17px;
	overflow: hidden;  
	font-size: 85%;
	text-decoration: none;
}

div#topmenu li.item1 a {
	padding: 0px 10px 0px 0px;
	background: none;
}

div#topmenu a:link, div#topmenu a:visited {
	color: #C8C8C8;
}

div#topmenu a:hover {
	color: #ffffff;
}

/*
 * menu
 */

 
div#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;  
}

div#menu li {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	background: url(../images/menu/menu-green-m.gif) repeat-x;
}

div#menu li a, #menu li span.separator {
	height: 24px;
	display: block;
	float: left;
	line-height: 26px;
	text-decoration: none;
	color: #fff;
	background: url(../images/menu/menu-green-l.gif) no-repeat;
	font-weight: bold;	
}

div#menu li span {  
	display: block;
	background: url(../images/menu/menu-green-r.gif) no-repeat right top;
	padding: 0px 15px 0px 15px;
}

div#menu li a.current {  
	text-decoration: underline;
}

div#menu a:hover, div#menu span.separator:hover, div#menu span.sfhover, div#menu a.current:hover {  
	text-decoration: underline;
}

div#menu li.active {  
	font-weight: bold;
}

div#menu li.active ul {  
	font-weight: normal;
}

div#menu li.parent span.separator {  
	cursor: pointer;
}

 
div#menu ul.menu {
}

div#menu li.level1 {

}

div#menu a.level1 span, div#menu span.level1 span {
	
}

div#menu li.level1:hover, div#menu li.sfhover {  

}

div#menu li.sfhover li.sfhover {
	background: none;
}

div#menu li:hover a.level1, div#menu li.sfhover a.level1, div#menu li:hover span.level1, div#menu li.sfhover span.level1 {  

}

div#menu li.active {  

}

div#menu a.active, div#menu span.active {  

}

div#menu li.active li {  
	background: none;
}

div#menu li li a.active {
	background: none;
}

 
div#menu ul.menu ul {
	position: absolute;
	top: 35px;
	left: -999em;  
	width: 165px;
	padding: 0px 0px 10px 0px;
	background: url(../images/menu/menu_dropdown_bg.png) 0 100% no-repeat;
}

div#menu li:hover ul, div#menu li.sfhover ul {
	left: 0px;  
	z-index: 100;
}

div#menu li.level1 li {
   	width: 100%;  
	text-indent: 15px;
}

div#menu li.level1 li a, div#menu li.level1 li span.separator{
	height: 25px;
	padding: 0px;
	margin: 0px 1px 0px 1px;;
	background: #ffffff url(../images/menu/menu_level2_item.png) 100% 0 no-repeat;
	float: none;  
	display: block;
	line-height: 25px;
}

div#menu li.level2 a.parent, div#menu li li.level2 span.parent {  
	background: #ffffff url(../images/menu/menu_level2_item_parent.png) 100% 0 no-repeat;
}

 

 
div#menu li ul ul {
	margin: -36px 0 0 164px;  
}

div#menu li:hover ul ul, div#menu li.sfhover ul ul {
	border-top: 1px solid #C8C8C8;
}

 
div#menu li:hover ul ul, div#menu li.sfhover ul ul,  
div#menu li:hover ul ul ul, div#menu li.sfhover ul ul ul,  
div#menu li:hover ul ul ul ul, div#menu li.sfhover ul ul ul ul {  
	left: -999em;
}

 
div#menu li li:hover ul, div#menu li li.sfhover ul,  
div#menu li li li:hover ul, div#menu li li li.sfhover ul,  
div#menu li li li li:hover ul, div#menu li li li li.sfhover ul {  
	left: 0;
	z-index: 100;
}


/*
 * sub menu
 */
 
 
div#middle ul.menu li {
	margin: 0px;
	padding: 5px 0px;
	display: block;
}

div#middle ul.menu li a, div#middle ul.menu li span.separator {
	display: block;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

div#middle ul.menu li span {  
	display: block;
}

div#middle ul.menu li span {  
	background-repeat: no-repeat;
	background-position: 95% 0px;
}

div#middle ul.menu a.current {  
	color: #ffffff;
}

div#middle ul.menu a:hover, div#middle ul.menu span.separator:hover, div#middle ul.menu span.sfhover, div#middle ul.menu a.current:hover {  
	color: #ffffff;
}

div#middle ul.menu li.active {  
	font-weight: bold;
}

div#middle ul.menu li.active li {  
	font-weight: normal;
}

div#middle ul.menu li.parent span.separator {  
	cursor: pointer;
}

 
div#middle ul.menu li.level1 {
}

div#middle ul.menu a.level1, div#middle ul.menu span.level1 {
	background: transparent;
}

div#middle ul.menu li.parent a.level1, div#middle ul.menu li.parent span.level1 {  
	background: #ffffff url(../images/menu/submenu_level1_item_parent.png) 100% 0 no-repeat;
}

 
div#middle ul.menu li.level2 {
}

div#middle ul.menu li.level2 a {
	height: 20px;
	line-height: 20px;
}

div#middle ul.menu a.level2 {
	background: #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 35px;
}

div#middle ul.menu a.level2 span {
	background: url(../images/menu/submenu_level2_item_icon.png) 15px 2px no-repeat;
}

 
div#middle ul.menu li.level3 {
}

div#middle ul.menu a.level3 {
	background:  #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 45px;
}

div#middle ul.menu a.level3 span {
	background: url(../images/menu/submenu_level3_item_icon.png) 25px 2px no-repeat;
}

 
div#middle ul.menu li.level4 {
}

div#middle ul.menu a.level4  {
	background: #ffffff url(../images/menu/submenu_level2_item.png) 100% 0 no-repeat;
	text-indent: 55px;
}

div#middle ul.menu a.level4 span {
	background: url(../images/menu/submenu_level4_item_icon.png) 35px 2px no-repeat;
}

ul.menu {
	padding: 0;
}

div.module-left-menu {
	font-size:1.2em;
	padding-top:0px;	
}

/* Footer Menu */

div#footer li{
	display: inline;
}

div#footer ul li .level1 {
	border-right:1px solid #000000;
	padding-left:8px;
	padding-right:8px;
}

div#footer ul li .last {
	border-right:medium none;
}
