/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

/* reset header for all modules */
div.moduletable h3,
div.moduletable_menu h3,
div.moduletable-blank h3,
div.module h3,
div.module_menu h3,
div.module-blank h3,
div.module-white h3,
div.module-grey h3,
div.module-black h3,
div.module-blue h3,
div.module-green h3,
div.module-orange h3,
div.module-new h3,
div.module-top h3,
div.module-pick h3 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 100%;
}

/*
 * header modules
 */
 /*
div.module-advancedsearch select.prop_type, div.module-advancedsearch select.sleeps {
 	width: 240px;
 }*/
 
#headermodule div.module {
	margin: 0px 0px 0px 10px;
	float: right;
}

#headermodule div.module div {
	background: url(../images/modules/headermodule_m.png) 0 0 repeat-x;
}

#headermodule div.module div div {
	background: url(../images/modules/headermodule_l.png) 0 0 no-repeat;
}

#headermodule div.module div div div {
	height: 57px;
	padding: 5px 10px 5px 10px;
	background: url(../images/modules/headermodule_r.png) 100% 0 no-repeat;
	overflow: hidden;
	text-align:justify;
	color: #646464;
	font-size: 90%;
}

 
#headermodule div.module div div div div {
	height: auto;
	padding: 0px 0px 0px 0px;
	background: none;
}

#headermodule div.module h3 {
	font-weight: bold;
}

/* blank */
#headermodule div.module-blank {
	margin: 0px 0px 0px 10px;
	overflow: hidden;
	float: right;
}


.moduletable_lang{
	float: right;
	padding: 2px;
}

.moduletable_lang .rawimages span{
	margin: 0 2px;
}
.moduletable_lang .rawimages img{
	margin: 0 0 3px !important;
	vertical-align: bottom;
}

.moduletable_lang .rawimages #active_language{
	border-bottom: 2px solid #fff
}

.moduletable_phone_numbers{
	position: absolute;
	left: 440px;
	color: #fff;
	top:0;
}

.moduletable_phone_numbers .label{
    float: left;
    font-size: 130%;
    font-weight: bold;
    padding-top: 15px;
    width: 100px;
}

.moduletable_phone_numbers .numbers{
	margin-left: 100px;
}

/*
 * top modules
 */
 
/* default */
#top div.moduletable {
	padding: 10px 15px 10px 15px;
	background: none;
	text-align:justify;
}

#top .seperator div.moduletable {
	background: url(../images/modules/top_module_sep.png) 100% 100% no-repeat;
}

#top div.moduletable h3 {
	margin: 0px 0px 5px 0px;
	text-align: left;
	font-size: 125%;
	font-weight: bold;
}

/* blank */
#top div.moduletable-blank {
}

/*
 * middle modules (left, right, maintop, mainbottom, contenttop, contentbottom)
 */
 
/* default */
#middle div.module {
	background: url(../images/modules/middle_module_br.png) 100% 100% no-repeat;
}

#middle div.module div {
	background: url(../images/modules/middle_module_tr.png) 100% 0 no-repeat;
}

#middle div.module div div {
	background: url(../images/modules/middle_module_bl.png) 0 100% no-repeat;
}

#middle div.module div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl.png) 0 0 no-repeat;
	overflow: hidden;
}

/* menu */
#middle div.module_menu {
	background: url(../images/modules/middle_module_br_white.png) 100% 100% no-repeat;
}

#middle div.module_menu div {
	background: url(../images/modules/middle_module_tr_white.png) 100% 0 no-repeat;
}

#middle div.module_menu div div {
	background: url(../images/modules/middle_module_bl_white.png) 0 100% no-repeat;
}

#middle div.module_menu div div div {
	padding: 10px 1px 10px 1px;
	background: url(../images/modules/middle_module_tl_white.png) 0 0 no-repeat;
	overflow: hidden;
}

/* white */
#middle div.module-white {
	background: url(../images/modules/middle_module_br_white.png) 100% 100% no-repeat;
}

#middle div.module-white div {
	background: url(../images/modules/middle_module_tr_white.png) 100% 0 no-repeat;
}

#middle div.module-white div div {
	background: url(../images/modules/middle_module_bl_white.png) 0 100% no-repeat;
}

#middle div.module-white div div div {
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_white.png) 0 0 no-repeat;
	overflow: hidden;
}

/* grey */
#middle div.module-grey {
	background: url(../images/modules/middle_module_br_grey.png) 100% 100% no-repeat;
}

#middle div.module-grey div {
	background: url(../images/modules/middle_module_tr_grey.png) 100% 0 no-repeat;
}

#middle div.module-grey div div {
	background: url(../images/modules/middle_module_bl_grey.png) 0 100% no-repeat;
}

#middle div.module-grey div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_grey.png) 0 0 no-repeat;
	overflow: hidden;
}

/* black */
#middle div.module-black {
	background: url(../images/modules/middle_module_br_black.png) 100% 100% no-repeat;
}

#middle div.module-black div {
	background: url(../images/modules/middle_module_tr_black.png) 100% 0 no-repeat;
}

#middle div.module-black div div {
	background: url(../images/modules/middle_module_bl_black.png) 0 100% no-repeat;
}

#middle div.module-black div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_black.png) 0 0 no-repeat;
	color: #ffffff;
	overflow: hidden;
}

/* blue */
#middle div.module-blue {
	background: url(../images/modules/middle_module_br_blue.png) 100% 100% no-repeat;
}

#middle div.module-blue div {
	background: url(../images/modules/middle_module_tr_blue.png) 100% 0 no-repeat;
}

#middle div.module-blue div div {
	background: url(../images/modules/middle_module_bl_blue.png) 0 100% no-repeat;
}

#middle div.module-blue div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_blue.png) 0 0 no-repeat;
	color: #ffffff;
	overflow: hidden;
}

/* green */
#middle div.module-green {
	background: url(../images/modules/middle_module_br_green.png) 100% 100% no-repeat;
}

#middle div.module-green div {
	background: url(../images/modules/middle_module_tr_green.png) 100% 0 no-repeat;
}

#middle div.module-green div div {
	background: url(../images/modules/middle_module_bl_green.png) 0 100% no-repeat;
}

#middle div.module-green div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_green.png) 0 0 no-repeat;
	color: #ffffff;
	overflow: hidden;
}

/* orange */
#middle div.module-orange {
	background: url(../images/modules/middle_module_br_orange.png) 100% 100% no-repeat;
}

#middle div.module-orange div {
	background: url(../images/modules/middle_module_tr_orange.png) 100% 0 no-repeat;
}

#middle div.module-orange div div {
	background: url(../images/modules/middle_module_bl_orange.png) 0 100% no-repeat;
}

#middle div.module-orange div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_orange.png) 0 0 no-repeat;
	color: #ffffff;
	overflow: hidden;
}

/* new */
#middle div.module-new {
	background: url(../images/modules/middle_module_br_new.png) 100% 100% no-repeat;
}

#middle div.module-new div {
	background: url(../images/modules/middle_module_tr_new.png) 100% 0 no-repeat;
}

#middle div.module-new div div {
	background: url(../images/modules/middle_module_bl_new.png) 0 100% no-repeat;
}

#middle div.module-new div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_new.png) 0 0 no-repeat;
	overflow: hidden;
}

/* top */
#middle div.module-top {
	background: url(../images/modules/middle_module_br_top.png) 100% 100% no-repeat;
}

#middle div.module-top div {
	background: url(../images/modules/middle_module_tr_top.png) 100% 0 no-repeat;
}

#middle div.module-top div div {
	background: url(../images/modules/middle_module_bl_top.png) 0 100% no-repeat;
}

#middle div.module-top div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_top.png) 0 0 no-repeat;
	overflow: hidden;
}

/* pick */
#middle div.module-pick {
	background: url(../images/modules/middle_module_br_pick.png) 100% 100% no-repeat;
}

#middle div.module-pick div {
	background: url(../images/modules/middle_module_tr_pick.png) 100% 0 no-repeat;
}

#middle div.module-pick div div {
	background: url(../images/modules/middle_module_bl_pick.png) 0 100% no-repeat;
}

#middle div.module-pick div div div {
	min-height: 70px;
	 
	padding: 10px 15px 10px 15px;
	background: url(../images/modules/middle_module_tl_pick.png) 0 0 no-repeat;
	overflow: hidden;
}

 
#middle div.module div div div div,
#middle div.module_menu div div div div,
#middle div.module-white div div div div,
#middle div.module-grey div div div div,
#middle div.module-black div div div div,
#middle div.module-blue div div div div,
#middle div.module-green div div div div,
#middle div.module-orange div div div div,
#middle div.module-new div div div div,
#middle div.module-top div div div div,
#middle div.module-pick div div div div {
	min-height: 0px;
	 
	padding: 0px 0px 0px 0px;
	background: none;
}

/* header */
#middle div.module h3,
#middle div.module_menu h3,
#middle div.module-white h3,
#middle div.module-grey h3,
#middle div.module-black h3,
#middle div.module-blue h3,
#middle div.module-green h3,
#middle div.module-orange h3,
#middle div.module-new h3,
#middle div.module-top h3,
#middle div.module-pick h3 {
	margin: -10px -15px 5px -15px;
	padding: 0px 0px 0px 15px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	font-weight: bold;
}

#middle div.module-black h3,
#middle div.module-blue h3,
#middle div.module-green h3,
#middle div.module-orange h3 {
	color: #ffffff;
}

/*
 * left modules
 */
 
#left div.module,
#left div.module_menu,
#left div.module-white,
#left div.module-grey,
#left div.module-black,
#left div.module-blue,
#left div.module-green,
#left div.module-orange,
#left div.module-new,
#left div.module-top,
#left div.module-pick {
	margin: 0px 0px 10px 0px;
}

#left div.module h3,
#left div.module_menu h3,
#left div.module-white h3,
#left div.module-grey h3 {
	background: url(../images/modules/left_module_header.png) 0 0 no-repeat;
}


#left div.module_menu h3 {
	margin: -10px -1px 0px -1px;
}

/* blank */
#left div.module-blank {
	margin: 0px 0px 10px 0px;
	overflow: hidden;
}

/*
 * maintopbox & mainbottombox modules
 */
 
#maintop div.module, #mainbottom div.module,
#maintop div.module_menu, #mainbottom div.module_menu,
#maintop div.module-white, #mainbottom div.module-white,
#maintop div.module-grey, #mainbottom div.module-grey,
#maintop div.module-black, #mainbottom div.module-black,
#maintop div.module-blue, #mainbottom div.module-blue,
#maintop div.module-green, #mainbottom div.module-green,
#maintop div.module-orange, #mainbottom div.module-orange,
#maintop div.module-new, #mainbottom div.module-new,
#maintop div.module-top, #mainbottom div.module-top,
#maintop div.module-pick, #mainbottom div.module-pick {
	margin: 0px 0px 0px 0px;
	text-align:justify;
}

#maintop .seperator div.module, #mainbottom .seperator div.module,
#maintop .seperator div.module_menu, #mainbottom .seperator div.module_menu,
#maintop .seperator div.module-white, #mainbottom .seperator div.module-white,
#maintop .seperator div.module-grey, #mainbottom .seperator div.module-grey,
#maintop .seperator div.module-black, #mainbottom .seperator div.module-black,
#maintop .seperator div.module-blue, #mainbottom .seperator div.module-blue,
#maintop .seperator div.module-green, #mainbottom .seperator div.module-green,
#maintop .seperator div.module-orange, #mainbottom .seperator div.module-orange,
#maintop .seperator div.module-new, #mainbottom .seperator div.module-new,
#maintop .seperator div.module-top, #mainbottom .seperator div.module-top,
#maintop .seperator div.module-pick, #mainbottom .seperator div.module-pick {
	margin: 0px 10px 0px 0px;
}

/* blank */
#maintop div.module-blank, #mainbottom div.module-blank {
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}

#maintop .seperator div.module-blank, #mainbottom .seperator div.module-blank {
	margin: 0px 10px 0px 0px;
}

/*
 * right modules
 */
 
#right div.module,
#right div.module_menu,
#right div.module-white,
#right div.module-grey,
#right div.module-black,
#right div.module-blue,
#right div.module-green,
#right div.module-orange,
#right div.module-new,
#right div.module-top,
#right div.module-pick {
	margin: 0px 0px 10px 0px;
}
 
#right div.module h3,
#right div.module_menu h3,
#right div.module-white h3,
#right div.module-grey h3 {
	background: url(../images/modules/right_module_header.png) 0 0 no-repeat;
}

#right div.module_menu h3 {
	margin: -10px -1px 0px -1px;
}

/* blank */
#right div.module-blank {
	margin: 0px 0px 10px 0px;
	overflow: hidden;
}

/*
 *contenttopbox & contentbottombox modules
 */

#contenttop div.module, #contentbottom div.module,
#contenttop div.module_menu, #contentbottom div.module_menu,
#contenttop div.module-white, #contentbottom div.module-white,
#contenttop div.module-grey, #contentbottom div.module-grey,
#contenttop div.module-black, #contentbottom div.module-black,
#contenttop div.module-blue, #contentbottom div.module-blue,
#contenttop div.module-green, #contentbottom div.module-green,
#contenttop div.module-orange, #contentbottom div.module-orange,
#contenttop div.module-new, #contentbottom div.module-new,
#contenttop div.module-top, #contentbottom div.module-top,
#contenttop div.module-pick, #contentbottom div.module-pick {
	margin: 0px 0px 0px 0px;
	text-align:justify;
}

#contenttop .seperator div.module, #contentbottom .seperator div.module,
#contenttop .seperator div.module_menu, #contentbottom .seperator div.module_menu,
#contenttop .seperator div.module-white, #contentbottom .seperator div.module-white,
#contenttop .seperator div.module-grey, #contentbottom .seperator div.module-grey,
#contenttop .seperator div.module-black, #contentbottom .seperator div.module-black,
#contenttop .seperator div.module-blue, #contentbottom .seperator div.module-blue,
#contenttop .seperator div.module-green, #contentbottom .seperator div.module-green,
#contenttop .seperator div.module-orange, #contentbottom .seperator div.module-orange,
#contenttop .seperator div.module-new, #contentbottom .seperator div.module-new,
#contenttop .seperator div.module-top, #contentbottom .seperator div.module-top,
#contenttop .seperator div.module-pick, #contentbottom .seperator div.module-pick {
	margin: 0px 10px 0px 0px;
}

/* blank */
#contenttop div.module-blank, #contentbottom div.module-blank {
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}

#contenttop .seperator div.module-blank, #contentbottom .seperator div.module-blank {
	margin: 0px 10px 0px 0px;
}

/*
 * bottom modules
 */
 
/* default */
#bottom div.moduletable {
	padding: 10px 15px 10px 15px;
	background: none;
	text-align:justify;
}

#bottom .seperator div.moduletable {
	background: url(../images/modules/top_module_sep.png) 100% 100% no-repeat;
}

#bottom div.moduletable h3 {
	margin: 0px 0px 5px 0px;
	text-align: left;
	font-size: 125%;
	font-weight: bold;
}

/* blank */
#bottom div.moduletable-blank {
}

/*Blue Front Page Proptypes Box */

/* Blue Prop Type Box Module */

div.fp_proptypes{
	clear: both;
	text-align: center;
	position: relative;
}
 
div.fp_proptypes a{
	color:  #ffffff !important;
	
}
div.proptype-item{
	float:left;
	padding-bottom:10px;	
	width:180px;
}

div#item2, div#item1, div#item3 {
	border-bottom: 1px solid #d8d183;
	border-right: 1px solid #d8d183;
}

div#item4{
	border-bottom: 1px solid #d8d183;
}

div#item5, div#item6, div#item7 {
	border-right: 1px solid #d8d183;
}

div#item5, div#item6, div#item7, div#item8 {
	padding-top: 8px;
}


div.corner_backdoor{
	background: url(../images/modules/proptypeFrontDoor.jpg) no-repeat bottom;
}

div.corner_frontdoor{
	background: url(../images/modules/proptypeBackDoor.jpg) no-repeat top;
}

div.proptype_wrapper{
	height:311px;
	padding-left:8px;
	padding-top:8px;
}

/* Advanced Search */

/***  Search form ***/

.adv-search{
	position: absolute;
	top: 9px;
	left: 7px;
}

.module-advancedsearch {
	height: 240px;
	width:278px;
	background: url(../images/layout/search_bg.png) no-repeat;
	z-index: 10;
}

.module-advancedsearch div{
	padding: 10px 15px;
}

.module-advancedsearch img{
	position: relative;
}

.maintopbox{
	position: relative;
}

.module-advancedsearch div div{
	padding: 0px;
}

.module-advancedsearch h3{
	color: #0b5b5b;
	font-size: 147%;
	font-weight: normal;
	text-align: left;
}

.module-advancedsearch a{
	color: #0b5b5b;
	
}

.module-advancedsearch a:hover{
	text-decoration: underline;
	color: #02ACAC;
}

.module-advancedsearch div.hp_row3, .module-advancedsearch div.hp_row4{
	float:left;
	width:80px;
}

.module-advancedsearch div.hp_row4{
	margin-left: 12px;
}

form#searchfrm div.submit{
	clear: both;
	margin-right: 10px;
}

/* currency converter module */

div.module-currency,
div.module-search  {
	padding-top: 10px;
	text-align: center;
}

#left h3{
	color: #ffffff;
	font-size: 1.4em;
}

div.module-currency form br{
	display:none;
}

div.module-currency form{
	padding-top: 5px;
}


div.module-currency input.button,
div.module-search input.button{
background: url(../images/layout/skyblue-shadow-button.gif) no-repeat center;
width: 135px;
height: 32px;
cursor: pointer;
margin: 5px;
border: 0px;
color: #fff;
font-weight: bold;
}