/*
 * YOOtheme CSS file
 *
 * @author yootheme.com
 * @copyright Copyright (C) 2007 YOOtheme Ltd. & Co. KG. All rights reserved.
 */ 

/*
 * Browser Reset
 */

 
 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0; 
	padding: 0;
}

fieldset, img { border: 0; }

 
option { padding-left: 0.4em; }

 
ul, ol, dl { margin: 1em 0; padding-left: 30px }
dl { margin: 1em 0; }
dd { padding-left: 40px; }

blockquote { margin: 0 0 1em 1.5em; }

p {	margin: 1em 0; }

td, th { padding: 1px; }

/*
 * Print and Email Pop-ups
 */

body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 150%;
	margin: 0px;
}

.contentheading, .componentheading {
	padding: 0px;
	font-style: italic;
}

span.article_separator {
	display: block;
	height: 20px;
}

a:link, a:visited {
	color: #aa1428;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}


/*
 * headings
 */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	color: #009999;
}

h2 {
	font-size: 175%;
	color: #009999;
}

h3 {
	font-size: 150%;
	color: #009999;
}

h4 {
	font-size: 125%;
	font-weight: normal;
	color: #7887A0;
}

h5 {
	font-size: 110%;
	color: #009999;
}

h6 {
	font-size: 100%;
	color: #7887A0;
}

a, a:link, a:visited{color: #02acac}
a:hover{color: #05c6c6}

/*
 * unsorted lists
 */
 
ul.arrow, ul.arrow-big,
ul.checkbox, ul.checkbox-big,
ul.check, ul.check-big,
ul.star, ul.star-big,
ul.plus, ul.plus-big {
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul.arrow li,
ul.checkbox li,
ul.check li,
ul.star li,
ul.plus li {
	margin: 10px 0px 10px 0px;
	padding: 7px 0px 6px 35px;
	font-weight: bold;
	line-height: 100%
}

ul.arrow-big li,
ul.checkbox-big li,
ul.check-big li,
ul.star-big li,
ul.plus-big li {
	margin: 15px 0px 15px 0px;
	padding: 15px 0px 15px 60px;
	font-size: 200%;
	font-weight: bold;
}

ul.arrow li { background: url(../images/typography/list_arrow.png) 0 0 no-repeat; }
ul.arrow-big li { background: url(../images/typography/list_arrow_big.png) 0 0 no-repeat; }
ul.checkbox li { background: url(../images/typography/list_checkbox.png) 0 0 no-repeat; }
ul.checkbox-big li { background: url(../images/typography/list_checkbox_big.png) 0 0 no-repeat; }
ul.check li { background: url(../images/typography/list_check.png) 0 0 no-repeat; }
ul.check-big li { background: url(../images/typography/list_check_big.png) 0 0 no-repeat; }
ul.star li { background: url(../images/typography/list_star.png) 0 0 no-repeat; }
ul.star-big li { background: url(../images/typography/list_star_big.png) 0 0 no-repeat; }
ul.plus li { background: url(../images/typography/list_plus.png) 0 0 no-repeat; }
ul.plus-big li { background: url(../images/typography/list_plus_big.png) 0 0 no-repeat; }


/*
 * ordered lists
 */
 
ol.disc, ol-disc-big {
	margin: 10px 10px 10px 20px;
	padding: 0px 0px 0px 15px;
}

ol.disc {
	padding: 0px 0px 0px 27px;
	background: url(../images/typography/list_disc.png) 0 0 repeat-y;
}

ol.disc li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 6px 12px;
	font-weight: bold;
	line-height: 28px;
}

ol.disc-big {
	padding: 0px 0px 0px 45px;
	font-size: 200%;
	background: url(../images/typography/list_disc_big.png) 0 0 repeat-y;
}

ol.disc-big li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 12px 20px;
	font-weight: bold;
	line-height: 45px;
}

/*
 * highlighted div and span boxes
 */

span.note,
span.info,
span.alert,
span.download,
span.tip {
	display: block;
}

div.note, span.note {
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #f4f5f6;
	border-top: 1px dotted #aab4be;
	border-bottom: 1px dotted #aab4be;
	text-align:justify;
}

div.info, span.info,
div.alert, span.alert,
div.download, span.download,
div.tip, span.tip {
	margin: 10px 0px 10px 0px;
	padding: 7px 10px 7px 35px;
}

div.info, span.info {
	background: #f4f5f6 url(../images/typography/div_info.png) 3px 3px no-repeat;
	border-top: 1px dotted #aab4be;
	border-bottom: 1px dotted #aab4be;
}

div.alert, span.alert {
	background: #fff5eb url(../images/typography/div_alert.png) 3px 3px no-repeat;
	border-top: 1px dotted #ffb4a0;
	border-bottom: 1px dotted #ffb4a0;
}

div.download, span.download {
	background: #f5faeb url(../images/typography/div_download.png) 3px 3px no-repeat;
	border-top: 1px dotted #78be5a;
	border-bottom: 1px dotted #78be5a;
}

div.tip, span.tip {
	background: #fffdeb url(../images/typography/div_tip.png) 3px 3px no-repeat;
	border-top: 1px dotted #ffc864;
	border-bottom: 1px dotted #ffc864;
}

/*
 * highlighted quotations
 */

blockquote {
	margin: 10px 0px 10px 0px;
	padding: 10px 35px 10px 35px;
	background: url(../images/typography/blockquote_start.png) 0 0 no-repeat;
	text-align:justify;
}

blockquote p {
	margin: 0px -35px -10px 0px;
	padding: 0px 35px 10px 0px;
	background: url(../images/typography/blockquote_end.png) 100% 100% no-repeat;
}

blockquote.big {
	margin: 10px 0px 10px 0px;
	padding: 50px 50px 50px 50px;
	background: url(../images/typography/blockquote_big_start.png) 0 0 no-repeat;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 300%;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 100%;
	text-align: left;
}

blockquote.big p {
	margin: 0px -50px -50px 0px;
	padding: 0px 30px 50px 0px;
	background: url(../images/typography/blockquote_big_end.png) 100% 100% no-repeat;
}

/*
 * preformatted text elements
 */

pre {
	margin: 2px 0px 2px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px dotted #aab4be;
	border-left: 20px solid #b4b4b4;
	background: #f4f5f6;
	font-size: 90%;
	/* Browser specific (not valid) styles to make preformatted text wrap */
	/* white-space: pre-wrap;       /* css-3 */
	/* white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
}


/*
 * highlighted emphasis
 */

em.box, em.file, em.directory {
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
}

em.box { 
	padding: 0px 2px 0px 2px;
	background:#f4f5f6;
	border: 1px dotted #aab4be;
}

em.file { 
	padding: 0px 0px 0px 13px;
	background: transparent url(../images/typography/em_file.png) 0 1px no-repeat;
	color: #000000;
}

em.directory { 
	padding: 0px 0px 0px 16px;
	background: transparent url(../images/typography/em_directory.png) 0 1px no-repeat;
	color: #000000;
}


.mosmessage{
	background:none repeat scroll 0 0 #FFEEEE;
	border-color:#FFAAAA;
	border-style:solid none;
	border-width:3px 0;
	margin-bottom:10px;
	padding:5px;
	clear: both;
	color: #990000;
}
