
span.price_ranges_right{
	clear: none !important;
	float: none !important;
}

.hp_details{
	float: none !important;
}

.img_thumb{
	float: right !important; 
}

.price_ranges_box{
	float:right !important;
	margin-right:35px !important;
	width:132px !important;
	}
	
div.hp_more ul{
	padding-left: 3em;
}

h2.tab{
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;
	background: #fff !important;
}

div.img_thumb img{
	background:#FFFFFF none repeat scroll 0;
	border:1px solid #ccc;
padding: 3px;
margin: 0px 2px 2px -27px;
}

div.hp_prop{
	width: 650px !important;
	border: 1px solid #ccc;
}

div.booking_buttons{
	margin-right: 25px;
}

/*---------------------------CALENDAR (Had to put it in here because for some reason is not being recognised from virtuemart css)------------------------------*/

div.hp_prop_row1 div.img_thumb div.inner-tl, 
div.hp_calendar div.inner-tl, 
div#TabPaneOne div.tab-page div.inner-tl {
	
}

div#calendar_submit_button{
	text-align: center;
	
}

div.property_calendar_right, div.property_calendar_left{
	float: left; 
} 

div.property_calendar_left{
	margin-right: 10px;
} 

div.property_calendar_right{
	width:152px;
} 

div.booking .button{
	margin-top: 3px;
	cursor: pointer;
} 

span.calendar_table_heading{
	color:#FF0000;
	font-size: 1.2em;
}

div#date_select{
	margin-top:15px;
}

/****************************************/


a#backButton{
float: right;
}

div.hp_prop_heading {
   float: left;
}

div.prop_heading h2 {
	color: #fff;
	font-size: 150%;
	margin-top:15px;
}

div.hp_calendar {
	float: right;
	margin-top: 15px;
}

div.hp_gallery {
	margin: 5px 5px 0px;
	position: relative;
	}

div.hp_listing {
	float: left;
	width: 440px;
	margin-top:15px;
}

div.hp_calendar div.inner-br {
}

/*********** Tabs **************/

div.tabs-menu {
	margin-top: 15px;
}

div#TabPaneOne {
	width: 707px;
}
/*.dynamic-tab-pane-control .tab-page div.inner_tl, .hp_gallery div.inner_tl {
	background: url(../images/layout/blue_inner_tl.gif) no-repeat top left #fff;
}

.dynamic-tab-pane-control .tab-page div.inner_tr, .hp_gallery div.inner_tr {
	background: url(../images/layout/blue_inner_tr.gif) no-repeat top right;
}

.dynamic-tab-pane-control .tab-page div.inner_bl, .hp_gallery div.inner_bl {
	background: url(../images/layout/blue_inner_bl.gif) no-repeat bottom left;
}

.dynamic-tab-pane-control .tab-page div.inner_br, .hp_gallery div.inner_br {
	background: url(../images/layout/blue_inner_br.gif) no-repeat bottom right;
	padding: 10px;
}*/

.dynamic-tab-pane-control .tab-page div.inner_br p {
	margin: 0px !important;
}

.dynamic-tab-pane-control .tab-row .tab {
	width: auto !important;
	overflow: visible !important;
}

.dynamic-tab-pane-control .tab-page {
	padding: 0px !important;
	border: none !important;
}

.dynamic-tab-pane-control .tab-row {
	margin-left: 7px;
}


.dynamic-tab-pane-control .tab-row h2 {
	height:27px !important;
	line-height:30px !important;
	padding:0px !important;
	margin:  0px 0px 3px 4px !important;
}

.dynamic-tab-pane-control .tab-row .selected {
	margin:  2px 0px 0px 4px !important;
	overflow: visible;
 	width: auto !important;
}

.dynamic-tab-pane-control .tab-row a {
	background:transparent url(../images/layout/mostabs-l.gif) no-repeat left top !important;
	padding: 7px 8px 0px !important;
	display: block;
}

div.hp_prop_row0 a.book-button,
div.hp_prop_row1 a.book-button {
	color: #fff;
	float: left;
	text-align: center;
	padding-top: 5px;
	display: block;
	width: 68px;
	height: 29px;
	z-index: 0;
}

div.booking {
	padding:10px;
	position:relative;
	width: 395px;
	color: #333;
	margin-bottom: 50px;
}

div.booking h4 {
	font-size:19px;
}

div.fulltext {
	margin-top:30px;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bold;
}

div.keypoints{
	margin-top: 10px;
	color: #000000;
	width: 260px;
	margin-left:5px;
}

div.keypoints ul{
	width: 260px !important;
}

div.keypoints ul li{
	width: 260px !important;
}


div.keypoints h3{
	color: #000000;
}


/*-----------------Listings Module Stylings--------------------------*/




