<?php
$date  = strtotime($entry['created']);
			$date_display = strftime("%B ", $date) . ltrim(strftime("%d, ", $date), "0") . strftime("%Y", $date) ;
$date_display = i8n_date($date_display);
?>
<br/>
<div class="blogsContainer entryContent entry">
	<div class="entryTitle">
		<h2>
			<a href="<?php echo $entry['permalink']; ?>" rel="bookmark" title="Permanent Link to <?php echo $entry['title']; ?>"><?php echo $entry['title']; ?></a>
<?php
			if($enablePrintLink){
          		echo myGetPrintLink($entry['id'],myGetItemId());
			}
			echo '&nbsp;';
	        if($enablePdfLink){
				echo myGetPDFLink($entry['id'],myGetItemId());
		    }
?>
		</h2>

	</div>
	<div class="post">
		<?php 
		if ($entry['beforeContent'])
		{ ?>
		<div class="onBeforePrepareContent">
			<?php echo $entry['beforeContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-body">
	      <span style="float:right;padding-right:5px;"><?php echo $entry['avatar']; ?></span>
	      <?php echo $entry['text']; ?>
		  <div class="clear"></div><br/>
	    </div>
	    <?php if ($entry['afterContent'])
		{ ?>
		<div class="onAfterPrepareContent">
			<?php echo $entry['afterContent'];?>
		</div>
		<?php
		}
	    ?>
	    <div class="entry-footer">
	    	<span class="date"><a><?php echo $date_display; ?></a></span>
	      _MB_POSTED_BY <a><?php echo $entry['author']; ?></a> | 
	      <?php echo $entry['categories']; ?> 	  
	    </div>
	    <?php echo $entry['comments'] ?>
	</div>
</div>
