
<?php if($debugview):?>
<link href="comment_style.css" rel="stylesheet" type="text/css" />
<?php endif;?>

<!-- Content tools toolbar -->
<?php if($show['sharethis']): ?>
<?php echo $sharethis; ?>
<?php endif; ?>
<div style="clear: both;"></div>

<!-- Trackback Title-->
<?php if($show['trackback']): ?>
<div class="contentheading" id="trackback_title">_JC_TPL_TB_TITLE<span>(<?php echo $trackback['count']; ?>)</span></div>
<div id="trackback_link">
	<a href="<?php echo $trackback['link']; ?>"  type="application/x-www-form-urlencoded">
		<img src="images/link.png" alt="trackback" width="16" height="16" border="0" />_JC_TPL_TRACKBACK_URI
	</a>
</div>
<div id="trackback_entries"><?php echo $trackback['text'] ?></div>
<?php endif; ?>

<!-- 'Comments Title -->
<div class="contentheading" id="written_comments_title" style="margin: 10px 0 0 0;">_JC_TPL_COMMENTS <span id="jc_numComment">(<?php echo $comments['count']; ?>)</span><img src="images/comment_add.gif" alt="Add Comment" /></div>

<!-- RSS Feed link below the title -->
<?php if($show['feed']): ?>
<div class="feed_link">
	<a href="<?php echo $feed['link']; ?>" rel="bookmark">
		<img src="images/rss.png" alt="feed" width="16" height="16" border="0" />_JC_TPL_COMMENT_RSS_URI
	</a>
</div>
<?php endif; ?>

<?php if($comments): ?>
	<!-- Hide/Show input form notice -->
	<?php if($show['hide_show_comment']): ?>
	<div class="feed_link" onclick="jc_toggleDiv('jc_commentsDiv');" ><a><img src="images/max.gif" alt="min/max" width="11" height="11" border="0" align="middle" />_JC_TPL_HIDESHOW_AREA</a></div>
	<?php endif; ?>

	<!-- Placeholder for all comments. REQUIRED.  -->
	<?php echo @$pagingLink; ?>
	<div id="jc_commentsDiv" <?php if($show['start_comment_hidden']){ echo 'style="display:none;visibility:hidden"'; } else { echo 'style="display:block;visibility:visible"'; } ?>>
		<?php echo $comments['text']; ?>
	</div>
	<?php echo @$pagingLink; ?>
<?php endif; ?>

<div style="clear: both;"></div>
<div id="jcCommentFormWrap">

<a name="comments" id="comments"></a>

<!-- 'Write Comment' Title -->
<div class="contentheading" id="written_comments_title" style="margin: 10px 0 0 0;">_JC_TPL_WRITE_COMMENT</div>

<!-- Hide/Show input form notice -->
<?php if($show['hide_show_form']): ?>
<div class="feed_link" onclick="jc_toggleDiv('jc_commentFormDiv');" ><a><img src="images/shape_square_edit.png" alt="feed" width="16" height="16" border="0" />_JC_TPL_HIDESHOW_FORM</a></div>
<?php endif; ?>

<!-- Comment locked notice -->
<?php if($lock['locked']): ?>
<div id="comment_locked_notice" class="jomentry2">_JC_TPL_INPUT_LOCKED</div>
<?php endif; ?>

<!-- Login required -->
<?php if(!$show['allow_guest']): ?>
<div id="comment_locked_notice" class="jomentry2">_JC_TPL_GUEST_MUST_LOGIN</div>
<?php endif; ?>

<!-- Show link to the last page -->
<?php if($show['goto_last_page'] && !$lock['locked']): ?>
<div id="comment_goto_last_page" class="jomentry2">_JC_TPL_GOLAST_PAGE <a href="<?php echo $last_page_link; ?>#comments" class="pagenav" >_JC_TPL_GOLINK_LAST</a></div>
<?php endif; ?>

<!-- Placeholder for ajax notification -->
<div id="jc_busyDiv"></div>

<!-- Input form begin -->
<?php if($show['inputform']): ?>
<div id="jc_commentFormDiv" <?php if($show['start_form_hidden']) { echo 'style="display:none;visibility:hidden"'; } else{ echo 'style="display:block;visibility:visible"'; } ?>>
<form method="post" onsubmit="return false;" action="" id="jc_commentForm" name="jc_commentForm">
<table width="100%" border="0" cellpadding="4" cellspacing="0">
<tr>
<td width="170" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <!-- Show email field -->
  <?php if($show['email']): ?>
  <tr>
    <td><label for="jc_email">_JC_TPL_EMAIL <span class="jcerr" id="err_email"></span></label>
        <input type="text" name="jc_email" id="jc_email" style="width:160px" />		</td>
  </tr>
  <?php endif; ?>
  <!-- End website field -->
  
  <!-- Show name field -->
  <?php if($show['name']): ?>	
  <tr>
    <td><label for="jc_name">_JC_TPL_AUTHOR <span class="jcerr" id="err_name"></span></label>
        <input type="text" name="jc_name" id="jc_name"  style="width:160px" /></td>
  </tr>
  <?php endif; ?>
  <!-- End name field -->
  
  <!-- Show website field -->
  <?php if($show['website']): ?>	
  <tr>
    <td><label for="jc_website">_JC_TPL_WEBSITE</label>
        <input type="text" name="jc_website" id="jc_website"  style="width:160px" /></td>
  </tr>
  <?php endif; ?>
  <!-- End website field -->
  
  <tr>
    <td><label></label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table></td>
<td width="1" rowspan="2" valign="top">&nbsp;</td>
<td valign="top">
	<!-- Main comment input area -->
	<label for="jc_comment" style="display:block">_JC_TPL_COMMENT</label>
	<?php if($show['bbcode'] || $show['useSmilies']): ?>
	<div style="float: left; display: block;"><?php echo $bbcode; ?></div>
	<?php endif; ?>
	<textarea name="jc_comment" id="jc_comment" cols="24" rows="5" style="width: 99%;height:150px;"></textarea>
	<span class="smalltext" style="cursor:pointer" onclick="jcResizeComment(-65);">_JC_TPL_SMALLER</span> | <span class="smalltext" style="cursor:pointer" onclick="jcResizeComment(65);">_JC_TPL_BIGGER</span><br />  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>
  	<!-- Subscribe via email -->
	<?php if($show['subscribe']): ?>
	<div>
		<label class="subscribe">
		<input id="subscribe" name="subscribe" type="checkbox" value="1" <?php echo $subscribeOn; ?> />_JC_TPL_USERSUBSCRIBE
		</label>
	</div>
	<?php endif; ?>
	<!-- End subscribe via email -->	
	
	
	<!-- Submit Policy -->
	<?php if($show['terms']): ?>
	<div>
	    <label class="agree">
		<input name="jc_agree" type="checkbox" id="jc_agree" />
		_JC_TPL_AGREE_TERMS <a href="javascript:void(0);" onclick="jax.call('jomcomment','jcxShowTerms');return false;">_JC_TPL_LINK_TERMS</a>
		<span class="jcerr" id="err_jc_agree"></span>
		</label>
	</div>
	<?php endif; ?>
	<!-- End submit policy -->
	
	<!-- Captcha Image -->
	<?php if($show['captcha']): ?>
	<div><p><img src="<?php echo $captcha['img']?>" alt="security image" name="jc_captchaImg" border="0" id="jc_captchaImg" style="vertical-align:middle" /><br />
	    _JC_TPL_SEC_CODE</p></div> 
	<div> 
		<input name="jc_password" type="text" id="jc_password" size="8" maxlength="8" class="inputbox"/> 
	</div> 
	<?php endif; ?>
	<!-- End captcha Image -->

		<?php if($show['recaptcha']): ?>
		<div>
			<?php echo $recaptcha; ?>
		</div>
		<?php endif; ?>
		
	<!-- Submit Button -->
	<button id="jc_submit" onclick="addComments(); return false;" class="submitbutton" ><span>_JC_TPL_SUBMIT_COMMENTS</span></button>
	<?php if($show['previewbutton']): ?>
	<button id="jc_preview" onclick="previewComment(); return false;" class="submitbutton" >_JC_TPL_PREVIEW_COMMENTS</button>
	<?php endif; ?>
	</td>
</tr>
</table>
<noscript>
	<div>
		_JC_TPL_NOSCRIPT
	</div>
</noscript>
		<input name="jc_contentid" type="hidden" id="jc_contentid" value="<?php echo $site['id']; ?>"/>
		<input name="jc_sid" type="hidden" id="jc_sid" value="<?php echo $captcha['sid']; ?>" />
		<input name="jc_task" type="hidden" id="jc_task" value="add" />
		<input name="jc_isajax" type="hidden" id="jc_isajax" value="0" />
		<input name="jc_option" type="hidden" id="jc_option" value="<?php echo $site['option']; ?>"/>
		<?php
		if(isset($show['extra']) && $show['extra']){
			echo $show['extra'];
		}
		?>
		</form>
<span class="commententry"></span>
</div>
</div>
<?php endif; ?>
<!-- Input form end -->
