.infolevel1, .infolevel2 , .infolevel3 {
    background-color: #FAD163;
    display: block;
}

div#dialog_body {
	text-align: left;
}

div #jcAzrulWindow{
	position: absolute;
}

.infolevel1, .infolevel2 {
    height: 1px;
    font-size: 1px;
}

.infolevel1 {
    margin-right: 3px;
    margin-left: 3px;
}

.infolevel2 {
    margin-right: 1px;
    margin-left: 1px;
}

.infolevel3 {
    color: #000000;
	font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height: 18px;
}

#powered_jc {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: xx-small;
}

.jcAdminPanel{
    top: 0px;
	position: relative;
	display: block;
	background-color: #EFEFD2;
	padding:4px;
	padding:4px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E6E6B7;
	border-bottom-color: #E6E6B7;
	text-align: right;
	width: auto;
	right: 0px;
}

#jc_commentFormDiv #bb_main div{display:inline}
#jc_commentFormDiv #bb_main>div{display:-moz-inline-block}
/*\*//*/
#jc_commentFormDiv #bb_main>div{display:inline-block}
/* */

/* comment form */
#jc_commentFormDiv {
	margin: 0 auto 0 auto;

}

/* new bb_code style */
#jc_comment_bbcode {

}
#jc_comment_bbcode a:link, #jc_comment_bbcode a:visited {
	width: 24px;
	height: 24px;
	margin-right: 3px;
	text-align: center;
	outline-style:none;
	float: left;
 	background: transparent url(smilies/buttons.gif) no-repeat scroll 0 -231px;
	border: 0;
}
#jc_comment_bbcode a:hover {
	background: transparent url(smilies/buttons.gif) no-repeat scroll 0 -257px;
	border: 0;
}
#jc_comment_bbcode a img {
	margin-top: -2px;
	border: 0;
}
/* bbcode toolbar */
#jc_comment_bbcode .jc_bb_bold {
	background: transparent url(smilies/buttons.gif) no-repeat 0 4px;
}
#jc_comment_bbcode .jc_bb_italic {
	background: transparent url(smilies/buttons.gif) no-repeat 0 -17px;
}
#jc_comment_bbcode .jc_bb_underline {
	background: transparent url(smilies/buttons.gif) no-repeat 0 -38px;
}
#jc_comment_bbcode .jc_bb_strike {
	background: transparent url(smilies/buttons.gif) no-repeat 0 -59px;
}
#jc_comment_bbcode .jc_bb_url {
	background: transparent url(smilies/buttons.gif) no-repeat 0 -80px;
}
#jc_comment_bbcode .jc_bb_image {
	background: transparent url(smilies/buttons.gif) no-repeat -1px -103px;
}
#jc_comment_bbcode .jc_bb_quote {
	background: transparent url(smilies/buttons.gif) no-repeat 0 -122px;
}
/* smilies */
#jc_comment_bbcode .jc_bb_smile {
	background: transparent url(smilies/buttons.gif) no-repeat -23px 4px;
}
#jc_comment_bbcode .jc_bb_wink {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -17px;
}
#jc_comment_bbcode .jc_bb_laugh {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -38px;
}
#jc_comment_bbcode .jc_bb_grin {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -59px;
}
#jc_comment_bbcode .jc_bb_angry {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -80px;
}
#jc_comment_bbcode .jc_bb_sad {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -101px;
}
#jc_comment_bbcode .jc_bb_shocked {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -122px;
}
#jc_comment_bbcode .jc_bb_cool {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -143px;
}
#jc_comment_bbcode .jc_bb_tongue {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -164px;
}
#jc_comment_bbcode .jc_bb_kiss {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -185px;
}
#jc_comment_bbcode .jc_bb_cry {
	background: transparent url(smilies/buttons.gif) no-repeat -23px -206px;
}


.toggleArea{
	text-align:right;
	display:block;
}

.trackback-footer {
    clear: both;
    margin: 5px 10px 5px 10px;
}

.trackback-footer {
    margin: 0 0 5px 0;
    border-top: 1px solid #BCBCBC;
    padding-top: 3px;
    font-size: 85%;
    text-align: right;
}

.trackback-url{
	text-align: right;
	margin: 5px 10px 10px 10px;
}

#trackbacks-content{
	margin: 0px;
}

div #jcfavDiv #favTitle{
	border-bottom: 1px solid #BCBCBC;
	height: 15px;
	padding: 5px;
	background-color: #CDCDCD;
}

div #jcfavDiv #favTitle #favImage{
	position: absolute;
}

div #jcfavDiv #favTitle #favText {
	left:35px;
	top: 3px;
	font-weight: bold;
	position:absolute;
}

div #jcfavDiv #favTitle #favClose{
	right: 10px;
	top: 3px;
	position: absolute;
}

div #jcshareDiv #shareTitle{
	border-bottom: 1px solid #BCBCBC;
	height: 15px;
	padding: 5px;
	background-color: #CDCDCD;
}

div #jcshareDiv #shareTitle #shareImage{
	position: absolute;
}

div #jcshareDiv #shareTitle #shareText {
	left:35px;
	top: 3px;
	font-weight: bold;
	position:absolute;
}

div #jcshareDiv #shareTitle #shareClose{
	right: 10px;
	top: 3px;
	position: absolute;
}

div #emailFormDiv{
	top:29px;
	z-index:10;
	width:410px;
}

div #emailFormDiv #emailFormTitle #emailFormImage{
	position: absolute;
	left: 5px;
}

div #emailFormDiv #emailFormTitle #emailFormText {
	left:35px;
	top: 3px;
	font-weight: bold;
	position:absolute;
}

div #emailFormDiv #emailFormTitle #emailFormClose{
	top: 3px;
	right: 10px;
	position: absolute;
}


div #emailFormDiv #emailFormTitle{
	border-bottom: 1px solid #BCBCBC;
	height: 15px;
	padding: 5px;
	background-color: #CDCDCD;
}

div #emailFormDiv input {
	background-color: #FFFFFF;
}

.emailForm{
	background-color:#EEEEEE;
	border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:#333333;
	display:-moz-inline-box;
	margin:1px;
	vertical-align:middle;
	white-space:nowrap;
	position:absolute;
	right:0px;
	top:0px;
	text-align: left;
}

.emailForm #emailFormResult{
	margin-top: 5px;
	padding: 4px;
}

.emailForm #emailFormResult #email{
	text-decoration: underline;
	color: blue;
}
#jcshareDiv ul{
	padding:0px;
}

#jcshareDiv ul li {
	float:left;
	margin:0pt;
	padding:0pt;
	width:48%;
	list-style-type: none;
}

#jcshareDiv ul li a {
	background-position:0px 2px;
	background-repeat:no-repeat;
	display:block;
	float:left;
	height:24px;
	padding:0px 0pt 0pt 22px;
	vertical-align:middle;
	font-size:95%;
}

#bm_delicious {
	background-image:url(images/bookmarks/delicious.gif);
}

#bm_digg {
	background-image:url(images/bookmarks/digg.gif);
}
#bm_furl {
	background-image:url(images/bookmarks/furl.gif);
}

#bm_yahoo_myweb {
	background-image:url(images/bookmarks/yahoo_myweb.gif);
}

#bm_stumbleupon {
	background-image:url(images/bookmarks/stumbleupon.gif);
}

#bm_google_bmarks {
	background-image:url(images/bookmarks/google_bmarks.gif);
}

#bm_technorati {
	background-image:url(images/bookmarks/technorati.gif);
}

#bm_reddit {
	background-image:url(images/bookmarks/reddit.gif);
}

#bm_facebook {
	background-image:url(images/bookmarks/facebook.gif);
}

div#jc_commentsDiv{
	z-index:-1;
}

span.jcerr{
font-weight:bold;
color:#FF0000;
}
div.dialog_header div.dialog_close{
	cursor:pointer;
	float:right;
}
div#AzrulWindow{
	background:transparent url(images/shadowAlpha.png) no-repeat scroll right bottom !important;
}
table#jcAzrulWindowtable{
	position:relative;
	right:6px;
	bottom:6px;
}

td#jcAzrulWindowContent {
	background-color:#EEEEEE;
	border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:#333333;
}



td#jcAzrulWindowContent hr{
	 height: 1px;
	 background-color:#CDCDCD;
}

td#jcAzrulWindowContent div.dialog_header{
	background-color:#CDCDCD;
	border-bottom:1px solid #BCBCBC;
	height:15px;
	padding:5px;
	font-size:13px;
	font-weight:bold;
	margin:0px;
	width:auto;
}

td#jcAzrulWindowContent h2 span{
	display:block;
	padding:4px 10px 5px;
}

td#jcAzrulWindowContent div.dialog_content{
	display:block;
	padding:4px 10px 5px;
}

td#jcAzrulWindowContent > div > div {
	background-repeat: no-repeat;
}


