<?php
$cms    =& cmsInstance('CMSCore');
global $mainframe;
?>

<!-- some header stuff -->
<div id="myblog">
<link href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/ui.css" type="text/css" media="screen" />
<!--[if lte IE 6]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--JavaScript--> 
<script type="text/javascript" src="<?php echo $cms->get_path('live'); ?>/components/com_myblog/js/myblog.js"></script> 

<div class="componentheading">Statistics</div>
<?php
$html = new CMSHtml();
$links = myGetDashboardLinks();
$captions = myGetDashboardLinksTitle();
echo $html->show_tabbed_nav($links, $captions, 2);
?>
<div class="myBlogTabBorder"></div>
<div>
<p>
<strong>Total Entries :</strong>&nbsp;<?php echo $num_entries; ?><br/>
<?php
if(isset($jomcomment)){
?>
<strong>Total Comments :</strong>&nbsp;<?php echo $num_comments; ?><br/>
<?php
}
?>
<strong>Total Hits :</strong>&nbsp;<?php echo $num_hits; ?><br/>
<strong>Tags used :</strong><br/>
		<?php
			$total	= count( $tags );
			$i		= 1;

			foreach($tags as $tag)
			{ 
				$url	= cmsSefAmpReplace('index.php?option=com_myblog&category=' . $tag->slug);
		?>
			<span><a href="<?php echo $url;?>"><?php echo $tag->name; ?></a></span>
			<?php echo ( $i == $total ) ? '.' : ','; ?>
		<?php
				$i++;
			}
		?>
<br />
</p>
</div>

</div>
