<!-- some header stuff -->
<?php
$cms    =& cmsInstance('CMSCore');
global $mainframe;
?>
<div id="myblog">
<link href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/ui.css" type="text/css" media="screen" />
<!--[if lte IE 6]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--JavaScript--> 
<script type="text/javascript" src="<?php echo $cms->get_path('live'); ?>/components/com_myblog/js/myblog.js"></script>
<div class="componentheading">Preferences</div>
<?php
$cms	=& cmsInstance('CMSCore');
$cms->load('helper','url');
$html	= new CMSHtml();
$links	= myGetDashboardLinks();
$captions = myGetDashboardLinksTitle();
$formLink   = cmsSefAmpReplace('index.php?option=com_myblog&task=bloggerpref&Itemid=' . $myitemid);

echo $html->show_tabbed_nav($links, $captions, 1);
?>
<div class="myBlogTabBorder"></div>
<?php echo $saved; ?>
<form id="blogger-info" name="blogger-info" action="<?php echo $formLink; ?>" method="POST">
	<fieldset>
	<legend>Blog Information</legend>
	    <table border="0" cellpadding="5" cellspacing="2" width="100%">
	    	<tbody>
	        	<tr>
	            	<td>
	                	<label>Blog title<br />
	                		<input name="blog-title" type="text" class="jc_inputbox" id="blog-title" style="width: 100%" value="<?php echo $title; ?>" />
	            		</label>
	                </td>
					<!-- 
	                <td width="100" valign="top">
	                	Text color:<br />
									<input id="blog-title-color" name="blog-title-color" value="<?php echo $titleColor; ?>" style="width:10ex;" class="jc_inputbox color" />
	                </td>
	                -->
	            </tr>
	            <tr>
	                <td>
	                	<label>Description<br />
	                        <textarea name="blog-subtitle" cols="47" rows="6" class="jc_inputbox" id="blog-subtitle" style="width: 100%"><?php echo $description; ?></textarea>
	                    </label>
	                </td>
	                <!-- 
	            	<td valign="top">
	                	Text color:<br />
						<input id="blog-subtitle-color" name="blog-subtitle-color" value="<?php echo $descColor; ?>" style="width:10ex;" class="jc_inputbox color" />
	                   </td>
	                   -->
	            </tr>
	            <tr>
	            	<td align="center">
	            	    <input type="submit" name="submit-blogger" id="submit-blogger" value="Submit" />
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</fieldset>
</form>
<!--
<form id="header-image" name="header-image" action="" method="POST">
	<fieldset>
		<legend>Header Image</legend>
	        <table border="0" cellpadding="2" cellspacing="2" width="100%">
	    	<tbody>
	        	<tr>
	            	<td>
	                	<div class="jc_info">
	                    	Click on Browse button to select and upload the image that you want to use as header
	                        in your blog. Dimension must be 670 x 100 pixels.<br />
							Note: Only *.jpg, *.gif and *.png are allowed. Maximum file size is 100KB.
	                    </div>
	                </td>
	            </tr>
	            <tr>
	                <td>
	                	<input name="blog-header-url" type="file" value="Browse" />

	                    <div class="jc_upload"></div>

	                </td>
	            </tr>
	            <tr>
	            	<td colspan="2" align="center">
	            	    <input type="submit" name="submit-upload" id="submit-upload" value="Upload" />
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</fieldset>
</form>
-->
<?php
if ( $showFeedburner ) {
?>
<form id="feedburner-info" name="feedburner-info" action="" method="POST">
	<fieldset>
		<legend>Feedburner</legend>
	    <input type="text" value="<?php echo $feedburner; ?>" name="feedburnerURL" size="40" />
	    <input type="submit" name="submit-feedburner" id="submit-feedburner" value="Submit" />
	</fieldset>
</form>
<?php
}
?>
</form>




</div>
