<?php
$cms    =& cmsInstance('CMSCore');
global $mainframe;
?>

<!-- some header stuff -->
<div id="myblog">
  <link href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="<?php echo $cms->get_path('live'); ?>/components/com_myblog/css/ui.css" type="text/css" media="screen" />
<!--[if lte IE 6]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 7]>
<link href="<?php echo MY_COM_LIVE; ?>/css/style.IE7.css" rel="stylesheet" type="text/css" />
<![endif]-->
  <script type="text/javascript" src="<?php echo $cms->get_path('live'); ?>/components/com_myblog/js/myblog.js"></script> 
  <div class="componentheading">Comments</div>
  <?php
  	global $mainframe;
	$html = new CMSHtml();
	$links = myGetDashboardLinks();
	$captions = myGetDashboardLinksTitle();
	echo $html->show_tabbed_nav($links, $captions, 3);
	
  ?>
  <div class="myBlogTabBorder"></div>
  <?php
  if($comments){ ?>
    <div style="margin-top:8px">
      <a class="azbutton" onclick="jax.icall('myblog', 'myxCommentApproveAll');" href="javascript:void(0);"><span>Approve all</span></a>
      <a class="azbutton" onclick="jax.icall('myblog', 'myxCommentRemoveUnpublished');" href="javascript:void(0);"><span>Remove unpublished</span></a>
    </div>
    <div style="clear:both"></div>
    
  <?php } ?>
  <br/>
  
  <?php
  
  $cms =	&cmsInstance('CMSCore');
  $cms->load('libraries', 'table');
  
  $tmpl = array (
  		
  		'table_open'          => '<table border="0" cellpadding="4" cellspacing="0" width="100%">',
  		
          'heading_row_start'   => '<tr class="sectiontableheader">',
          'heading_row_end'     => '</tr>',
          'heading_cell_start'  => '<th>',
          'heading_cell_end'    => '</th>',
  
          'row_start'           => '<tr  class="sectiontableentry1">',
          'row_end'             => '</tr>',
          'cell_start'          => '<td>',
          'cell_end'            => '</td>',
  
          'row_alt_start'       => '<tr class="sectiontableentry2">',
          'row_alt_end'         => '</tr>',
          'cell_alt_start'      => '<td>',
          'cell_alt_end'        => '</td>',
  
          'table_close'         => '</table>'
    );
  
		$cms->table->set_template($tmpl);
		
		if($comments){
			global $_MY_CONFIG;
			
			$cms->table->clear();
			$cms->table->set_heading('', 'Name/Email/IP', 'Comments', 'Date');
			
			foreach($comments as $row){
				$onClick = $_MY_CONFIG->get('enableJCDashboard') ? "jax.call('myblog', 'myxToggleCommentPublish', $row->id);" : "void(0)";
				
				if ($row->published == 1){
					$published = "<a href=\"javascript:void(0);\" onclick=\"$onClick\"><img id=\"pubImg$row->id\" src=\"" . $mainframe->getCfg('live_site') . "/components/com_myblog/images/publish_g.png\" border=\"0\" alt=''/></a>";
				}else{
					$published = "<a href=\"javascript:void(0);\" onclick=\"$onClick\"><img id=\"pubImg$row->id\" src=\"" . $mainframe->getCfg('live_site') . "/components/com_myblog/images/publish_x.png\" border=\"0\" alt=''/></a>";
				}
				$comment	= '<a href="' . $row->referer . '">' . $cms->trunchtml->trunchtml($row->comment) .'</a>';
				
				$cms->table->add_row($published , $row->name . " ({$row->email}) " . $row->ip, $comment , $row->date);
			}
			
			echo $cms->table->generate();
			echo $pagination;
		} else {
		echo "Nobody has written any comment on your article yet";
}
  ?>
</div>
