

		<script type="text/javascript" language="javascript" src="<?php echo MY_COM_LIVE; ?>/js/myblog.js"></script>

		<link href="<?php echo MY_COM_LIVE; ?>/css/azwindow.css" rel="stylesheet" type="text/css" />
		<link href="<?php echo MY_COM_LIVE; ?>/css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="<?php echo MY_COM_LIVE; ?>/css/ui.css" type="text/css" media="screen" />
        <!--[if lte IE 6]>
        <link href="<?php echo MY_COM_LIVE; ?>/css/style.IE6.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!--[if IE 7]>
        <link href="<?php echo MY_COM_LIVE; ?>/css/style.IE7.css" rel="stylesheet" type="text/css" />
        <![endif]-->
        
		<!-- start MyBlog wrapper -->
		<div id="myblog">
            <div class="componentheading">MyBlog Dashboard</div>

			<!-- start tab navigation -->
			<div id="myblogTabNav">
	            <?php
				$cms =	&cmsInstance('CMSCore');
				$cms->load('libraries', 'table');
				$cms->load('helper','url');

				$html = new CMSHtml();
				$links = myGetDashboardLinks();
				$captions = myGetDashboardLinksTitle();

				echo $html->show_tabbed_nav($links, $captions, 0);
				?>
			</div>
			<!-- end tab navigation -->



			<!-- start New Entry button -->
			<div id="myblogNewEntryButton" class="myBlogTabBorder">
				<?php if($postingRights) : ?>
<?php
	$link	= rtrim($cms->get_path('live') ,'/') . '/index2.php?option=com_myblog&task=write&keepThis=true&TB_iframe=true&no_html=1&id=0';
	
	if(cmsVersion() == _CMS_JOOMLA15)
		$link	= rtrim($cms->get_path('live') ,'/') . '/index.php?option=com_myblog&tmpl=component&task=write&keepThis=true&TB_iframe=true&no_html=1&id=0';		
?>
				<a class="azbutton" onclick="myAzrulShowWindow('<?php echo $link;?>');" href="javascript:void(0);"><span>TPL_ADM_NEWENTRY</span></a>
				<?php else: ?>
				_MB_NO_POST
				<?php endif; ?>
			</div>
			<!-- end New Entry button -->

            <div class="contentheading">TPL_ADM_HEADING</div>
			<!-- start show all entries -->
			<div id="myblogEntryList">
				<?php
				$tmpl = array (

						'table_open'          => '<table border="0" cellpadding="4" cellspacing="0" width="100%">',

				        'heading_row_start'   => '<tr class="sectiontableheader">',
				        'heading_row_end'     => '</tr>',
				        'heading_cell_start'  => '<td class="sectiontableheader">',
				        'heading_cell_end'    => '</td>',

				        'row_start'           => '<tr  class="sectiontableentry1">',
				        'row_end'             => '</tr>',
				        'cell_start'          => '<td>',
				        'cell_end'            => '</td>',

				        'row_alt_start'       => '<tr class="sectiontableentry2">',
				        'row_alt_end'         => '</tr>',
				        'cell_alt_start'      => '<td>',
				        'cell_alt_end'        => '</td>',

				        'table_close'         => '</table>'
				  );

				$cms->table->set_template($tmpl);

				if ( $myentries ) {
					$cms->table->clear();
					$cms->table->set_heading('','TPL_ADM_TITLE', 'TPL_ADM_DATE','', '');
					foreach($myentries as $row){

					if($publishRights){
					    // User allowed to publish or unpublish.
						// publish/unpublished icon
						$onClick = "\"jax.call('myblog', 'myxTogglePublish', {$row->id});\"";
						if ($row->state == 1)
							$published = "<a href=\"javascript:void(0);\" onclick=$onClick><img id=\"pubImg{$row->id}\" src=\"".$cms->get_path('live')."/components/com_myblog/images/publish_g.png\" border=\"0\" alt=''/></a>";
						else
							$published = "<a href=\"javascript:void(0);\" onclick=$onClick><img id=\"pubImg{$row->id}\" src=\"".$cms->get_path('live')."/components/com_myblog/images/publish_x.png\" border=\"0\" alt=''/></a>";
					}else{
					    // User not allowed to publish or unpublish.
						if ($row->state == 1)
							$published = "<img src=\"".$cms->get_path('live')."/components/com_myblog/images/publish_g.png\" border=\"0\" alt=''/>";
						else
							$published = "<img src=\"".$cms->get_path('live')."/components/com_myblog/images/publish_x.png\" border=\"0\" alt=''/>";

					}

					// Format the date
					// PHP strftime format
					$row->created = cmsFormatDate($row->created,'%Y-%m-%d');

					$editlink = rtrim($cms->get_path('live'), '/') . '/index2.php?option=com_myblog&task=write&keepThis=true&TB_iframe=true&no_html=1&id=' . $row->id;
	
						// Action links
						if(cmsVersion() == _CMS_JOOMLA15)
							$editlink = rtrim($cms->get_path('live'), '/') . '/index.php?option=com_myblog&tmpl=component&task=write&keepThis=true&TB_iframe=true&no_html=1&id=' . $row->id;
						
						$deleteact = "if(!confirm('TPL_ADM_JSDELETE')) return false;";

						$deletelink = cmsSefAmpReplace('index.php?option=com_myblog&task=delete&id=' . $row->id);

						$titleLink	= '<a href="' . myGetPermalinkURL($row->id) . '" target="_blank">' . $row->title . '</a>';

						$cms->table->add_row($published, $titleLink . '<br /><span class="smallertext">TPL_ADM_HITS:'.$row->hits.' | TPL_ADM_COMMENTS: ' .$row->commentCount .'</span>', $row->created, '<a href="javascript:void(0);" onclick="myAzrulShowWindow(\''.$editlink.'\');">TPL_ADM_EDIT</a>', '<a href="'.$deletelink.'" onclick="'.$deleteact.'">TPL_ADM_DELETE</a>');
					}

					echo $cms->table->generate();
?>
					<form name="adminForm">
					<?php echo $pagination; ?>
					<input type="hidden" value="com_myblog" name="option" />
					<input type="hidden" value="adminhome" name="task" />
					<input type="hidden" value="<?php echo $limit; ?>" name="limitstart" />
					</form>
<?php
				} else {
					echo "TPL_ADM_NOBLOGS";
				}
				?>
			</div>
			<!-- end show all entries -->

		</div>
        <!-- end MyBlog wrapper -->
