<?php
$e = $entry;
?>
<style type="text/css">
<!--
h1{
	font-size:150%;
	line-height:150%;
}

body{
	margin: 20px;
}
-->
</style>
<script type="text/javascript">
if (document.addEventListener) {
  document.addEventListener("DOMContentLoaded", window.print(), false);
}

// for Internet Explorer (using conditional comments)
/*@cc_on @*/
/*@if (@_win32)
document.write("<script id=__ie_onload defer src=javascript:void(0)><\/script>");
var script = document.getElementById("__ie_onload");
script.onreadystatechange = function() {
  if (this.readyState == "complete") {
    window.print(); // call the onload handler
  }
};
/*@end @*/

</script>
<h1><?php echo $e['title']; ?></h1>
<hr/>
<p>
	<p>_MB_POSTED_BY: <?php echo $e['author']; ?> in <?php echo $e['categories']; ?> on
	<span class="post-date"><?php echo $e['createdFormatted']; ?></span>
  </p>
</p>
<br/>
<br/>
<p>
<?php echo $e['text']; ?>
</p>

<hr/>
