/**
* @version $Id: install.css 4698 2006-08-24 01:57:11Z stingrey $
* @package Joomla
* @copyright Copyright (C) 2005 Open Source Matters. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL, see LICENSE.php
* Joomla! is free software and parts of it may contain or be derived from the
* GNU General Public License or other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
body {
	margin: 0px;
	padding: 0px;
	color : #333333;
	background-color : #FFFFFF;
	font-size : 9pt;
	font-family : Arial, Helvetica, sans-serif;
}

#header {
	display:block;
	width: 100%;
	height: 34px;
	border: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	background-color: #FFFFFF;
	background-position: right top;
	border-bottom: 4px solid #C64934;
	background: url(header_bg.png);
	color: #FFFFFF;
	text-align: left;
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
}

#infoDisplay {
	display: none;
	width: 90%;
	min-height: 50px;
	border: thin solid #333333;
	background-color: #ffffcc;
	margin: 10px;
	margin-left: 5%;
}

#mainWrapper {
	display: block;
	border: thin solid #999999;
	background-color: #eeeeee;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
}

#container {
	width: 100%;
	background-color: #eeeeee;
	float: right;
	margin-left: -200px;	
}

#stepBar {
	width: 200px;
	float: left;
	left: 0px;
	background-color: #f0f0f0;
	border: thin solid #cccccc;
	margin: 3px;
	margin-top: 0px;
}

div.stepbar-on {
	display: block;
	width: 183px;
	padding: 8px 3px;
	margin: 3px;
	background-color: #ffffe9;
	border: 1px solid #9999aa;
	font-weight: bold;
	color: #006633;
}

div.stepbar-off {
	display: block;
	width: 183px;
	padding: 8px 3px;
	margin: 3px;
	background-color: #cccccc;
	border: 1px solid #999999;
	font-weight: bold;
	color: #999999;
}

#mainContent {
	margin: 3px;
	margin-left: 209px;
	background-color: #e9e9e9;
	border: thin solid #cccccc;
}

#clear {
	clear: both;
}

h1 {
	display: block;
	height: 64px;
	font-size: 24pt;
	font-weight: bold;
	padding-left: 72px;
	background: url(install_logo.png) top left no-repeat;
	margin: 2px;
	padding-top: 10px;
	margin-bottom: -10px;
}

h2 {
	color: #cc3333;
	border-bottom: thin solid #cc3333;
	margin: 0px;
	margin-top: 5px;
}

table {
	padding: 0px;
	border: none;
	width: 100%;
	font-size: 9pt;
}

table.block {
	margin-top: 2px;
}

td.left {
	width: 30%;
}

td.right {
	width: 70%;
	background-color: #eeeeee;
	padding: 3px;
	border: thin solid #999999;
}

th {
	font-weight: bold;
	color: #000000;
	text-align: left;
}

.green {
	color: #009900;
	font-weight: bold;
}

.red {
	color: #990000;
	font-weight: bold;
}

#buttons {
	text-align: right;
}

.button {
	color: #990000;
	width: 100px;
	height: 30px;
	border: thin solid #333333;
	cursor: pointer;
	font-weight: bold;
	font-size: 11pt;
	background-color: #eeeeff;
}

label {
	display: block;
	float: left;
	width: 49%;
	height: 1.2em;
	padding-top: 0.25em;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 0.2em;
}

label.check {
	display: inline;
	float: none;
}

input.text {
	display: inline;
	float: right;
	width: 50%;
	height: 1.2em;
	font-size: 10pt;
	border: thin solid #666666;
	margin-bottom: 0.2em;
 	color: #3333cc;
	font-family: monospace;
	font-weight: bold;
	font-size: 9pt;
}

table.config input.text {
	float: none;
	width: 100%;
	margin-bottom: 5px;
	font-family: sans-serif;
	height: 1.5em;
}

table.config td {
	font-weight: bold;
	font-size: 9pt;
}

input.check {
	display: inline;
	float: none;
}

#error{
	color: red;
	font-weight: bold;
	border: thin solid red;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: yellow;
 	display:none;
 	padding: 1em;
}

#Footer {
	display: block;
	width: 100%;
	background-color: #000000;
	text-align: center;
	font-size: 8pt;
	color: #eeeeee;
	height: 4em;
	padding-top: 1em;
	font-family: sans-serif;
}

#Footer p
{
	margin: 0px;
	padding: 0px;
}

#Footer a
{
	color: #ffffdd;
	text-decoration: none;
}