

div.hp_prop{
float: none !important;
width: auto  !important;
}


div.hp_prop .img_thumb{
float: right !important;
margin: 0px !important;
padding: 0px  !important;
width: 180px  !important;
}

div.hp_prop  div.inner-br{
padding: 15px;
}


div.hp_prop div.corner_br {
	padding: 10px 7px 10px 5px;
}


/* Blue color rounded boxes */
div.listing_t,
div.hp_prop_row1 div.wrap_t {
	background: url(../images/layout/rounded_top.gif) no-repeat top center;
	line-height: 26px;
}

div.listing_m,
div.hp_prop_row1 div.wrap_m {
	background: url(../images/layout/rounded_middle.gif) repeat-y top center;
}

div.listing_b,
div.hp_prop_row1 div.wrap_b {
	background: url(../images/layout/rounded_base.gif) no-repeat bottom center;
	padding: 15px;
}

div.hp_prop_row1 div.img_thumb div.inner-tl, 
div.hp_calendar div.inner-tl, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_tl.gif) no-repeat top left #fff;
}

div.hp_prop_row1 div.img_thumb div.inner-tr, div.hp_calendar div.inner-tr, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_tr.gif) no-repeat top right;
}

div.hp_prop_row1 div.img_thumb div.inner-bl, div.hp_calendar div.inner-bl, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_bl.gif) no-repeat bottom left;
}

div.hp_prop_row1 div.img_thumb div.inner-br, div.hp_calendar div.inner-br, 
div#TabPaneOne div.tab-page div.inner-tl {
	background: url(../images/layout/blue_inner_br.gif) no-repeat bottom right;
}

div.hp_prop_row1 a.book-button {
	background: url(../images/layout/white-shadow-button.gif) no-repeat;
}

div.hp_prop_row1 {
	color: #fff ;
}

/* White color rounded boxes */
div.hp_prop_row0 div.wrap_t {
	background: url(../images/layout/white-top.gif) no-repeat top center;
}

div.hp_prop_row0 div.wrap_m {
	background: url(../images/layout/white-slice.gif) repeat-y top center;
}

div.hp_prop_row0 div.wrap_b {
	background: url(../images/layout/white-bottom.gif) no-repeat bottom center;
	padding: 15px;
}

div.hp_prop_row0 div.img_thumb div.inner-tl {
	background: url(../images/layout/white_inner_tl.gif) no-repeat top left #02acac;
}

div.hp_prop_row0 div.img_thumb div.inner-tr {
	background: url(../images/layout/white_inner_tr.gif) no-repeat top right;
}

div.hp_prop_row0 div.img_thumb div.inner-bl {
	background: url(../images/layout/white_inner_bl.gif) no-repeat bottom left;
}

div.hp_prop_row0 div.img_thumb div.inner-br {
	background: url(../images/layout/white_inner_br.gif) no-repeat bottom right;
}

div.hp_prop_row0 a.book-button {
	background: url(../images/layout/blue-shadow-button.gif) no-repeat;
}

/*** Image styling ***/

div.hp_prop div.img_thumb img{
	border: 1px solid #aaa;
	background: #fff;
	padding: 3px;
}

/****************************************/


div.hp_prop_row0 {
	color: #02acac;
}


div.hp_prop_row0 div.hp_details h4 {
	color: #018d8d;
}

div.hp_prop_row0 a, div.hp_prop_row0 span a {
	font-weight: bold;
	text-decoration; underline;
}
div.hp_prop_row0 a {
	color: #018d8d;
}

div.booking_buttons{
	padding: 10px 5px;
}

div.hp_prop_row0 .booking_buttons a{
	color: #fff;
}

div.hp_prop_row1 a, div.hp_prop_row1 span a {
	font-weight: bold;
	text-decoration; underline;
}
div.hp_prop_row1 a {
	color: #FFFFFF !important ;
}

div.hp_prop_row1 div.hp_details h4 {
	color: #fff;
}

div.hp_prop_row1 .booking_buttons a{
	color: #018d8d;
}

div.hp_details {
	float:none !important;
	padding-left: 0px !important;
}

div.hp_more {
	margin: 0px;
	width: 510px;
	float: left;
	
}

div.hp_more ul {
	float:left;
	list-style-image:none;
	list-style-position:outside;
	margin:0 0 0 13px;
	padding:0;
	width:650px;
}
 
div.hp_more li {
	float:left;
	margin:0;
	padding:0;
	width:290px;
}




div.hp_prop_heading {
   float: left;
}

div.prop_heading h2 {
	color: #fff;
	font-size: 150%;
	margin-top:15px;
}

div.hp_calendar {
	float: right;
	margin-top: 15px;
}

div.hp_gallery {
	margin: 5px;
}

div.hp_listing {
	float: left;
	width: 440px;
	margin-top:15px;
}

div.hp_calendar div.inner-br {
}

/*********** Tabs **************/

div.tabs-menu {
	margin-top: 15px;
}

div#TabPaneOne {
	width: 725px;
}
.dynamic-tab-pane-control .tab-page div.inner_tl, .hp_gallery div.inner_tl {
	background: url(../images/layout/blue_inner_tl.gif) no-repeat top left #fff;
}

.dynamic-tab-pane-control .tab-page div.inner_tr, .hp_gallery div.inner_tr {
	background: url(../images/layout/blue_inner_tr.gif) no-repeat top right;
}

.dynamic-tab-pane-control .tab-page div.inner_bl, .hp_gallery div.inner_bl {
	background: url(../images/layout/blue_inner_bl.gif) no-repeat bottom left;
}

.dynamic-tab-pane-control .tab-page div.inner_br, .hp_gallery div.inner_br {
	background: url(../images/layout/blue_inner_br.gif) no-repeat bottom right;
	padding: 10px;
}

.dynamic-tab-pane-control .tab-page div.inner_br p {
	margin: 0px !important;
}

.dynamic-tab-pane-control .tab-row .tab {
	width: auto !important;
	overflow: visible !important;
}

.dynamic-tab-pane-control .tab-page {
	padding: 0px !important;
	border: none !important;
}

.dynamic-tab-pane-control .tab-row {
	margin-left: 7px;
}


.dynamic-tab-pane-control .tab-row h2 {
	background:transparent url(../images/layout/mostabs-r.gif) no-repeat right top !important;
	height:27px !important;
	line-height:30px !important;
	padding:0px !important;
	margin:  0px 0px 3px 4px !important;
}

.dynamic-tab-pane-control .tab-row .selected {
	margin:  2px 0px 0px 4px !important;
	overflow: visible;
 	width: auto !important;
}

.dynamic-tab-pane-control .tab-row a {
	background:transparent url(../images/layout/mostabs-l.gif) no-repeat left top !important;
	padding: 7px 8px 0px !important;
	display: block;
}

div.hp_prop_row0 a.book-button,
div.hp_prop_row1 a.book-button {
	color:#FFFFFF;
	display:block;
	float:left;
	height:32px;
	line-height:29px;
	text-align:center;
	width:68px;
	z-index:0;
}



div.fulltext {
	margin-top:30px;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bold;
}

div.prop_heading {
	margin-top: 15px;
}


/*login*/

div#vmMainPage #login{
	border:1px solid #ABABAB;
	padding:24px 35px 30px 14px;
	bottom: 30px;
}

div#vmMainPage #login form .contentpane {
background-image:url(/images/stories/dolphin.annamaria.com.jpg) !important;
height: 245px;
}

div#vmMainPage #login form{

}

a#backButton2{
	margin-left: 20px;
	margin-top: 10px;
}



