/* CSS Document */

/* My Blog header */
#myBlog-wrap h1,
#myBlog-wrap h2,
#myBlog-wrap h3,
#myBlog-wrap p,
#myBlog-wrap ul,
#myBlog-wrap #myBlog-head li,
#myBlog-wrap hr {
	margin: 0;
	padding: 0;
}
#myBlog-wrap h1 {
	padding: 10px 0 0 20px;
}
#myBlog-wrap h2 {
	padding: 0 0 7px 20px;
	color: #999;
	background:none;
	font-size: 18px;
}

/* My Blog Header */
#myBlog-wrap #myBlog-head {
	margin-bottom: 10px;
	height:83px;
	background: transparent url(images/blog-header.jpg) no-repeat top left;
}

#myBlog-wrap #myBlog-head h1{
	color: #FFFFFF;
}

/* MyBlog Toolbar */
#myBlog-wrap #myBlog-toolbar ul, #myBlog-head ul {
	padding: 5px 5px 3px 10px;
	background: transparent url(images/tab-bg.gif) repeat-x bottom left;
}
#myBlog-wrap #myBlog-toolbar li {
	list-style: none;
	display: inline;
	padding-left: 0px;
	background:none;
	text-transform: uppercase;
	font-size: 11px;
}
#myBlog-wrap #myBlog-toolbar li a {
	text-decoration: none;
	color: #fff;
	padding: 3px 10px 2px 10px;
	border-bottom: 0;
	background: none;
}
#myBlog-wrap #myBlog-toolbar li.blogActive a {
    background: transparent url(images/tab-active.gif) repeat-x top left;
}
#myBlog-wrap #myBlog-toolbar li a:hover,
#myBlog-wrap #myBlog-toolbar li#blogActive a {
	background: #9DA4B0;
}





.socialBookmark {
	border: 1px solid #999999;
}

.myTopContent{
	padding: 16px;
	display: block;
	border: 1px dotted #DFDFCC;
	text-align: center;
	background-color: #F8F8F3;
	margin-top: 4px;
	margin-bottom: 4px;
}

.smallerPad {
	padding: 4px;
}

.filterLabel {
	color:grey;
	font-weight:bold;
}

.filterData {
	color:grey;
}

div.entrySeperator {
	border-top:1px solid #d4d4d4;
	margin: 2px 0px 2px 0px;
	overflow:hidden;
	height:1px;
}


.statusMsg {
	color: red;
	font-family: "Trebuchet MS", Verdana;
}


div.myblog_fv_toolbar{
	border:0px solid #666699;
	height:20px;
	line-height:20px;
	padding-left:5px;
}

div.myblog_fv_toolbar a {
	text-decoration:none !important;
}

div.myblog_fv_toolbar a:hover {
	text-decoration:none !important;
}

div.myblog_fv_toolbar span:hover{
	text-decoration:underline;
}

div.myblog_fv_toolbar span.homeLink { 
	font-weight: bold; 
	background-image: url('images/home.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.categoryLink { 
	font-weight: bold; 
	background-image: url('images/tagcloud.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}
div.myblog_fv_toolbar span.searchLink { 
	font-weight: bold; 
	background-image: url('images/search.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
} 
div.myblog_fv_toolbar span.dashboardLink { 
	font-weight: bold; 
	background-image: url('images/Edit2_16x16.png');      
	background-position: top left; 
	background-repeat: no-repeat; 
	padding-left:20px;
	padding-bottom:3px;
	margin-left:5px;
}

div.myblog_fv_toolbar span.rssFeedLink {
	padding-left: 20px;
	background-image: url('images/feed-icon-16x16.gif');
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: bold; 
	margin-left:5px;
	padding-bottom:3px;
}


/** ENTRY STUFF **/
.blogsContainer{
	color:#999999; 
	font-family:Trebuchet MS,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:20px 10px 0px 10px;
}

.blogsContainer h2{
	color:#FFF;
}


.blogsContainer .entryContent{

}

.blogsContainer .entryContent h2, h2.pagetitle{
	background:none;
	padding:0px 0px 0px 45px;
}
.blogsContainer .entryContent h2 a, h2.pagetitle a{
font-weight:bold; text-transform:uppercase; font-size:14px;}

.entryContent {
	width: 100%; /* RESIZEABLE AREA */
	padding-bottom:25px;
	overflow:hidden;
}
.entryContent a 					{text-decoration:none;}
.entryContent a:link, .entryContent a:visited 	{ font-weight:bold; text-transform:uppercase; font-size:10px;}
.entryContent a:hover				{color:#555;}
.entryContent h2 {
	font: 1.4em Arial, Helvetica, sans-serif; 
	text-transform: none; 
	background: url(images/icon_entry.gif) 24px 50% no-repeat; 
	padding: 9px 100px 12px 42px;
	margin:0px;
}

.entry {
	line-height: 1.6;
}

.entryContent small a:link,
.entryContent small a:visited{
	color:#e8e5da;
}

.entryContent small a:hover{
	color:#FFF;
}

/*---DATE FORMAT--*/
.entryContent .published {
	display:block;
	text-align: center;
	float:left;
	width:47px;
	color:#eee;
	background-color:#333;
	border:0px solid #111;
margin-right:10px;
margin-bottom:5px;
margin-left:0;
}

.entryContent .pub-month{
	padding: 6px 0px 0px 0px;
	background: #464545;
}
.entryContent .pub-month {
	display:block;
	font-size:14px;
	margin:0;
	color:#eee;
	line-height:normal;
}
.entryContent .pub-date {
	display:block;
	font-size:1.2em;
	font-weight:bold;
	border:none;
	padding:0px 0px 6px 0px;
	line-height:normal;
}
.entryContent blockquote{
	background-color:#252525;
	color:#eee;
	padding: 10px 10px 10px 20px;
	margin:0px;
	border-left: 5px solid #333;
}

.entryContent .clear {
	clear: both; 
}

.entry-body br{
	clear:both;
}

div.userAvatar{
	float:right;
}




/** END ENTRY STUFF **/

/** PAGINATION **/
.my-pagenav{
	text-align:center;
}


/** List of all blogs section **/
div.blogList{
}

div.blogList .avatar_container {
}

div.blogList .avatar_image {
	position: static !important;
}

div.blogList .blogTitle {
	font-weight:bold;
}

div.blogList .updated {
	color: #666666;
	font-size: 0.9em;
	font-weight: bold;
}
div.blogList .blogDesc {
	margin:0pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.blogList .blogStats {
	font-size: 0.9em;
	margin:0pt;
	padding:0pt;
}

div.blogList .blogStats .numEntries_image{
	padding-right:3px;
}

table.blogInfo
{
	padding:15px 0px 10px 5px;
}
table.blogInfo td.avatar{
	padding-right:15px;
	padding-top:5px;
}
table.blogInfo td.description{
	padding-top:5px;
}

.onAfterPrepareContent, .onBeforePrepareContent{
	padding:5px 0px;
}



/** tag cloud style **/
#myBlog-wrap a.tag1 ,
#myBlog-wrap a.tag2 ,
#myBlog-wrap a.tag3 ,
#myBlog-wrap a.tag4 ,
#myBlog-wrap a.tag5 ,
#myBlog-wrap a.tag6 ,
#myBlog-wrap a.tag7 ,
#myBlog-wrap a.tag8 ,
#myBlog-wrap a.tag9 {
list-style: none;
display: inline;
padding-left:4px;
padding-right:4px;
background: none;
text-align:center;
line-height:100%;
}
#myBlog-wrap a.tag1 {
font-size:90%;
font-weight:normal;
}
#myBlog-wrap a.tag2 {
font-size:100%;
font-weight:normal;
}
#myBlog-wrap a.tag3 {
font-size:125%;
font-weight:normal;
}
#myBlog-wrap a.tag4 {
font-size:150%;
font-weight:normal;
}
#myBlog-wrap a.tag5 {
font-size:175%;
font-weight:normal;
}
#myBlog-wrap a.tag6 {
font-size:200%;
font-weight:bold;
}
#myBlog-wrap a.tag7 {
font-size:225%;
font-weight:bold;
}
#myBlog-wrap a.tag8 {
font-size:250%;
font-weight:bold;
}
#myBlog-wrap a.tag9 {
font-size:265%;
font-weight:bold;
}

